# Default owners
*                                                                 @agrare @jaywcarman @blancett @Fryguy

# Power Systems Virtual Servers
/app/models/manageiq/providers/ibm_cloud/power_virtual_servers/   @agrare @jaywcarman @iv1111 @Kuldip-Nanda
/spec/models/manageiq/providers/ibm_cloud/power_virtual_servers/  @agrare @jaywcarman @iv1111 @Kuldip-Nanda
