---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBM_CLOUD_VPC_API_KEY&response_type=cloud_iam
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - b1c9ae9a87f94b3d9357597c954be94c
      Content-Type:
      - application/json
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDQyMDE4MzYiLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwiaWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiOTVmMjlmMDYtMTE3Yy00YWEzLTg4ZGYtYzRiNGU4MWY1ZTRjIiwiaWRlbnRpZmllciI6IjI3MDAwMVhOTkYiLCJnaXZlbl9uYW1lIjoiSmFyZWQiLCJmYW1pbHlfbmFtZSI6Ik1vb3JlIiwibmFtZSI6IkphcmVkIE1vb3JlIiwiZW1haWwiOiJqYXJlZG1AY2EuaWJtLmNvbSIsInN1YiI6ImphcmVkbUBjYS5pYm0uY29tIiwiYXV0aG4iOnsic3ViIjoiamFyZWRtQGNhLmlibS5jb20iLCJpYW1faWQiOiJpYW0tMjcwMDAxWE5ORiIsIm5hbWUiOiJKYXJlZCBNb29yZSIsImdpdmVuX25hbWUiOiJKYXJlZCIsImZhbWlseV9uYW1lIjoiTW9vcmUiLCJlbWFpbCI6ImphcmVkbUBjYS5pYm0uY29tIn0sImFjY291bnQiOnsidmFsaWQiOnRydWUsImJzcyI6ImM1NmM5YTI2OGQyM2UxYjMzOWFjMTQ3NzQzNTgxMzNjIiwiaW1zX3VzZXJfaWQiOiI3MjI2NTkxIiwiZnJvemVuIjp0cnVlLCJpbXMiOiIxMTYwNDQ3In0sImlhdCI6MTYyMDE0NTg2NSwiZXhwIjoxNjIwMTQ5NDY1LCJpc3MiOiJodHRwczovL2lhbS5jbG91ZC5pYm0uY29tL2lkZW50aXR5IiwiZ3JhbnRfdHlwZSI6InVybjppYm06cGFyYW1zOm9hdXRoOmdyYW50LXR5cGU6YXBpa2V5Iiwic2NvcGUiOiJpYm0gb3BlbmlkIiwiY2xpZW50X2lkIjoiZGVmYXVsdCIsImFjciI6MSwiYW1yIjpbInB3ZCJdfQ.tFlPXfK8h5qE5XNQ2LgNZIVCgcyHIH6tFbzWUSObV9ytkYXopVwPiPofAoXo5n0su686Y3ogGooBnl-lrYpouaVpjGAa3XmNEm-ZHUDXrk36RgA1xcR6Dfrw4kRnvf9t5nmoJS0gpkUAmeFCQ5H2CVLhw-9vh6bMzBO0be-VFeGdV7hSYT_eBSTkmbshy9R0UVY7F9YJuSRCJmuCopWge7xFSYwQsBBaV1Hdpj5cLFnwvwu41y8QkeKBPxhZuEWDDnfZpCRyNIYORJmB2qF82-UJqLFMqyLMxMju0kvzOSigQpg1qalfiECL0W5ivqyXQorslLLuaJgnzq2OXNhMgg","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102462800,"scope":"ibm
        openid"}'
  recorded_at: Tue, 04 May 2021 16:31:08 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/floating_ips?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_floating_ips
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips?limit=50"},"total_count":5,"floating_ips":[{"id":"r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::floating-ip:r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips/r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","address":"127.0.0.14","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692","status":"available","created_at":"2020-03-31T02:16:02Z","zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"},"target":{"resource_type":"public_gateway","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692","id":"r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4"},"resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"}},{"id":"r014-1892eee4-79ab-4d26-8efd-4c5759fc03fc","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::floating-ip:r014-1892eee4-79ab-4d26-8efd-4c5759fc03fc","href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips/r014-1892eee4-79ab-4d26-8efd-4c5759fc03fc","address":"127.0.0.80","name":"im-floating-ip","status":"available","created_at":"2021-05-03T20:15:17Z","zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"},"target":{"resource_type":"network_interface","primary_ipv4_address":"127.0.0.5","name":"eth0","id":"0777-2f20fad9-dea8-4f28-ac7b-8d1b77a3230d","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_a9ee9e6a-231a-4a3c-b9cb-fc83d25114a2/network_interfaces/0777-2f20fad9-dea8-4f28-ac7b-8d1b77a3230d"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}},{"id":"r014-9a16abf0-4c41-4fc6-96ba-dc162bcfd507","crn":"crn:v1:bluemix:public:is:us[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/vpcs?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_vpcs
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs?limit=50"},"total_count":2,"vpcs":[{"id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc","status":"available","classic_access":false,"created_at":"2020-10-23T20:05:11Z","default_network_acl":{"id":"r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","name":"moving-perfected-sprang-isolation"},"default_routing_table":{"id":"r014-05bca06d-0ada-4941-8cd6-d641610f628d","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3/routing_tables/r014-05bca06d-0ada-4941-8cd6-d641610f628d","name":"refute-dotted-lethargic-snowbound-online-matron","resource_type":"routing_table"},"default_security_group":{"id":"r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","name":"backup-deglazed-bagful-deflation"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"},"cse_source_ips":[{"ip":{"address":"127.0.0.211"},"zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"}},{"ip":{"address":"127.0.0.5"},"zone":{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2"}},{"ip":{"address":"127.0.0.248"},"zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"}}]},{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-e[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/subnets?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_subnets
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/subnets?limit=50"},"total_count":4,"subnets":[{"id":"0757-ef523a2f-5356-42ff-8a78-9325509465b9","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0757-ef523a2f-5356-42ff-8a78-9325509465b9","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0757-ef523a2f-5356-42ff-8a78-9325509465b9","name":"b-subneet-washington-dc-1","resource_type":"subnet","available_ipv4_address_count":250,"ipv4_cidr_block":"127.0.0.0/24","ip_version":"ipv4","zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"},"vpc":{"id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc"},"status":"available","total_ipv4_address_count":256,"created_at":"2020-10-23T20:08:07Z","network_acl":{"id":"r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","name":"moving-perfected-sprang-isolation"},"public_gateway":{"id":"r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","name":"pgw-78648670-156b-11eb-b106-4d01d2f29e8a","resource_type":"public_gateway"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"},"routing_table":{"id":"r014-05bca06d-0ada-4941-8cd6-d641610f628d","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3/routing_tables/r014-05bca06d-0ada-4941-8cd6-d641610f628d","name":"refute-dotted-lethargic-snowbound-online-matron","resource_type":"routing_table"}},{"id":"0767-14d27cd3-66c4-429c-8ab7-6b0e948d345a","crn":"crn:v1:bluemix:public:is:us-east-2:a/c56c9a268d23e1b339ac14774358133c::subnet:0767-14d27cd3-66c4-429c-8ab7-6b0e948d345a","href":"https://us-east.iaas.c[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/security_groups?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_security_groups
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups?limit=50"},"total_count":2,"security_groups":[{"id":"r014-117c294f-0f30-4541-bfb8-8bba188d52e0","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-117c294f-0f30-4541-bfb8-8bba188d52e0","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0","name":"nebulizer-bobtail-hacked-yield-linseed-sandpit","rules":[{"id":"r014-287518c2-9046-4827-89a8-31f52c9f1ef3","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-287518c2-9046-4827-89a8-31f52c9f1ef3","direction":"outbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","direction":"inbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-942705b8-da85-4bb2-8528-c44369ada6bf","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-942705b8-da85-4bb2-8528-c44369ada6bf","direction":"inbound","ip_version":"ipv4","protocol":"icmp","type":8,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a1417a26-6392-4066-923d-e767914befb8","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a1417a26-6392-4066-923d-e767914befb8","direction":"inbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","direction":"outbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}}],"network_interfaces":[{"id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface"},{"id":"0777-e49a3cd0-c834-421c-bf02-296d14861fca","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_8dcba0a5-ab24-4379-b0c6-3d32900c86d8/network_interfaces/0777-e49a3cd0-c834-421c-bf02-296d14861fca","name":"eth0","primary_ipv4_address":"127.0.0.7","resource_type":"network_interface"},{"id":"0777-4b0566a4-7623-4578-b316-978922010b81","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_f73e8687-3813-465f-99df-ba6e4ee8f289/network_interfaces/0777-4b0566a4-7623-4578-b316-978922010b81","name":"eth0","primary_ipv4_address":"127.0.0.6","resource_type":"network_interface"},{"id":"0777-2f20fad9-dea8-4f28-ac7b-8d1b77a3230d","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_a9ee9e6a-231a-4a3c-b9cb-fc83d25114a2/network_interfaces/0777-2f20fad9-dea8-4f28-ac7b-8d1b77a3230d","name":"eth0","primary_ipv4_address":"127.0.0.5","resource_type":"network_interface"}],"targets":[{"id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","resource_type":"network_interface"},{"id":"0777-e49a3cd0-c834-421c-bf02-296d14861fca","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_8dcba0a5-ab24-4379-b0c6-3d32900c86d8/network_interfaces/0777-e49a3cd0-c834-421c-bf02-296d14861fca","name":"eth0","resource_type[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_region_zones
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zones":[{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"}]}

        '
  recorded_at: Tue, 04 May 2021 16:31:13 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/keys?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_keys
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","name":"random_key_0","public_key":"RSA:
        VVVVVV","type":"rsa","length":4096,"created_at":"2020-03-31T02:20:17Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}},{"id":"r014-14c6c21a-a33d-4323-863b-439561483102","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-14c6c21a-a33d-4323-863b-439561483102","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-14c6c21a-a33d-4323-863b-439561483102","fingerprint":"SHA256:xxxxxxx","name":"random_key_1","public_key":"RSA:
        VVVVVV","type":"rsa","length":2048,"created_at":"2020-10-23T20:17:00Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}}]}'
  recorded_at: Tue, 04 May 2021 16:31:13 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instance/profiles?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_instance_profiles
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"profiles":[{"bandwidth":{"type":"fixed","value":4000},"disks":[],"family":"balanced","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","memory":{"type":"fixed","value":8},"name":"bx2-2x8","os_architecture":{"default":"amd64","type":"enum","values":["amd64"]},"port_speed":{"type":"fixed","value":16000},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":2}},{"bandwidth":{"type":"fixed","value":4000},"disks":[{"quantity":{"type":"fixed","value":1},"size":{"type":"fixed","value":75},"supported_interface_types":{"default":"virtio_blk","type":"enum","values":["virtio_blk"]}}],"family":"balanced","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2d-2x8","memory":{"type":"fixed","value":8},"name":"bx2d-2x8","os_architecture":{"default":"amd64","type":"enum","values":["amd64"]},"port_speed":{"type":"fixed","value":16000},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":2}},{"bandwidth":{"type":"fixed","value":8000},"disks":[],"family":"balanced","hre[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/images?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_images
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/images?limit=50"},"limit":50,"next":{"href":"https://us-east.iaas.cloud.ibm.com/v1/images?start=eyJDcmVhdGVkQXQiOiIyMDE5LTA3LTE4VDAwOjAwOjAwWiIsIklEIjoicjAxNC05MzE1MTVkMi1mY2MzLTExZTktODk2ZC0zYmFhMjc5NzIwMGYifQ\u0026limit=50"},"images":[{"id":"r014-e7afd7cc-005c-4da5-bca8-0d32e4d7da41","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-e7afd7cc-005c-4da5-bca8-0d32e4d7da41","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-e7afd7cc-005c-4da5-bca8-0d32e4d7da41","name":"ibm-redhat-8-3-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2021-04-16T21:42:58Z","file":{"checksums":{"sha256":"ebd751dba71290013bf5624187ba616a542965c17920b6985868e44f8ed088e7"},"size":1},"operating_system":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/red-8-amd64","name":"red-8-amd64","architecture":"amd64","display_name":"Red
        Hat Enterprise Linux 8.x - Minimal Install (amd64)","family":"Red Hat Enterprise
        Linux","vendor":"Red Hat","version":"8.x - Minimal Install","dedicated_host_only":false},"status":"available","visibility":"public","encryption":"none","status_reasons":[],"type":"provider_managed"},{"id":"r014-502f9d22-f951-4d07-b024-cc92ed177782","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-502f9d22-f951-4d07-b024-cc92ed177782","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-502f9d22-f951-4d07-b024-cc92ed177782","name":"ibm-redhat-7-9-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2021-04-16T21:42[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/images?generation=2&start=eyJDcmVhdGVkQXQiOiIyMDE5LTA3LTE4VDAwOjAwOjAwWiIsIklEIjoicjAxNC05MzE1MTVkMi1mY2MzLTExZTktODk2ZC0zYmFhMjc5NzIwMGYifQ&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_images
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    header[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_instances
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances?limit=50"},"instances":[{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b-tjfj7"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/volume_attachments/0757-83905f2c-9df0-46b2-98c2-f60c7093276b","id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::volume:r014-6f60f567-4441-4068-bb61-2eaa257937bb","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-6f60f567-4441-4068-bb61-2eaa257937bb","id":"r014-6f60f567-4441-4068-bb61-2eaa257937bb","name":"jm--test-2-boot","resource_type":"volume"}},"created_at":"2021-04-14T20:18:38Z","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::instance:0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","disks":[],"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","id":"0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","image":{"crn":"crn:v1:bluemix:public:is:us-east:::image:99edcc54-c513-4d46-9f5b-36243a1e50e2","href":"https://us-east.iaas.cloud.ibm.com/v1/images/99edcc54-c513-4d46-9f5b-36243a1e50e2","id":"99edcc54-c513-4d46-9f5b-36243a1e50e2","name":"ibm-centos-7-0-64","resource_type":"image"},"memory":8,"name":"jm--test-2","network_interfaces":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/network_interfaces/0757-1b291915-11c5-4257-88d6-f6c643a8d330","id":"0757-1b291915-11c5-4257-88d6-f6c643a8d330","name":"eth0","primary_ipv4_address":"127.0.0.5","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0757-ef523a2f-5356-42ff-8a78-9325509465b9","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0757-ef523a2f-5356-42ff-8a78-9325509465b9","id":"0757-ef523a2f-5356-42ff-8a78-9325509465b9","name":"b-subneet-washington-dc-1","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/network_interfaces/0757-1b291915-11c5-4257-88d6-f6c643a8d330","id":"0757-1b291915-11c5-4257-88d6-f6c643a8d330","name":"eth0","primary_ipv4_address":"127.0.0.5","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0757-ef523a2f-5356-42ff-8a78-9325509465b9","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0757-ef523a2f-5356-42ff-8a78-9325509465b9","id":"0757-ef523a2f-5356-42ff-8a78-9325509465b9","name":"b-subneet-washington-dc-1","resource_type":"subnet"}},"profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","name":"bx2-2x8","resource_type":"instance_profile"},"resource_group":{"crn":"crn:v1:bluemix:public:resource-controller::a/c56c9a268d23e1b339ac14774358133c::resource-group:345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","startable":true,"status":"running","status_reasons":[],"vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b-tjfj7"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/volume_attachments/0757-83905f2c-9df0-46b2-98c2-f60c7093276b","id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::volume:r014-6f60f567-4441-4068-bb61-2eaa257937bb","href":"https://us-eas[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/initialization?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance_initialization
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","name":"random_key_0","resource_type":"key","public_key":"RSA:
        VVVVVV"}]}'
  recorded_at: Tue, 04 May 2021 16:31:18 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-6f60f567-4441-4068-bb61-2eaa257937bb?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_volume
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
[...]
