---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBMCVS_API_KEY&response_type=cloud_iam
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - ce611eead3e644e4bc5ea24ae043a59a
      Content-Type:
      - application/json
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDEyMDE4MzUiLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwiaWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiZWEzMGI5NzUtNDE4OC00NmEzLTlhOTItZWJlYzYyZmFkYmRmIiwiaWRlbnRpZmllciI6IjI3MDAwMVhOTkYiLCJnaXZlbl9uYW1lIjoiSmFyZWQiLCJmYW1pbHlfbmFtZSI6Ik1vb3JlIiwibmFtZSI6IkphcmVkIE1vb3JlIiwiZW1haWwiOiJqYXJlZG1AY2EuaWJtLmNvbSIsInN1YiI6ImphcmVkbUBjYS5pYm0uY29tIiwiYWNjb3VudCI6eyJ2YWxpZCI6dHJ1ZSwiYnNzIjoiYzU2YzlhMjY4ZDIzZTFiMzM5YWMxNDc3NDM1ODEzM2MiLCJpbXNfdXNlcl9pZCI6IjcyMjY1OTEiLCJmcm96ZW4iOnRydWUsImltcyI6IjExNjA0NDcifSwiaWF0IjoxNjEzNTg0OTg5LCJleHAiOjE2MTM1ODg1ODksImlzcyI6Imh0dHBzOi8vaWFtLmNsb3VkLmlibS5jb20vaWRlbnRpdHkiLCJncmFudF90eXBlIjoidXJuOmlibTpwYXJhbXM6b2F1dGg6Z3JhbnQtdHlwZTphcGlrZXkiLCJzY29wZSI6ImlibSBvcGVuaWQiLCJjbGllbnRfaWQiOiJkZWZhdWx0IiwiYWNyIjoxLCJhbXIiOlsicHdkIl19.ED3Pc5Knt--5E4mge7hIHjXWYBKP0Hnwr0SsDJegyEPe5T5qPW6CwlbcDxLTGTz0ct92_h9nzuxMqH28dUvEsq_tvY02SFo2E2B-WvNzSNPaE3uh1-7YGlFy8oZXaNJOgWjR9vFdBIfYR1058VsRBmfXq8GHTqzTm_Fv_WvK-EI-XK-mwCpuF2u4u2dsq6NP_A-k_LHSG4N1NdCdZpmk1om_QP3osp6lpzEbQhJMrO6cu4GuMzaV1ojtDUCvIHd2zOJpwpKd6K4xzL4w6q5-XrHzTa87SjxxxDLORDkK_KjGB2oKxW0ztSRYjL5KMmeRVmU_zZlroT2Cn7NYPSjyYQ","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102462800,"scope":"ibm
        openid"}'
  recorded_at: Wed, 17 Feb 2021 18:03:12 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/floating_ips?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_floating_ips
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ef0cbe11ff0bb53
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips?limit=50"},"total_count":4,"floating_ips":[{"id":"r014-9a16abf0-4c41-4fc6-96ba-dc162bcfd507","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::floating-ip:r014-9a16abf0-4c41-4fc6-96ba-dc162bcfd507","href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips/r014-9a16abf0-4c41-4fc6-96ba-dc162bcfd507","address":"127.0.0.142","name":"pgw-78648670-156b-11eb-b106-4d01d2f29e8a","status":"available","created_at":"2020-10-23T20:08:09Z","zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"},"target":{"resource_type":"public_gateway","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","name":"pgw-78648670-156b-11eb-b106-4d01d2f29e8a","id":"r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}},{"id":"r014-a6fb7442-6742-4a14-b200-f32843c6f143","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::floating-ip:r014-a6fb7442-6742-4a14-b200-f32843c6f143","href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips/r014-a6fb7442-6742-4a14-b200-f32843c6f143","address":"127.0.0.165","name":"pgw-108be660-156b-11[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/vpcs?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_vpcs
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 154162d53fe3faec
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs?limit=50"},"total_count":2,"vpcs":[{"id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc","status":"available","classic_access":false,"created_at":"2020-10-23T20:05:11Z","default_network_acl":{"id":"r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","name":"moving-perfected-sprang-isolation"},"default_routing_table":{"id":"r014-05bca06d-0ada-4941-8cd6-d641610f628d","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3/routing_tables/r014-05bca06d-0ada-4941-8cd6-d641610f628d","name":"refute-dotted-lethargic-snowbound-online-matron","resource_type":"routing_table"},"default_security_group":{"id":"r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","name":"backup-deglazed-bagful-deflation"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"},"cse_source_ips":[{"ip":{"address":"127.0.0.211"},"zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"}},{"ip":{"address":"127.0.0.5"},"zone":{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2"}},{"ip":{"address":"127.0.0.248"},"zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"}}]},{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-e[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/subnets?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_subnets
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 59619a26cee31800
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/subnets?limit=50"},"total_count":4,"subnets":[{"id":"0757-ef523a2f-5356-42ff-8a78-9325509465b9","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0757-ef523a2f-5356-42ff-8a78-9325509465b9","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0757-ef523a2f-5356-42ff-8a78-9325509465b9","name":"b-subneet-washington-dc-1","resource_type":"subnet","available_ipv4_address_count":251,"ipv4_cidr_block":"127.0.0.0/24","ip_version":"ipv4","zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"},"vpc":{"id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc"},"status":"available","total_ipv4_address_count":256,"created_at":"2020-10-23T20:08:07Z","network_acl":{"id":"r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","name":"moving-perfected-sprang-isolation"},"public_gateway":{"id":"r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","name":"pgw-78648670-156b-11eb-b106-4d01d2f29e8a","resource_type":"public_gateway"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"},"routing_table":{"id":"r014-05bca06d-0ada-4941-8cd6-d641610f628d","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3/routing_tables/r014-05bca06d-0ada-4941-8cd6-d641610f628d","name":"refute-dotted-lethargic-snowbound-online-matron","resource_type":"routing_table"}},{"id":"0767-14d27cd3-66c4-429c-8ab7-6b0e948d345a","crn":"crn:v1:bluemix:public:is:us-east-2:a/c56c9a268d23e1b339ac14774358133c::subnet:0767-14d27cd3-66c4-429c-8ab7-6b0e948d345a","href":"https://us-east.iaas.c[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/security_groups?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_security_groups
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 433b918a80f62800
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups?limit=50"},"total_count":2,"security_groups":[{"id":"r014-117c294f-0f30-4541-bfb8-8bba188d52e0","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-117c294f-0f30-4541-bfb8-8bba188d52e0","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0","name":"nebulizer-bobtail-hacked-yield-linseed-sandpit","rules":[{"id":"r014-287518c2-9046-4827-89a8-31f52c9f1ef3","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-287518c2-9046-4827-89a8-31f52c9f1ef3","direction":"outbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","direction":"inbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-942705b8-da85-4bb2-8528-c44369ada6bf","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-942705b8-da85-4bb2-8528-c44369ada6bf","direction":"inbound","ip_version":"ipv4","protocol":"icmp","type":8,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a1417a26-6392-4066-923d-e767914befb8","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a1417a26-6392-4066-923d-e767914befb8","direction":"inbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","direction":"outbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}}],"network_interfaces":[{"id":"0777-4b0566a4-7623-4578-b316-978922010b81","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_f73e8687-3813-465f-99df-ba6e4ee8f289/network_interfaces/0777-4b0566a4-7623-4578-b316-978922010b81","name":"eth0","primary_ipv4_address":"127.0.0.6","resource_type":"network_interface"},{"id":"0777-e49a3cd0-c834-421c-bf02-296d14861fca","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_8dcba0a5-ab24-4379-b0c6-3d32900c86d8/network_interfaces/0777-e49a3cd0-c834-421c-bf02-296d14861fca","name":"eth0","primary_ipv4_address":"127.0.0.7","resource_type":"network_interface"},{"id":"0777-2f20fad9-dea8-4f28-ac7b-8d1b77a3230d","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_a9ee9e6a-231a-4a3c-b9cb-fc83d25114a2/network[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_region_zones
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zones":[{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"}]}

        '
  recorded_at: Wed, 17 Feb 2021 18:03:17 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/keys?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_keys
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 45999c64a3724431
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","name":"random_key_0","public_key":"RSA:
        VVVVVV","type":"rsa","length":4096,"created_at":"2020-03-31T02:20:17Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}},{"id":"r014-14c6c21a-a33d-4323-863b-439561483102","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-14c6c21a-a33d-4323-863b-439561483102","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-14c6c21a-a33d-4323-863b-439561483102","fingerprint":"SHA256:xxxxxxx","name":"random_key_1","public_key":"RSA:
        VVVVVV","type":"rsa","length":2048,"created_at":"2020-10-23T20:17:00Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}}]}'
  recorded_at: Wed, 17 Feb 2021 18:03:18 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instance/profiles?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_instance_profiles
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 1f53483ab1ece0be
    body:
      encoding: UTF-8
      string: '{"profiles":[{"bandwidth":{"type":"fixed","value":4000},"family":"balanced","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","memory":{"type":"fixed","value":8},"name":"bx2-2x8","os_architecture":{"default":"amd64","type":"enum","values":["amd64"]},"port_speed":{"type":"fixed","value":16000},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":2}},{"bandwidth":{"type":"fixed","value":8000},"family":"balanced","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-4x16","memory":{"type":"fixed","value":18},"name":"bx2-4x16","os_architecture":{"default":"amd64","type":"enum","values":["amd64"]},"port_speed":{"type":"fixed","value":16000},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":4}},{"bandwidth":{"type":"fixed","value":16000},"family":"balanced","href":[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/images?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_images
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - 5a3a262210c5ed12697a76ccb23ebfa1
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/images?limit=50"},"limit":50,"images":[{"id":"r014-4182f948-86d9-4614-b382-3dececd723c9","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-4182f948-86d9-4614-b382-3dececd723c9","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-4182f948-86d9-4614-b382-3dececd723c9","name":"ibm-debian-9-13-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-11-06T14:53:29Z","file":{"size":4},"operating_system":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64","architecture":"amd64","display_name":"Debian
        GNU/Linux 9.x Stretch/Stable - Minimal Install (amd64)","family":"Debian GNU/Linux","vendor":"Debian","version":"9.x
        Stretch/Stable - Minimal Install"},"status":"available","visibility":"public","encryption":"none"},{"id":"r014-51a5aaf5-de34-41ab-aca8-5921eb0d0bc3","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-51a5aaf5-de34-41ab-aca8-5921eb0d0bc3","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-51a5aaf5-de34-41ab-aca8-5921eb0d0bc3","name":"ibm-centos-8-2-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-11-06T14:40:19Z","file":{"size":3[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_instances
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 30c05a4c0e0e6135
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances?limit=50"},"instances":[{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9-8fbnl"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","id":"r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","name":"test-boot","resource_type":"volume"}},"created_at":"2020-03-31T02:22:25Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","disks":[],"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","id":"0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","image":{"crn":"UNKNOWN","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-d82ac057-feab-4d4b-968c-8557c215c17e","id":"r014-d82ac057-feab-4d4b-968c-8557c215c17e","name":"tryagain","resource_type":"image"},"memory":16,"name":"test","network_interfaces":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"}},"profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/mx2-2x16","name":"mx2-2x16","resource_type":"instance_profile"},"resource_group":{"crn":"crn:v1:bluemix:public:resource-controller::a/c56c9a268d23e1b339ac14774358133c::resource-group:345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","status":"running","vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9-8fbnl"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","href":"https://us-eas[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/initialization?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance_initialization
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 48cb37b35ca764a2
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","name":"random_key_0","public_key":"RSA:
        VVVVVV"}]}'
  recorded_at: Wed, 17 Feb 2021 18:03:20 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d65ec3-72f6-11ea-b28c-feff0b284b22?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_volume
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - 478633af0c3c0d45077751300786bf17
    body:
      encoding: UTF-8
      string: '{"active":false,"capacity":100,"created_at":"2020-03-31T02:22:30.000Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","encryption":"provider_managed","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","id":"r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","iops":3000,"name":"test-boot","profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","name":"general-purpose"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"status":"available","status_reasons":[],"volume_attachments":[{"delete_volume_on_instance_delete":true,"device":{"id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9-8fbnl"},"href":"https://us-east.iaas.cloud.ibm.com/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","instance":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","href":"https://us-east.iaas.cloud.ibm.com/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","id":"0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","name":"test"},"name":"volume-attachment","type":"boot"}],"zone":{"href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","name":"us-east-3"}}'
  recorded_at: Wed, 17 Feb 2021 18:03:21 GMT
[...]
- request:
    method: get
    uri: https://tags.global-search-tagging.cloud.ibm.com/v3/tags?attached_to=crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d&offset=0&providers=ghost
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=global_tagging;service_version=V1;operation_id=list_tags
      Authorization:
      - Bearer eyJraWQiOiIyMDIxMDEyMDE4MzUiLCJhbGciOiJS[...]
[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volumes?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_volumes
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - fd44147012d82ec9e9ed5cd4be45a2fb
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volumes?start=r014-75d669a9-72f6-11ea-b28c-feff0b284b22\u0026limit=50"},"limit":50,"volumes":[{"active":false,"capacity":100,"created_at":"2020-03-31T02:22:29.000Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d669a9-72f6-11ea-b28c-feff0b284b22","encryption":"provider_managed","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d669a9-72f6-11ea-b28c-feff0b284b22","id":"r014-75d669a9-72f6-11ea-b28c-feff0b284b22","iops":3000,"name":"postgres","profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","n[...]
