---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBMCVS_API_KEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 1c11148ceae94aae8fef636d137e043c
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"cool_token","refresh_token":"cooler_token","ims_user_id":7282103,"token_type":"Bearer","expires_in":3600,"expiration":1600877308,"refresh_token_expiration":1603465708,"scope":"ibm
        openid"}'
  recorded_at: Wed, 23 Sep 2020 15:08:31 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/vpcs?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 4f1040a00e60f38e
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs?limit=50"},"total_count":1,"vpcs":[{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-7186c34c-67cc-4c07-aa40-326ecb895b53","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-7186c34c-67cc-4c07-aa40-326ecb895b53","name":"cloudformvpx","resource_type":"vpc","status":"available","classic_access":false,"created_at":"2020-03-31T02:16:00Z","default_network_acl":{"id":"r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","name":"napped-pessimist-thing-revolving-graduate-punctuate"},"default_security_group":{"id":"r014-117c294f-0f30-4541-bfb8-8bba188d52e0","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-117c294f-0f30-4541-bfb8-8bba188d52e0","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0","name":"nebulizer-bobtail-hacked-yield-linseed-sandpit"},"resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"},"cse_source_ips":[{"ip":{"address":"10.249.89.90"},"zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"}},{"ip":{"address":"10.249.92.22"},"zone":{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2"}},{"ip":{"address":"10.249.99.82"},"zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"}}]}]}

        '
  recorded_at: Wed, 23 Sep 2020 15:08:32 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/subnets?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 7b0e4869982aac04
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/subnets?limit=50"},"total_count":1,"subnets":[{"id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet","available_ipv4_address_count":249,"ipv4_cidr_block":"10.241.128.0/24","ip_version":"ipv4","zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"},"vpc":{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-7186c34c-67cc-4c07-aa40-326ecb895b53","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-7186c34c-67cc-4c07-aa40-326ecb895b53","name":"cloudformvpx","resource_type":"vpc"},"status":"available","total_ipv4_address_count":256,"created_at":"2020-03-31T02:16:01Z","network_acl":{"id":"r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","name":"napped-pessimist-thing-revolving-graduate-punctuate"},"public_gateway":{"id":"r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692"},"resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"}}]}

        '
  recorded_at: Wed, 23 Sep 2020 15:08:32 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/security_groups?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - dfa33883ff74e26
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups?limit=50"},"total_count":1,"security_groups":[{"id":"r014-117c294f-0f30-4541-bfb8-8bba188d52e0","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-117c294f-0f30-4541-bfb8-8bba188d52e0","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0","name":"nebulizer-bobtail-hacked-yield-linseed-sandpit","rules":[{"id":"r014-287518c2-9046-4827-89a8-31f52c9f1ef3","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-287518c2-9046-4827-89a8-31f52c9f1ef3","direction":"outbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"0.0.0.0/0"}},{"id":"r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","direction":"inbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"0.0.0.0/0"}},{"id":"r014-942705b8-da85-4bb2-8528-c44369ada6bf","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-942705b8-da85-4bb2-8528-c44369ada6bf","direction":"inbound","ip_version":"ipv4","protocol":"icmp","type":8,"remote":{"cidr_block":"0.0.0.0/0"}},{"id":"r014-a1417a26-6392-4066-923d-e767914befb8","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a1417a26-6392-4066-923d-e767914befb8","direction":"inbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"0.0.0.0/0"}},{"id":"r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","direction":"outbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"0.0.0.0/0"}}],"network_interfaces":[{"id":"0777-4b0566a4-7623-4578-b316-978922010b81","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_f73e8687-3813-465f-99df-ba6e4ee8f289/network_interfaces/0777-4b0566a4-7623-4578-b316-978922010b81","name":"eth0","primary_ipv4_address":"10.241.128.6","subnet":{"id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"},"resource_type":"network_interface"},{"id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-7225[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zones":[{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"}]}

        '
  recorded_at: Wed, 23 Sep 2020 15:08:35 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/keys?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 435a7cd2fddd6796
    body:
      encoding: UTF-8
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:w6v2HXjIgk/2yxiVs8cvnt1AxyxVVDsVRcWlNRoyCRE","name":"cloudforms","public_key":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQC/V7+yBinLcLT74qfiq5OW8L+3CeBCgfXCb5Ldx3La2P30iF+y626Hk1Z7owJT9vnk0mMUArpOtv2XW5vVLED7vDVfXZNa8cMSjy+mjbS9egBj1FZ5wod7h8T8tiLkbRHvJWA8GOxbKISoMD5nsmDsV9n6aIQ6i2fSeFBvDP3bz+pgQpL+VmuGwRz16UM6DG2PbVxsylC8YGIqmrNba9ajqqPvPlV5OwxRmpv2Ry2hV0v3Ud94wTqUihu4vT7T/EAfG5TGE1kAwHDS/+3YvFbZBTjhLcFT/ec67NMaaqXe6+SjybVpuqE4IEYo6U0cJ686dryt915y/5ePeQEMg27b9pYJSZEZqsoIW5vf/16JZO9kvgGskAW3PHFdy3aHi6vIUVIo0hpAxStwc1g1VdRIqa/DLSBESd7i8WjsmUMNaZyrbaFB1SpkwvqEughWyzQ9A2PX156N37v001Lh2QL54VL+5RtfBvm8vidPiuVUWm6lEiVDHJO7emmj1QyQ8I7iwDsDumkw91nm18n/UcdwjYHOzU/XLMrwn9R86OP+5WyVpKLt1keOlu4NJ1lKOHQy6jPYMPs7OdQQjE1M0O/gVQNuOgFYdjShsXy87UsrU9iom3VCfutMxWZKI/OW7IvaVijflxzgOGhtyLcTGhP5bkK5fx1+sMgV8Z/79B0iTQ==
        blancett@us.ibm.com","type":"rsa","length":4096,"created_at":"2020-03-31T02:20:17Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}}]}

        '
  recorded_at: Wed, 23 Sep 2020 15:08:35 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instance/profiles?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 56a1630543fedb00
    body:
      encoding: UTF-8
      string: '{"profiles":[{"name":"bx2-2x8","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","bandwidth":{"type":"fixed","value":4000},"port_speed":{"type":"fixed","value":16000},"memory":{"type":"fixed","value":8},"os_architecture":{"type":"enum","default":"amd64","values":["amd64"]},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":2},"family":"balanced"},{"name":"bx2-4x16","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-4x16","bandwidth":{"type":"fixed","value":8000},"port_speed":{"type":"fixed","value":16000},"memory":{"type":"fixed","value":16},"os_architecture":{"type":"enum","default":"amd64","values":["amd64"]},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":4},"family":"balanced"},{"name":"bx2-8x32","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/images?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - 3c23e15d01b45b624cd02ed7c48a5d1c
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/images?limit=50"},"limit":50,"images":[{"id":"r014-c37c9a73-a12f-4ac0-a619-c31e2aa4215a","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-c37c9a73-a12f-4ac0-a619-c31e2aa4215a","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-c37c9a73-a12f-4ac0-a619-c31e2aa4215a","name":"ibm-redhat-8-1-minimal-amd64-1","minimum_provisioned_size":100,"resource_group":{"id":"5807b5832a8741179b2e06ca2d2b3b96","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/5807b5832a8741179b2e06ca2d2b3b96"},"created_at":"2020-08-10T15:01:51Z","file":{"size":2},"operating_system":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/red-8-amd64","name":"red-8-amd64","architecture":"amd64","display_name":"Red
        Hat Enterprise Linux 8.x - Minimal Install (amd64)","family":"Red Hat Enterprise
        Linux","vendor":"Red Hat","version":"8.x - Minimal Install"},"status":"available","visibility":"public","encryption":"none"},{"id":"r014-5e390f7b-0469-4ac1-b589-2fea307c1c5a","crn":"crn:v1:bluemix:public:is:us-east:::image:r014-5e390f7b-0469-4ac1-b589-2fea307c1c5a","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-5e390f7b-0469-4ac1-b589-2fea307c1c5a","name":"ibm-debian-9-12-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-05-12T14:47:03Z","file":{"size":2},"operating_system":{"href":"htt[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 61a7f99aa4ae22e1
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances?limit=50"},"instances":[{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9-8fbnl"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","id":"r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","name":"test-boot","resource_type":"volume"}},"created_at":"2020-03-31T02:22:25.000Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","disks":null,"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","id":"0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","image":{"crn":"UNKNOWN","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-d82ac057-feab-4d4b-968c-8557c215c17e","id":"r014-d82ac057-feab-4d4b-968c-8557c215c17e","name":"tryagain","resource_type":"image"},"memory":16,"name":"test","network_interfaces":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"10.241.128.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"10.241.128.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"}},"profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/mx2-2x16","name":"mx2-2x16","resource_type":"instance_profile"},"resource_group":{"crn":"crn:v1:bluemix:public:resource-controller::a/c56c9a268d23e1b339ac14774358133c::resource-group:345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","status":"running","vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9-8fbnl"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","href":"https://us-eas[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/initialization?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 5b94c35c15b0041c
    body:
      encoding: UTF-8
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:w6v2HXjIgk/2yxiVs8cvnt1AxyxVVDsVRcWlNRoyCRE","name":"cloudforms"}]}

        '
  recorded_at: Wed, 23 Sep 2020 15:08:37 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances/0777_f73e8687-3813-465f-99df-ba6e4ee8f289/initialization?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer cool_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 1fe28b4ba3c25ae2
    body:
      encoding: UTF-8
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:w6v2HXjIgk/2yxiVs8cvnt1AxyxVVDsVRcWlNRoyCRE","name":"cloudforms"}]}

        '
  recorded_at: Wed, 23 Sep 2020 15:08:37 GMT
recorded_with: VCR 5.1.0
