---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBMCVS_API_KEY&response_type=cloud_iam
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - '0187e9836dca4a47bcfa70cdf6275bfd'
      Content-Type:
      - application/json
      Content-Language:
      - en-USf
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDMyMTE4MzUiLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwiaWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiMGU3OGJlZTEtZjZkZi00YmViLWI4Y2EtNjdlNjExOGE1ZmRmIiwiaWRlbnRpZmllciI6IjI3MDAwMVhOTkYiLCJnaXZlbl9uYW1lIjoiSmFyZWQiLCJmYW1pbHlfbmFtZSI6Ik1vb3JlIiwibmFtZSI6IkphcmVkIE1vb3JlIiwiZW1haWwiOiJqYXJlZG1AY2EuaWJtLmNvbSIsInN1YiI6ImphcmVkbUBjYS5pYm0uY29tIiwiYXV0aG4iOnsic3ViIjoiamFyZWRtQGNhLmlibS5jb20iLCJpYW1faWQiOiJpYW0tMjcwMDAxWE5ORiIsIm5hbWUiOiJKYXJlZCBNb29yZSIsImdpdmVuX25hbWUiOiJKYXJlZCIsImZhbWlseV9uYW1lIjoiTW9vcmUiLCJlbWFpbCI6ImphcmVkbUBjYS5pYm0uY29tIn0sImFjY291bnQiOnsidmFsaWQiOnRydWUsImJzcyI6ImM1NmM5YTI2OGQyM2UxYjMzOWFjMTQ3NzQzNTgxMzNjIiwiaW1zX3VzZXJfaWQiOiI3MjI2NTkxIiwiZnJvemVuIjp0cnVlLCJpbXMiOiIxMTYwNDQ3In0sImlhdCI6MTYxNzAzMjQ3NSwiZXhwIjoxNjE3MDM2MDc1LCJpc3MiOiJodHRwczovL2lhbS5jbG91ZC5pYm0uY29tL2lkZW50aXR5IiwiZ3JhbnRfdHlwZSI6InVybjppYm06cGFyYW1zOm9hdXRoOmdyYW50LXR5cGU6YXBpa2V5Iiwic2NvcGUiOiJpYm0gb3BlbmlkIiwiY2xpZW50X2lkIjoiZGVmYXVsdCIsImFjciI6MSwiYW1yIjpbInB3ZCJdfQ.J290cfehuexMz_nZKDxhhC94sbV7jh6zxNk-CL7ui_PsZ4Xnh6RgPn3JzMXrZQ0aKJSL0Gw3pk_0r8hOXUkmuQ362mFG-Kj4KShMpPRF2FV1tYIOGVdmbS0w7Ch02X1ffr9vA4zs3bpCoPPCGhAWsWBcMNl-rBmsfphGmxetF_8Zfso0OqN1yABd9135VmiaN0KrtUnwUa0f9kybnxFyQxfgCrXL-oAkb9fVB4snqQe0z2jNWz60XoY9ys_1ZrbRHjmsr779qjbDQvW_x7ooKFVj_TDQhQwtotYzvqlPkh8wdUctXH8ZLTHNV_eq_Nj1iRLYICdxe-srcDx-rupTVA","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102462800,"scope":"ibm
        openid"}'
  recorded_at: Mon, 29 Mar 2021 15:41:18 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/floating_ips?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_floating_ips
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 782c39e3ff4f368a
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips?limit=50"},"total_count":4,"floating_ips":[{"id":"r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::floating-ip:r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips/r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","address":"127.0.0.14","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692","status":"available","created_at":"2020-03-31T02:16:02Z","zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"},"target":{"resource_type":"public_gateway","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692","id":"r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4"},"resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"}},{"id":"r014-9a16abf0-4c41-4fc6-96ba-dc162bcfd507","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::floating-ip:r014-9a16abf0-4c41-4fc6-96ba-dc162bcfd507","href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips/r014-9a16abf0-4c41-4fc6-96ba-dc162bcfd507","address":"127.0.0.142","name":"pgw-78648670-156b-[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/vpcs?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_vpcs
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 25c0dbd043e81e61
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs?limit=50"},"total_count":2,"vpcs":[{"id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc","status":"available","classic_access":false,"created_at":"2020-10-23T20:05:11Z","default_network_acl":{"id":"r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","name":"moving-perfected-sprang-isolation"},"default_routing_table":{"id":"r014-05bca06d-0ada-4941-8cd6-d641610f628d","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3/routing_tables/r014-05bca06d-0ada-4941-8cd6-d641610f628d","name":"refute-dotted-lethargic-snowbound-online-matron","resource_type":"routing_table"},"default_security_group":{"id":"r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-e4be0c69-6df6-4464-a9bc-384e4179ea1b","name":"backup-deglazed-bagful-deflation"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"},"cse_source_ips":[{"ip":{"address":"127.0.0.211"},"zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"}},{"ip":{"address":"127.0.0.5"},"zone":{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2"}},{"ip":{"address":"127.0.0.248"},"zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"}}]},{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-e[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/subnets?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_subnets
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 56d57a3c56465bb2
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/subnets?limit=50"},"total_count":4,"subnets":[{"id":"0757-ef523a2f-5356-42ff-8a78-9325509465b9","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0757-ef523a2f-5356-42ff-8a78-9325509465b9","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0757-ef523a2f-5356-42ff-8a78-9325509465b9","name":"b-subneet-washington-dc-1","resource_type":"subnet","available_ipv4_address_count":251,"ipv4_cidr_block":"127.0.0.0/24","ip_version":"ipv4","zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"},"vpc":{"id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc"},"status":"available","total_ipv4_address_count":256,"created_at":"2020-10-23T20:08:07Z","network_acl":{"id":"r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-082ad1d3-fce2-43e3-b7d3-dc2095967814","name":"moving-perfected-sprang-isolation"},"public_gateway":{"id":"r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-8ce8eccc-2f61-4ddc-9c4c-5ad693974f34","name":"pgw-78648670-156b-11eb-b106-4d01d2f29e8a","resource_type":"public_gateway"},"resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"},"routing_table":{"id":"r014-05bca06d-0ada-4941-8cd6-d641610f628d","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3/routing_tables/r014-05bca06d-0ada-4941-8cd6-d641610f628d","name":"refute-dotted-lethargic-snowbound-online-matron","resource_type":"routing_table"}},{"id":"0767-14d27cd3-66c4-429c-8ab7-6b0e948d345a","crn":"crn:v1:bluemix:public:is:us-east-2:a/c56c9a268d23e1b339ac14774358133c::subnet:0767-14d27cd3-66c4-429c-8ab7-6b0e948d345a","href":"https://us-east.iaas.c[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/security_groups?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_security_groups
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ee39a7108e07aa0
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups?limit=50"},"total_count":2,"security_groups":[{"id":"r014-117c294f-0f30-4541-bfb8-8bba188d52e0","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-117c294f-0f30-4541-bfb8-8bba188d52e0","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0","name":"nebulizer-bobtail-hacked-yield-linseed-sandpit","rules":[{"id":"r014-287518c2-9046-4827-89a8-31f52c9f1ef3","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-287518c2-9046-4827-89a8-31f52c9f1ef3","direction":"outbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","direction":"inbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-942705b8-da85-4bb2-8528-c44369ada6bf","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-942705b8-da85-4bb2-8528-c44369ada6bf","direction":"inbound","ip_version":"ipv4","protocol":"icmp","type":8,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a1417a26-6392-4066-923d-e767914befb8","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a1417a26-6392-4066-923d-e767914befb8","direction":"inbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","direction":"outbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}}],"network_interfaces":[{"id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface"},{"id":"0777-4b0566a4-7623-4578-b316-978922010b81","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_f73e8687-3813-465f-99df-ba6e4ee8f289/network_interfaces/0777-4b0566a4-7623-4578-b316-978922010b81","name":"eth0","primary_ipv4_address":"127.0.0.6","resource_type":"network_interface"},{"id":"0777-2f20fad9-dea8-4f28-ac7b-8d1b77a3230d","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_a9ee9e6a-231a-4a3c-b9cb-fc83d25114a2/network[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_region_zones
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zones":[{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"},{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","region":{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east"},"status":"available"}]}

        '
  recorded_at: Mon, 29 Mar 2021 15:41:21 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/keys?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_keys
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 66451b5b35cc3718
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","name":"random_key_0","public_key":"RSA:
        VVVVVV","type":"rsa","length":4096,"created_at":"2020-03-31T02:20:17Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}},{"id":"r014-14c6c21a-a33d-4323-863b-439561483102","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-14c6c21a-a33d-4323-863b-439561483102","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-14c6c21a-a33d-4323-863b-439561483102","fingerprint":"SHA256:xxxxxxx","name":"random_key_1","public_key":"RSA:
        VVVVVV","type":"rsa","length":2048,"created_at":"2020-10-23T20:17:00Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}}]}'
  recorded_at: Mon, 29 Mar 2021 15:41:22 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instance/profiles?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_instance_profiles
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 14fc4523dce3c047
    body:
      encoding: UTF-8
      string: '{"profiles":[{"bandwidth":{"type":"fixed","value":4000},"family":"balanced","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","memory":{"type":"fixed","value":8},"name":"bx2-2x8","os_architecture":{"default":"amd64","type":"enum","values":["amd64"]},"port_speed":{"type":"fixed","value":16000},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":2}},{"bandwidth":{"type":"fixed","value":8000},"family":"balanced","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-4x16","memory":{"type":"fixed","value":18},"name":"bx2-4x16","os_architecture":{"default":"amd64","type":"enum","values":["amd64"]},"port_speed":{"type":"fixed","value":16000},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":4}},{"bandwidth":{"type":"fixed","value":16000},"family":"balanced","href":[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/images?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_images
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - a71881bc7e3e4ecb4ba9b475e68564db
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/images?limit=50"},"limit":50,"images":[{"id":"r014-4182f948-86d9-4614-b382-3dececd723c9","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-4182f948-86d9-4614-b382-3dececd723c9","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-4182f948-86d9-4614-b382-3dececd723c9","name":"ibm-debian-9-13-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-11-06T14:53:29Z","file":{"size":4},"operating_system":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64","architecture":"amd64","display_name":"Debian
        GNU/Linux 9.x Stretch/Stable - Minimal Install (amd64)","family":"Debian GNU/Linux","vendor":"Debian","version":"9.x
        Stretch/Stable - Minimal Install","dedicated_host_only":false},"status":"available","visibility":"public","encryption":"none"},{"id":"r014-51a5aaf5-de34-41ab-aca8-5921eb0d0bc3","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-51a5aaf5-de34-41ab-aca8-5921eb0d0bc3","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-51a5aaf5-de34-41ab-aca8-5921eb0d0bc3","name":"ibm-centos-8-2-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-11-06T14:40:19Z","file":{"size":3[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_instances
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 19e9c19f07ff99a
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances?limit=50"},"instances":[{"bandwidth":4000,"boot_volume_attachment":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3/volume_attachments/0777-cde17cd9-5b01-477f-9778-9a262edb5d20","id":"0777-cde17cd9-5b01-477f-9778-9a262edb5d20","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","id":"r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","name":"ubuntu-18-vm-boot","resource_type":"volume"}},"created_at":"2020-11-02T12:12:23Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_2652013a-860e-4363-a463-e0bd9019e2d3","disks":[],"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3","id":"0777_2652013a-860e-4363-a463-e0bd9019e2d3","image":{"crn":"UNKNOWN","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-ed3f775f-ad7e-4e37-ae62-7199b4988b00","id":"r014-ed3f775f-ad7e-4e37-ae62-7199b4988b00","name":"ibm-ubuntu-18-04-1-minimal-amd64-2","resource_type":"image"},"memory":8,"name":"ubuntu-18-vm","network_interfaces":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3/network_interfaces/0777-15197b3e-66be-46aa-a48d-970b1917b658","id":"0777-15197b3e-66be-46aa-a48d-970b1917b658","name":"eth0","primary_ipv4_address":"127.0.0.5","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-da420f1d-7d0d-456e-9ecc-6f94b6b9b2d8","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-da420f1d-7d0d-456e-9ecc-6f94b6b9b2d8","id":"0777-da420f1d-7d0d-456e-9ecc-6f94b6b9b2d8","name":"b-subnet-washington-dc-3","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3/network_interfaces/0777-15197b3e-66be-46aa-a48d-970b1917b658","id":"0777-15197b3e-66be-46aa-a48d-970b1917b658","name":"eth0","primary_ipv4_address":"127.0.0.5","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-da420f1d-7d0d-456e-9ecc-6f94b6b9b2d8","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-da420f1d-7d0d-456e-9ecc-6f94b6b9b2d8","id":"0777-da420f1d-7d0d-456e-9ecc-6f94b6b9b2d8","name":"b-subnet-washington-dc-3","resource_type":"subnet"}},"profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","name":"bx2-2x8","resource_type":"instance_profile"},"resource_group":{"crn":"crn:v1:bluemix:public:resource-controller::a/c56c9a268d23e1b339ac14774358133c::resource-group:345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","status":"running","status_reasons":null,"vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3/volume_attachments/0777-cde17cd9-5b01-477f-9778-9a262edb5d20","id":"0777-cde17cd9-5b01-477f-9778-9a262edb5d20","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","id":"r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","name":"ubuntu-18-vm-boot","resource_type":"volume"}}],"vpc":{"crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc"},"zone":{"href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","name":"us-east-3","resource_type":"zone"}},{"bandwidth":16000,"boot_volume_attachment":{"device":{"id":"0777-5127e87c-3d9c-4229-82b4-bcf7caf5dbcb-g7qdq"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_a9ee9e6a-231a-4a3c-b9cb-fc83d25114a2/volume_attachments/0777-5127e87c-3d9c-4229-82b4-bcf7caf5dbcb","id":"0777-5127e87c-3d9c-4229-82b4-bcf7caf5dbcb","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-14203f4c-5e36-43c3-a62d-06d9e15f7cd5","href":"https://us-east.iaas.clou[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3/initialization?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance_initialization
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 64389a60f3a7598f
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","name":"random_key_0","public_key":"RSA:
        VVVVVV"}]}'
  recorded_at: Mon, 29 Mar 2021 15:41:24 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_volume
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - cd0660cc8bf5521cee968b6175e85727
    body:
      encoding: UTF-8
      string: '{"active":false,"capacity":100,"created_at":"2020-11-02T12:12:24.000Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","encryption":"provider_managed","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","id":"r014-48c5809e-39a4-4177-a4c8-2a3cb6434bd2","iops":3000,"name":"ubuntu-18-vm-boot","profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","name":"general-purpose"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"source_image":{"crn":"crn:v1:bluemix:public:is:us-east:::image:r014-ed3f775f-ad7e-4e37-ae62-7199b4988b00","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-ed3f775f-ad7e-4e37-ae62-7199b4988b00","id":"r014-ed3f775f-ad7e-4e37-ae62-7199b4988b00","name":"ibm-ubuntu-18-04-1-minimal-amd64-2"},"status":"available","status_reasons":[],"volume_attachments":[{"delete_volume_on_instance_delete":true,"device":{"id":""},"href":"https://us-east.iaas.cloud.ibm.com/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3/volume_attachments/0777-cde17cd9-5b01-477f-9778-9a262edb5d20","id":"0777-cde17cd9-5b01-477f-9778-9a262edb5d20","instance":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_2652013a-860e-4363-a463-e0bd9019e2d3","href":"https://us-east.iaas.cloud.ibm.com/instances/0777_2652013a-860e-4363-a463-e0bd9019e2d3","id":"0777_2652013a-860e-4363-a463-e0bd9019e2d3","name":"ubuntu-18-vm"},"name":"volume-attachment","type":"boot"}],"zone":{"href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","name":"us-east-3"}}'
  recorded_at: Mon, 29 Mar 2021 15:41:31 GMT
- request:
    method: get
    uri: https://tags.global-search-tagging.cloud.ibm.com/v3/tags?attached_to=crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_2652013a-860e-4363-a463-e0bd9019e2d3&offset=0&providers=ghost
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=global_tagging;service_version=V1;operation_id=list_tags
      Authorization:
      - Bearer eyJraWQiOiIyMDIxMDMyMTE4MzUiLCJhbGciOiJS[...]
[...]
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volumes?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_volumes
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - ff023aaf1ae52fd982323c445d498aee
    body:
      encoding: UTF-8
[...]
