:ems:
  :ems_ibm_cloud_power_virtual_servers:
    :event_handling:
      :event_groups:
        :addition:
          :critical:
          - image.import
          - network.create
          - pvm-instance.create
          - volume.create
        :update:
          :critical:
          - network.update
          - pvm-instance.update
          - volume.update
        :deletion:
          :critical:
          - network.delete
          - pvm-instance.delete
          - volume.delete
        :power:
          :critical:
          - pvm-instance.stop
          - pvm-instance.start
  :ems_ibm_cloud_vpc:
    :additional_regions: {}
    :disabled_regions: []
    :event_handling:
      :event_groups:
        :addition:
          :critical:
          - is.instance.instance.create
          - is.instance.action.create
          - is.instance.console-access-token.create
          - is.instance.volume-attachment.create
          - is.instance.network-interface.create
        :update:
          :critical:
          - is.instance.instance.update
          - is.instance.instance.read
          - is.instance.console.read
          - is.instance.network-interface_floating-ip.attach
          - is.instance.network-interface_floating-ip.detach
          - is.instance.volume-attachment.update
          - is.instance.volume-attachment.read
          - is.instance.network-interface.update
          - is.instance.network-interface.read
          - is.instance.network-interface_floating-ip.read
          - is.instance.disk.read
          - is.instance.disk.update
        :deletion:
          :critical:
          - is.instance.instance.delete
          - is.instance.action.delete
          - is.instance.volume-attachment.delete
          - is.instance.network-interface.delete
          - is.instance.disk.wipe
          - is.instance.gpu.wipe
        :power:
          :critical:
          - is.instance.instance.start
          - is.instance.instance.stop
          - is.instance.instance.volume-stop

:ems_refresh:
  :ibm_vpc:
    :refresh_interval: 15.minutes
    :allow_targeted_refresh: true
  :ibm_cloud_object_storage:
    :refresh_interval: 15.minutes
  :ibm_cloud_power_virtual_servers:
    :refresh_interval: 15.minutes
    :allow_targeted_refresh: true
  :iks:
    :refresh_interval: 15.minutes
    :streaming_refresh: true
    :chunk_size: 1_000
    :inventory_collections:
      :saver_strategy: batch
:log:
  :level_ibm_cloud: info
:workers:
  :worker_base:
    :event_catcher:
      :event_catcher_ibm_cloud_power_virtual_servers:
        :poll: 30.seconds
      :event_catcher_vpc:
        :poll: 15.seconds
      :event_catcher_ibm_cloud_iks:
        :poll: 15.seconds
      :event_catcher_prometheus:
        :poll: 20.seconds
    :queue_worker_base:
      :ems_metrics_collector_worker:
        :ems_metrics_collector_worker_vpc: {}
        :ems_metrics_collector_worker_ibm_cloud_iks: {}
      :ems_refresh_worker:
        :ems_refresh_worker_ibm_cloud_power_virtual_servers: {}
        :ems_refresh_worker_ibm_cloud_vpc: {}
        :ems_refresh_worker_ibm_cloud_object_storage: {}
        :ems_refresh_worker_ibm_cloud_iks: {}
