---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token#apikey
    body:
      encoding: UTF-8
      string: apikey=IBM_CLOUD_POWERVS_API_KEY&grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - bXhmZmY-77039fb193cb401597e98f075c32b62a
      X-Correlation-Id:
      - bXhmZmY-77039fb193cb401597e98f075c32b62a
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.b8f8cd17.1705606261.8547f8e
      X-Proxy-Upstream-Service-Time:
      - '550'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"IAMBEARERTOKEN","refresh_token":"not_supported","ims_user_id":7771420,"token_type":"Bearer","expires_in":3600,"expiration":1705609859,"scope":"ibm
        openid"}'
  recorded_at: Thu, 18 Jan 2024 19:31:02 GMT
- request:
    method: get
    uri: https://resource-controller.cloud.ibm.com/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=resource_controller;service_version=V2;operation_id=get_resource_instance
      Authorization:
      - Bearer IAMBEARERTOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '0'
      Transaction-Id:
      - bss-835b50c7df234cf9
      X-Global-Transaction-Id:
      - bss-835b50c7df234cf9
      X-Op-Completion-Time:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '0'
      X-Transaction-Id:
      - bss-835b50c7df234cf9
    body:
      encoding: UTF-8
      string: '{"id":"crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::","guid":"IBM_CLOUD_POWERVS_INSTANCE_ID","url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID","created_at":"2022-01-04T19:19:27.00879531Z","updated_at":"2022-05-28T10:58:12.563242645Z","deleted_at":null,"created_by":"IBMid-2700063YVN","updated_by":"IBMid-2700063YVN","deleted_by":"","scheduled_reclaim_at":null,"restored_at":null,"scheduled_reclaim_by":"","restored_by":"","name":"rdr-power.control.plane.test-hcm-mon01-miq-specs","region_id":"mon01","account_id":"1fdf5effc3f945688c021cd0a8b45c4d","reseller_channel_id":"","resource_plan_id":"f165dd34-3a40-423b-9d95-e90a23f724dd","resource_group_id":"2f9167fcfa9c4e2a951c5d8fa22bd01f","resource_group_crn":"crn:v1:bluemix:public:resource-controller::a/1fdf5effc3f945688c021cd0a8b45c4d::resource-group:2f9167fcfa9c4e2a951c5d8fa22bd01f","target_crn":"crn:v1:bluemix:public:globalcatalog::::deployment:f165dd34-3a40-423b-9d95-e90a23f724dd%3Amon0159210","allow_cleanup":false,"crn":"crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::","state":"active","type":"service_instance","resource_id":"abd259f0-9990-11e8-acc8-b9f54a8f1661","dashboard_url":"https://power-iaas.cloud.ibm.com/authenticate","last_operation":{"type":"create","state":"succeeded","async":true,"description":"service
        instance IBM_CLOUD_POWERVS_INSTANCE_ID was provisioned successfully for account
        1fdf5effc3f945688c021cd0a8b45c4d in region mon01","cancelable":false,"poll":false},"resource_aliases_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_aliases","resource_bindings_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_bindings","resource_keys_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_keys","plan_history":[{"resource_plan_id":"f165dd34-3a40-423b-9d95-e90a23f724dd","start_date":"2022-01-04T19:19:27.00879531Z","requestor_id":"IBMid-2700063YVN"}],"migrated":false,"controlled_by":"","locked":false}

        '
  recorded_at: Thu, 18 Jan 2024 19:31:02 GMT
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/system-pools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"e980":{"capacity":{"cores":88,"memory":12564,"totalCores":null,"totalMemory":null},"coreMemoryRatio":64,"maxAvailable":{"cores":59.5,"memory":11779,"totalCores":null,"totalMemory":null},"maxCoresAvailable":{"cores":59.5,"memory":11779,"totalCores":null,"totalMemory":null},"maxMemoryAvailable":{"cores":59.5,"memory":11779,"totalCores":null,"totalMemory":null},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":59.5,"id":1,"memory":11779,"totalCores":null,"totalMemory":null}],"type":"e980"},"s922":{"capacity":{"cores":15,"memory":935,"totalCores":null,"totalMemory":null},"coreMemoryRatio":64,"maxAvailable":{"cores":14.25,"memory":902,"totalCores":null,"totalMemory":null},"maxCoresAvailable":{"cores":14.25,"memory":897,"totalCores":null,"totalMemory":null},"maxMemoryAvailable":{"cores":6,"memory":902,"totalCores":null,"totalMemory":null},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":14.25,"id":14,"memory":897,"totalCores":null,"totalMemory":null},{"cores":12.3,"[...]
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"capabilities":["cloud-connections","direct-link-transit-gateway","ibmi-software-licenses","linux","pinning","rhel-sap","sap","snapshots","volume-clone","vpn-connections","shared-processor-pools"],"cloudInstanceID":"c8d0ac7c30c944f0ac3288eb8bb74aaa","enabled":true,"initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"IBM_CLOUD_POWERVS_INSTANCE_ID","openstackID":"07389ca7-2266-4303-afd3-5babc1cebe20","pvmInstances":[],"region":"mon01","tenantID":"1fdf5effc3f945688c021cd0a8b45c4d","usage":{"instances":0,"memory":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0,"storageStandard":0}}

        '
  recorded_at: Thu, 18 Jan 2024 19:31:03 GMT
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/sap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profiles":[{"certified":true,"cores":16,"memory":1600,"profileID":"bh1-16x1600","type":"balanced"},{"certified":true,"cores":20,"memory":2000,"profileID":"bh1-20x2000","type":"balanced"},{"certified":true,"cores":22,"memory":2200,"profileID":"bh1-22x2200","type":"balanced"},{"certified":true,"cores":25,"memory":2500,"profileID":"bh1-25x2500","type":"balanced"},{"certified":true,"cores":30,"memory":3000,"profileID":"bh1-30x3000","type":"balanced"},{"certified":true,"cores":35,"memory":3500,"profileID":"bh1-35x3500","type":"balanced"},{"certified":true,"cores":4[...]
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/storage-capacity/storage-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maximumStorageAllocation":{"maxAllocationSize":285449,"storagePool":"General-Flash-72","storageType":"any"},"storageTypesCapacity":[{"maximumStorageAllocation":{"maxAllocationSize":285449,"storagePool":"General-Flash-72","storageType":"tier1"},"storagePoolsCapacity":[{"maxAllocationSize":280053,"poolName":"General-Flash-81","replicationEnabled":false,"storageType":"tier1","totalCapacity":390092},{"maxAllocationSize":262973,"poolName":"General-Flash-78","replicationEnabled":false,"storageType":"tier1","totalCapacity":390092},{"maxAllocationSize":282418,"poolName":"General-Flash-75","replicationEnabled":false,"storageType":"tier1","totalCapacity":390092},{"maxAllocationSize":285449,"poolName":"General-Flash-72","replicationEnabled":false,"storageType":"tier1","totalCapacity":390092}],"storageType":"tier1"},{"maximumStorageAllocation":{"maxAllocationSize":285449,"storagePool":"Gene[...]
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/e8cf72cf-7685-4bfb-a386-66422f71820a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"addresses":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/e8cf72cf-7685-4bfb-a386-66422f71820a/networks/925c13aa-9579-43a3-86e1-150131906835","ip":"127.0.0.15","ipAddress":"127.0.0.15","macAddress":"fa:d7:46:29:3f:20","networkID":"925c13aa-9579-43a3-86e1-150131906835","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"consoleLanguage":{"code":"037","language":"037
        English"},"creationDate":"2024-01-18T18:43:09.000Z","diskSize":100,"health":{"lastUpdate":"2024-01-18T19:31:05.494688","status":"OK"},"hostID":7,"imageID":"ed8cb3ae-1a68-42c4-9c0a-fcec0c96f1c2","maxmem":16,"maxproc":2,"memory":2,"migratable":false,"minmem":2,"minproc":0.25,"networkIDs":["925c13aa-9579-43a3-86e1-150131906835"],"networks":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/e8cf72cf-7685-4bfb-a386-66422f71820a/networks/925c13aa-9579-43a3-86e1-150131906835","ip":"127.0.0.15","ipAddress":"127.0.0.15","macAddress":"fa:d7:46:29:3f:20","networkID":"925c13aa-9579-43a3-86e1-150131906835","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"operatingSystem":"V7R5M0
        410 2","osType":"ibmi","pinPolicy":"none","placementGroup":"8334ba79-bd98-47af-ad25-6eb8a1c4c817","procType":"capped","processors":0.25,"pvmInstanceID":"e8cf72cf-7685-4bfb-a386-66422f71820a","serverName":"test-instance-ibmi-s922-capped-tier1","softwareLicenses":{"ibmiCSS":false,"ibmiDBQ":false,"ibmiPHA":false,"ibmiRDS":false},"srcs":[[{"src":"A6005008","timestamp":"2024-01-18T18:51:32Z"},{"src":"03B00061","timestamp":"2024-01-18T18:51:32Z"},{"src":"FFFF0000","timestamp":"2024-01-18T18:51:32Z"},{"src":"00000000","timestamp":"2024-01-18T18:51:32Z"},{"src":"00000000","timestamp":"2024-01-18T18:51:32Z"},{"src":"50070404","timestamp":"2024-01-18T18:51:32Z"},{"src":"00000000","timestamp":"2024-01-18T18:51:32Z"},{"src":"00000000","timestamp":"2024-01-18T18:51:32Z"},{"src":"00000000","timestamp":"2024-01-18T18:51:32Z"}]],"status":"ACTIVE","storagePool":"General-Flash-72","storagePoolAffinity":true,"storageType":"tier1","sysType":"s922","updatedDate":"2024-01-18T18:43:09.000Z","virtualCores":{"assigned":1,"max":4,"min":1},"volumeIDs":["ed84f79b-b8d1-48c3-8766-2a92ff6a879b"]}

        '
  recorded_at: Thu, 18 Jan 2024 19:31:08 GMT
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"images":[{"creationDate":"2022-11-15T22:45:40.000Z","description":"","href":"/pcloud/v1/cloud-instances/c8d0ac7c30c944f0ac3288eb8bb74aaa/images/8de97d73-95c0-46e9-a509-0b10be36eded","imageID":"8de97d73-95c0-46e9-a509-0b10be36eded","lastUpdateDate":"2023-06-07T01:38:14.000Z","name":"7300-00-01","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storagePool":"","storageType":""},{"creationDate":"2022-11-15T22:45:06.000Z","description":"","href":"/pcloud/v1/cloud-instances/c8d0ac7c30c944f0ac3288eb8bb74aaa/images/7da758c0-949b-4b11-a306-dc7dfc33919e","imageID":"7da758c0-949b-4b11-a306-dc7dfc33919e","lastUpdateDate":"2023-06-07T01:38:15.000Z","name":"CentOS-Stream-8","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"little-endian","hyperviso[...]
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/images/ed8cb3ae-1a68-42c4-9c0a-fcec0c96f1c2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"creationDate":"2023-12-12T23:02:27.000Z","imageID":"ed8cb3ae-1a68-42c4-9c0a-fcec0c96f1c2","lastUpdateDate":"2023-12-12T23:15:20.000Z","name":"IBMi-75-02-2984-1","servers":[],"size":100,"specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"ibmi"},"state":"active","storagePool":"","storageType":"","volumes":[]}

        '
  recorded_at: Thu, 18 Jan 2024 19:31:10 GMT
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"volumes":[{"bootVolume":false,"bootable":true,"creationDate":"2024-01-18T19:02:29.000Z","diskType":"tier3","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes/7d6f53e6-4adf-4792-8b5f-07cc618dff78","ioThrottleRate":"360
        iops","lastUpdateDate":"2024-01-18T19:13:21.000Z","name":"test-instance-d6a661a8-00030ebf-boot-0","pvmInstanceIDs":["d6a661a8-fed1-4a52-9d50-24fc9f9956b8"],"shareable":false,"size":120,"state":"in-use","volumeID":"7d6f53e6-4adf-4792-8b5f-07cc618dff78","volumePool":"General-Flash-81","volumeType":"Tier3-General-Flash-81","wwn":"60050768108002DAC800000000004AF4"},{"bootVolume":false,"bootable":true,"creationDate":"2024-01-18T18:49:45.000Z","diskType":"tier3","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes/ba26d663-1e76-4457-8732-9d9235df8019","ioThrottleRate":"300
        iops","lastUpdateDate":"2024-01-18T19:00:43.000Z","name":"test-instance-54e1f646-00030ebe-boot-0","pvmInstanceIDs":["54e1f646-8ce4-4ee5-9355-e5d34166c4fd"],"shareable":false,"size":100,"state":"in-use","volumeID":"ba26d663-1e7[...]
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/placement-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"placementGroups":[{"id":"8334ba79-bd98-47af-ad25-6eb8a1c4c817","members":["e8cf72cf-7685-4bfb-a386-66422f71820a"],"name":"test-placement-group-affinity","policy":"affinity"},{"id":"f99c2fc5-73ba-4387-9736-61dc51f53471","members":["d6a661a8-fed1-4a52-9d50-24fc9f9956b8"],"name":"test-placement-group-anti-affinity","policy":"anti-affinity"}]}

        '
  recorded_at: Thu, 18 Jan 2024 19:31:10 GMT
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/snapshots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"snapshots":[{"action":"snapshot","creationDate":"2024-01-18T19:14:39.000Z","description":"server
        name: test-instance-ibmi-s922-capped-tier1","lastUpdateDate":"2024-01-18T19:14:49.000Z","name":"test-instance-ibmi-s922-capped-tier1-snapshot-1","percentComplete":100,"pvmInstanceID":"e8cf72cf-7685-4bfb-a386-66422f71820a","snapshotID":"0e536300-ad93-40f3-92f9-f5153785d2ac","status":"available","volumeSnapshots":{"ed84f79b-b8d1-48c3-8766-2a92ff6a879b":"2ad97524-7d8e-48dc-ace4-f66c544e2775"}},{"action":"snapshot","creationDate":"2024-01-18T19:14:53.000Z","description":"server
        name: test-instance-sles-s922-shared-tier3","lastUpdateDate":"2024-01-18T19:15:02.000Z","name":"test-instance-sles-s922-shared-tier3-snapshot-1","percentComplete":100,"pvmInstanceID":"54e1f646-8ce4-4ee5-9355-e5d34166c4fd","snapshotID":"2d3fa834-5212-4ea4-ac2a-d28a244041c2","status":"available","volumeSnapshots":{"ba26d663-1e76-4457-8732-9d9235df8019":"5c7be867-f103-4a83-87af-53ffa26b07be"}},{"action":"snapshot","creationDate":"2024-01-18T19:14:57.000Z","description":"server
        name: test-instance-rhcos-s922-shared-tier3","lastUpdateDate":"2024-01-18T19:15:05.000Z","name":"test-instance-rhcos-s922-shared-tier3-snapshot-1","percentComplete":100,"pvmInstanceID":"d6a661a8-fed1-4a52-9d50-24fc9f9956b8","snapshotID":"9c6127c6-b71d-417d-8238-e4642cf3df83","status":"available","volumeSnapshots":{"7d6f53e6-4adf-4792-8b5f-07cc618dff78":"7fabb55d-38e4-40c0-bd0c-ba44e706135e"}},{"action":"snapshot","creationDate":"2024-01-18T19:14:44.000Z","description":"server
        name: test-instance-centos-e980-dedicated-tier3","lastUpdateDate":"2024-01-18T19:14:53.000Z","name":"test-instance-centos-e980-dedicated-tier3-snapshot-1","percentComplete":100,"pvmInstanceID":"1ea38460-b3ff-4abd-802b-0289983be590","snapshotID":"9f192329-1470-4532-b609-16b56914fad0","status":"available","volumeSnapshots":{"cdfebbb2-d64e-41e1-9834-4f6b5d249489":"563ac449-f811-4ff7-bd91-adb026c82562"}},{"action":"snapshot","creationDate":"2024-01-18T19:14:48.000Z","description":"server
        name: test-instance-rhel-s922-shared-tier3","lastUpdateDate":"2024-01-18T19:14:58.000Z","name":"test-instance-rhel-s922-shared-tier3-snapshot-1","percentComplete":100,"pvmInstanceID":"b9370d8d-8d73-4f0e-ad84-34f7fd52eb84","snapshotID":"d5332d55-9d8f-4745-b26e-203387b59d55","status":"available","volumeSnapshots":{"984498df-5554-4685-a109-821d5e39b27b":"ccc567e7-63db-4441-ab3c-a206e41ff9b3"}},{"action":"snapshot","creationDate":"2024-01-18T19:14:35.000Z","description":"server
        name: test-instance-aix-s922-shared-tier1","lastUpdateDate":"2024-01-18T19:14:44.000Z","name":"test-instance-aix-s922-shared-tier1-snapshot-1","percentComplete":100,"pvmInstanceID":"502106d8-d969-49df-9103-184c3ab97508","snapshotID":"e47f1ab4-22eb-4262-9b8c-b670afcbf6ef","status":"available","volumeSnapshots":{"2e653913-14fe-4b3a-a4f3-c7396bed0862":"0d6df030-deb6-4fe4-8247-42a61d7c4cad"}}]}

        '
  recorded_at: Thu, 18 Jan 2024 19:31:11 GMT
- request:
    method: get
    uri: https://mon.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/shared-processor-pools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:mon01:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sharedProcessorPools":[{"allocatedCores":0.5,"availableCores":0.5,"hostGroup":"s922","hostID":6,"id":"85029156-8753-4d06-9a56-d13e3bd4c27d","name":"test_pool","reservedCores":1,"sharedProcessorPoolPlacementGroups":[{"id":"bb252e11-c5f9-43fb-9801-2218058fe030","name":"test_spppg","policy":"affinity"}],"status":"active","statusDetail":"shared
        processor pool test_pool is active"}]}

        '
  recorded_at: Thu, 18 Jan 2024 19:31:12 GMT
recorded_with: VCR 6.2.0
