---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token#apikey
    body:
      encoding: UTF-8
      string: apikey=IBM_CLOUD_POWERVS_API_KEY&grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ibm-Cloud-Service-Name:
      - iam-identity
      X-Correlation-Id:
      - dGo0bW0-1639d4e275094f4e8507fdae06e63a23
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.db17dd17.1750863764.5bb9d840
      X-Proxy-Upstream-Service-Time:
      - '327'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ACCESS_TOKEN","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102466400,"scope":"ibm
        openid"}'
  recorded_at: Wed, 25 Jun 2025 15:02:44 GMT
- request:
    method: get
    uri: https://resource-controller.cloud.ibm.com/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=resource_controller;service_version=V2;operation_id=get_resource_instance
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '0'
      X-Correlation-Id:
      - 626c-e28cc28d2b280613
      X-Op-Completion-Time:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::","guid":"IBM_CLOUD_POWERVS_INSTANCE_ID","url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID","created_at":"2025-05-22T13:44:28.57250562Z","updated_at":"2025-05-22T13:45:11.597828983Z","deleted_at":null,"created_by":"IBMid-2700063YVN","updated_by":"","deleted_by":"","scheduled_reclaim_at":null,"restored_at":null,"scheduled_reclaim_by":"","restored_by":"","name":"rdr-power.control.plane.test-hcm-miq-specs","region_id":"us-east10","account_id":"1fdf5effc3f945688c021cd0a8b45c4d","reseller_channel_id":"","resource_plan_id":"f165dd34-3a40-423b-9d95-e90a23f724dd","resource_group_id":"2f9167fcfa9c4e2a951c5d8fa22bd01f","resource_group_crn":"crn:v1:bluemix:public:resource-controller::a/1fdf5effc3f945688c021cd0a8b45c4d::resource-group:2f9167fcfa9c4e2a951c5d8fa22bd01f","target_crn":"crn:v1:bluemix:public:globalcatalog::::deployment:f165dd34-3a40-423b-9d95-e90a23f724dd%3Aus-east1084023","allow_cleanup":false,"crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::","state":"active","type":"composite_instance","resource_id":"abd259f0-9990-11e8-acc8-b9f54a8f1661","dashboard_url":null,"last_operation":{"type":"create","state":"succeeded","async":true,"description":"service
        instance IBM_CLOUD_POWERVS_INSTANCE_ID was provisioned successfully for account
        1fdf5effc3f945688c021cd0a8b45c4d in region us-east10","cancelable":false,"poll":true},"resource_aliases_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_aliases","resource_bindings_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_bindings","resource_keys_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_keys","plan_history":[{"resource_plan_id":"f165dd34-3a40-423b-9d95-e90a23f724dd","start_date":"2025-05-22T13:44:28.57250562Z","requestor_id":"IBMid-2700063YVN"}],"migrated":false,"extensions":{"resourceCRNs":true},"controlled_by":"","locked":false,"onetime_credentials":false}

        '
  recorded_at: Wed, 25 Jun 2025 15:02:45 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/v1/datacenters/us-east10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 7cd415b3-b189-465b-963d-c8bc36236ebf
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"capabilities":{"cloud-connections":false,"dedicated-hosts":true,"disaster-recovery-site":true,"metrics":true,"network-security-groups":true,"power-edge-router":true,"power-vpn-connections":false},"capabilitiesDetails":{"disasterRecovery":{"asynchronousReplication":{"enabled":true,"targetLocations":[{"region":"wdc07","status":"active"}]}},"supportedSystems":{"dedicated":["s1022","s922"],"general":["e1080","s1022","e980","s922"]}},"location":{"region":"us-east10","regionDisplayName":"Dallas
        10","type":"data-center","url":"https://us-south.power-iaas.cloud.ibm.com"},"status":"active","type":"off-premises"}

        '
  recorded_at: Wed, 25 Jun 2025 15:11:03 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - fb24f333-78cb-4c67-b048-d4ab7e5c7ca6
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"capabilities":["ibmi-software-licenses","linux","pinning","rhel-sap","sap","snapshots","volume-clone","shared-processor-pools"],"cloudInstanceID":"9089686c4d6143a4bdcc72b197c7655d","enabled":true,"initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"IBM_CLOUD_POWERVS_INSTANCE_ID","openstackID":"d4c477222576b7395a58a51fbee2937a","pvmInstances":[],"region":"us-east10","tenantID":"1fdf5effc3f945688c021cd0a8b45c4d","usage":{"instances":0,"memory":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0,"storageStandard":0}}

        '
  recorded_at: Wed, 25 Jun 2025 15:11:03 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/sap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 7be367f1-4b20-4544-873f-2791246d16e7
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"profiles":[{"certified":true,"cores":16,"defaultSystem":"e980","fullSystemProfile":false,"memory":1600,"profileID":"bh1-16x1600","saps":96000,"smtMode":8,"supportedSystems":["e880","e980"],"type":"balanced","workloadTypes":["OLAP/OLTP"]},{"certified":true,"cores":20,"defaultSystem":"e980","fullSystemProfile":false,"memory":2000,"profileID":"bh1-20x2000","saps":120000,"smtMode":8,"supportedSystems":["e880","e980"],"type":"balanced","workloadTypes":["OLAP"]},{"certified":true,"cores":22,"defaultSystem":"e980","fullSystemProfile":false,"memory":2200,"profileID":"bh1-22x2200","saps":132000,"smtMode":8,"supportedSystems":["e880","e980"],"type":"balanced","workloadTypes":["OLAP"]},{"certified":true,"cores":25,"defaultSy[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/storage-capacity/storage-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 6edd7963-42ba-4758-a06b-c59aec1780ba
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"maximumStorageAllocation":{"maxAllocationSize":184751,"storagePool":"General-Flash-53","storageType":"any"},"storageTypesCapacity":[{"maximumStorageAllocation":{"maxAllocationSize":184751,"storagePool":"General-Flash-53","storageType":"tier0"},"storagePoolsCapacity":[{"maxAllocationSize":184751,"poolName":"General-Flash-53","replicationEnabled":true,"storageHost":"ius-east10_tier3_1","storageType":"tier0","totalCapacity":512000},{"maxAllocationSize":150354,"poolName":"General-Flash-59","replicationEnabled":true,"storageHost":"ius-east10_tier3_2","storageType":"tier0","totalCapacity":512000},{"maxAllocationSize":148173,"poolName":"General-Flash-56","replicationEnabled":true,"storageHost":"ius-east10_tier1_2","storageType":"tier0","totalCapacity":512000},{"maxAllocationSize":106374,"poolName":"General-Flash-50","replicationEnabled":true,"storageHost":"ius-east10_tier1_1","storageType":"tier0","totalCapacity":51200[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/04c9a30d-c8d5-46cb-849b-0f7fa5004b70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 0550ee98-ba31-4f2a-894b-13a736faa1eb
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"addresses":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/04c9a30d-c8d5-46cb-849b-0f7fa5004b70/networks/75a55a9f-1038-4495-9c3f-f7c113670c2e","ip":"127.0.0.1","ipAddress":"127.0.0.1","macAddress":"fa:16:3e:a1:4d:23","networkID":"75a55a9f-1038-4495-9c3f-f7c113670c2e","networkInterfaceID":"3ba26bdf-adea-4fae-a99b-4dfbfadac1f1","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"consoleLanguage":{"code":"037","language":"037
        English"},"creationDate":"2025-06-25T14:33:31.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:pvm-instance:04c9a30d-c8d5-46cb-849b-0f7fa5004b70","diskSize":100,"health":{"lastUpdate":"2025-06-25T15:11:07.672860","status":"OK"},"hostID":79,"imageID":"0e09362f-08dd-4fff-ae7b-c389b81ab7bd","maxmem":16,"maxproc":2,"memory":2,"migratable":false,"minmem":2,"minproc":0.25,"networkIDs":["75a55a9f-1038-4495-9c3f-f7c113670c2e"],"networks":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/04c9a30d-c8d5-46cb-849b-0f7fa5004b70/networks/75a55a9f-1038-4495-9c3f-f7c113670c2e","ip":"127.0.0.1","ipAddress":"127.0.0.1","macAddress":"fa:16:3e:a1:4d:23","networkID":"75a55a9f-1038-4495-9c3f-f7c113670c2e","networkInterfaceID":"3ba26bdf-adea-4fae-a99b-4dfbfadac1f1","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"operatingSystem":"V7R5M0
        410 5","osType":"ibmi","pinPolicy":"soft","placementGroup":"69ac6b47-912e-4346-8804-da768f4aa789","procType":"capped","processors":0.25,"pvmInstanceID":"04c9a30d-c8d5-46cb-849b-0f7fa5004b70","serverName":"test-instance-ibmi-s922-capped-tier1","softwareLicenses":{"ibmiCSS":false,"ibmiDBQ":false,"ibmiPHA":false,"ibmiRDS":false},"srcs":[[{"src":"A6005008","timestamp":"2025-06-25T15:25:10Z"},{"src":"03B00061","timestamp":"2025-06-25T15:25:10Z"},{"src":"FFFF0000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"50070404","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"}]],"status":"ACTIVE","storagePool":"General-Flash-53","storagePoolAffinity":true,"storageType":"any","sysType":"s922","updatedDate":"2025-06-25T14:33:31.000Z","virtualCores":{"assigned":1,"max":4,"min":1},"volumeIDs":["b6a90aec-fce5-4640-9a99-140e8af2b103"]}

        '
  recorded_at: Wed, 25 Jun 2025 15:11:21 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 4d119a4c-b662-4de3-b757-1324964ef06c
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"images":[{"creationDate":"2025-06-12T13:30:49.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:image:05e43ffe-bf8e-4f4a-8dd8-2ebc747e9b33","description":"","href":"/pcloud/v1/cloud-instances/9089686c4d6143a4bdcc72b197c7655d/images/05e43ffe-bf8e-4f4a-8dd8-2ebc747e9b33","imageID":"05e43ffe-bf8e-4f4a-8dd8-2ebc747e9b33","lastUpdateDate":"2025-06-12T13:30:49.000Z","name":"7300-03-00","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storagePool":"","storageType":""},{"creationDate":"2025-06-12T13:34:00.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:image:be0864af-8dda-465f-80e0-695715fb40f0","description":"","href":"/pcloud/v1/cloud-instances/9089686c4d6143a4bdcc72b197c7655d/images/be0864af-8dda-465f-80e0-695715fb40f0","imageID":"be0864af-8dda-465f-80e0-695715fb40f0","lastUpdateDate":"2025-06-12T13:34[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/images/0e09362f-08dd-4fff-ae7b-c389b81ab7bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - e4a04434-c0b8-47e5-87d0-1eb099bd06ed
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"description":"image does not exist. ID: 0e09362f-08dd-4fff-ae7b-c389b81ab7bd","error":"image
        not found"}

        '
  recorded_at: Wed, 25 Jun 2025 15:11:27 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/stock-images/0e09362f-08dd-4fff-ae7b-c389b81ab7bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a4803eea-6c9d-44bc-90cc-ce274cde7f81
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"creationDate":"2025-03-21T00:49:56.000Z","imageID":"0e09362f-08dd-4fff-ae7b-c389b81ab7bd","lastUpdateDate":"2025-04-18T21:42:07.000Z","maxImageVolumeSize":100,"name":"IBMi-75-05-2984-1","servers":[],"size":100,"specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"ibmi"},"state":"active","storagePool":"General-Flash-53","storageType":"tier3","volumes":[{"bootable":true,"name":"Imported
        image volume","size":100,"volumeID":"9e260cc3-9425-4f9e-b1a8-08181d96d604"}]}

        '
  recorded_at: Wed, 25 Jun 2025 15:11:39 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 43426491-7ebb-4968-96b3-7eb7f31c06a0
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"volumes":[{"auxiliary":false,"bootable":true,"creationDate":"2025-06-25T14:44:07.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:volume:55eeb86d-80d4-4ef2-9267-0075bac0378d","diskType":"tier3","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes/55eeb86d-80d4-4ef2-9267-0075bac0378d","ioThrottleRate":"360
        iops","lastUpdateDate":"2025-06-25T14:44:25.000Z","name":"test-instance-9317b826-0002edc3-boot-0","pvmInstanceIDs":["9317b826-3660-4cf9-aa93-6d42a4643ba9"],"replicationEnabled":false,"replicationStatus":"not-capable","shareable":false,"size":120,"state":"in-use","volumeID":"55eeb86d-80d4-4ef2-9267-0075bac0378d","volumePool":"General-Flash-53","volumeType":"Tier3-General-Flash-53","wwn":"6005076813810212980000000000A9C4"},{"auxiliary":false,"bootable":true,"creationDate":"2025-06-25T14:41:27.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:volume:2b3477a2-5e5c-46fc-8906-bc2ef9166c37","diskType":"tier3","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes/2b3477a2-5e5c-46fc-8906-bc2ef9166c37","ioThrottleRate":"300
        iops","lastUpdateDate":"2025-06-25T14:42:00.000Z","name":"test-inst[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/placement-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 279d118d-20d9-4fbc-97e0-3e6c983f5417
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"placementGroups":[{"id":"69ac6b47-912e-4346-8804-da768f4aa789","members":["04c9a30d-c8d5-46cb-849b-0f7fa5004b70"],"name":"test-placement-group-affinity","policy":"affinity"},{"id":"b52c11cb-b6bf-45a0-a376-242f4217ca6f","members":["9317b826-3660-4cf9-aa93-6d42a4643ba9"],"name":"test-placement-group-anti-affinity","policy":"anti-affinity"}]}

        '
  recorded_at: Wed, 25 Jun 2025 15:11:43 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/snapshots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - f29a6511-3813-4df9-b03e-0b695f478e4d
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"snapshots":[{"action":"snapshot","creationDate":"2025-06-25T14:46:56.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:snapshot:0385f05f-b922-45f6-a9df-d6e8b6bd9111","description":"server
        name: test-instance-rhcos-s922-shared-tier3","lastUpdateDate":"2025-06-25T14:47:04.000Z","name":"test-instance-rhcos-s922-shared-tier3-snapshot-1","percentComplete":100,"pvmInstanceID":"9317b826-3660-4cf9-aa93-6d42a4643ba9","snapshotID":"0385f05f-b922-45f6-a9df-d6e8b6bd9111","status":"available","volumeSnapshots":{"55eeb86d-80d4-4ef2-9267-0075bac0378d":"992f34ab-4503-4ec2-82a8-acbb69e751dc"}},{"action":"snapshot","creationDate":"2025-06-25T14:46:38.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:snapshot:05247445-494e-4ac7-b1d6-1818a1c4f6e2","description":"server
        name: test-instance-rhel-s922-shared-tier3","lastUpdateDate":"2025-06-25T14:46:50.000Z","name":"test-instance-rhel-s922-shared-tier3-snapshot-1","percentComplete":100,"pvmInstanceID":"43a0b59a-f4d7-4150-8fb8-72b4e5452d02","snapshotID":"05247445-494e-4ac7-b1d6-1818a1c4f6e2","status":"available","volumeSnapshots":{"ab68a4b6-921e-4149-a6d3-70c281349fcf":"8a55602d-8bfa-4c5f-bbce-bacb7579de26"}},{"action":"snapshot","creationDate":"2025-06-25T14:46:12.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:snapshot:071468b4-41e8-443a-b589-c789ea31eee2","description":"server
        name: test-instance-aix-s922-shared-tier1","lastUpdateDate":"2025-06-25T14:46:20.000Z","name":"test-instance-aix-s922-shared-tier1-snapshot-1","percentComplete":100,"pvmInstanceID":"5d8393c6-b50c-4de4-98f[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/shared-processor-pools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 651f4234-a3a6-4ec2-8134-231459d02bce
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"sharedProcessorPools":[{"allocatedCores":0.5,"availableCores":0.5,"crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:shared-processor-pool:85ba15e6-bbc0-469b-90b7-697876167cfc","hostGroup":"s922","hostID":58,"id":"85ba15e6-bbc0-469b-90b7-697876167cfc","name":"test_pool","reservedCores":1,"sharedProcessorPoolPlacementGroups":[{"id":"6101a596-8553-4792-8ce5-920c58bc929f","name":"test_spppg","policy":"affinity"}],"status":"active","statusDetail":"shared
        processor pool test_pool is active"}]}

        '
  recorded_at: Wed, 25 Jun 2025 15:11:47 GMT
recorded_with: VCR 6.3.1
