---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBM_CLOUD_VPC_API_KEY&response_type=cloud_iam
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - b1c9ae9a87f94b3d9357597c954be94c
      Content-Type:
      - application/json
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDQyMDE4MzYiLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwiaWQiOiJJQk1pZC0yNzAwMDFYTk5GIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiOTVmMjlmMDYtMTE3Yy00YWEzLTg4ZGYtYzRiNGU4MWY1ZTRjIiwiaWRlbnRpZmllciI6IjI3MDAwMVhOTkYiLCJnaXZlbl9uYW1lIjoiSmFyZWQiLCJmYW1pbHlfbmFtZSI6Ik1vb3JlIiwibmFtZSI6IkphcmVkIE1vb3JlIiwiZW1haWwiOiJqYXJlZG1AY2EuaWJtLmNvbSIsInN1YiI6ImphcmVkbUBjYS5pYm0uY29tIiwiYXV0aG4iOnsic3ViIjoiamFyZWRtQGNhLmlibS5jb20iLCJpYW1faWQiOiJpYW0tMjcwMDAxWE5ORiIsIm5hbWUiOiJKYXJlZCBNb29yZSIsImdpdmVuX25hbWUiOiJKYXJlZCIsImZhbWlseV9uYW1lIjoiTW9vcmUiLCJlbWFpbCI6ImphcmVkbUBjYS5pYm0uY29tIn0sImFjY291bnQiOnsidmFsaWQiOnRydWUsImJzcyI6ImM1NmM5YTI2OGQyM2UxYjMzOWFjMTQ3NzQzNTgxMzNjIiwiaW1zX3VzZXJfaWQiOiI3MjI2NTkxIiwiZnJvemVuIjp0cnVlLCJpbXMiOiIxMTYwNDQ3In0sImlhdCI6MTYyMDE0NTg2NSwiZXhwIjoxNjIwMTQ5NDY1LCJpc3MiOiJodHRwczovL2lhbS5jbG91ZC5pYm0uY29tL2lkZW50aXR5IiwiZ3JhbnRfdHlwZSI6InVybjppYm06cGFyYW1zOm9hdXRoOmdyYW50LXR5cGU6YXBpa2V5Iiwic2NvcGUiOiJpYm0gb3BlbmlkIiwiY2xpZW50X2lkIjoiZGVmYXVsdCIsImFjciI6MSwiYW1yIjpbInB3ZCJdfQ.tFlPXfK8h5qE5XNQ2LgNZIVCgcyHIH6tFbzWUSObV9ytkYXopVwPiPofAoXo5n0su686Y3ogGooBnl-lrYpouaVpjGAa3XmNEm-ZHUDXrk36RgA1xcR6Dfrw4kRnvf9t5nmoJS0gpkUAmeFCQ5H2CVLhw-9vh6bMzBO0be-VFeGdV7hSYT_eBSTkmbshy9R0UVY7F9YJuSRCJmuCopWge7xFSYwQsBBaV1Hdpj5cLFnwvwu41y8QkeKBPxhZuEWDDnfZpCRyNIYORJmB2qF82-UJqLFMqyLMxMju0kvzOSigQpg1qalfiECL0W5ivqyXQorslLLuaJgnzq2OXNhMgg","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102462800,"scope":"ibm
        openid"}'
  recorded_at: Tue, 04 May 2021 16:31:08 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_instances
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b-tjfj7"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/volume_attachments/0757-83905f2c-9df0-46b2-98c2-f60c7093276b","id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::volume:r014-6f60f567-4441-4068-bb61-2eaa257937bb","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-6f60f567-4441-4068-bb61-2eaa257937bb","id":"r014-6f60f567-4441-4068-bb61-2eaa257937bb","name":"jm--test-2-boot","resource_type":"volume"}},"created_at":"2021-04-14T20:18:38Z","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::instance:0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","disks":[],"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","id":"0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","image":{"crn":"crn:v1:bluemix:public:is:us-east:::image:99edcc54-c513-4d46-9f5b-36243a1e50e2","href":"https://us-east.iaas.cloud.ibm.com/v1/images/99edcc54-c513-4d46-9f5b-36243a1e50e2","id":"99edcc54-c513-4d46-9f5b-36243a1e50e2","name":"ibm-centos-7-0-64","resource_type":"image"},"memory":8,"name":"jm--test-2","network_interfaces":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/network_interfaces/0757-1b291915-11c5-4257-88d6-f6c643a8d330","id":"0757-1b291915-11c5-4257-88d6-f6c643a8d330","name":"eth0","primary_ipv4_address":"127.0.0.5","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0757-ef523a2f-5356-42ff-8a78-9325509465b9","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0757-ef523a2f-5356-42ff-8a78-9325509465b9","id":"0757-ef523a2f-5356-42ff-8a78-9325509465b9","name":"b-subneet-washington-dc-1","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/network_interfaces/0757-1b291915-11c5-4257-88d6-f6c643a8d330","id":"0757-1b291915-11c5-4257-88d6-f6c643a8d330","name":"eth0","primary_ipv4_address":"127.0.0.5","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0757-ef523a2f-5356-42ff-8a78-9325509465b9","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0757-ef523a2f-5356-42ff-8a78-9325509465b9","id":"0757-ef523a2f-5356-42ff-8a78-9325509465b9","name":"b-subneet-washington-dc-1","resource_type":"subnet"}},"profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","name":"bx2-2x8","resource_type":"instance_profile"},"resource_group":{"crn":"crn:v1:bluemix:public:resource-controller::a/c56c9a268d23e1b339ac14774358133c::resource-group:345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","startable":true,"status":"running","status_reasons":[],"vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b-tjfj7"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/volume_attachments/0757-83905f2c-9df0-46b2-98c2-f60c7093276b","id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::volume:r014-6f60f567-4441-4068-bb61-2eaa257937bb","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-6f60f567-4441-4068-bb61-2eaa257937bb","id":"r014-6f60f567-4441-4068-bb61-2eaa257937bb","name":"jm--test-2-boot","resource_type":"volume"}}],"vpc":{"crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","id":"r014-0fa2acc6-2a41-4f2b-9c89-bcea07cdcbc3","name":"b-vpc-washington-dc","resource_type":"vpc"},"zone":{"href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1","name":"us-east-1","resource_type":"zone"}}'
  recorded_at: Tue, 04 May 2021 16:31:17 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/initialization?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance_initialization
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","name":"random_key_0","resource_type":"key","public_key":"RSA:
        VVVVVV"}]}'
  recorded_at: Tue, 04 May 2021 16:31:18 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-6f60f567-4441-4068-bb61-2eaa257937bb?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_volume
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"active":false,"busy":false,"capacity":100,"created_at":"2021-04-14T20:18:46.000Z","crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::volume:r014-6f60f567-4441-4068-bb61-2eaa257937bb","encryption":"provider_managed","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-6f60f567-4441-4068-bb61-2eaa257937bb","id":"r014-6f60f567-4441-4068-bb61-2eaa257937bb","iops":3000,"name":"jm--test-2-boot","operating_system":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/centos-7-amd64","name":"centos-7-amd64"},"profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","name":"general-purpose"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"source_image":{"crn":"crn:v1:bluemix:public:is:us-east:::image:99edcc54-c513-4d46-9f5b-36243a1e50e2","href":"https://us-east.iaas.cloud.ibm.com/v1/images/99edcc54-c513-4d46-9f5b-36243a1e50e2","id":"99edcc54-c513-4d46-9f5b-36243a1e50e2","name":"ibm-centos-7-0-64"},"status":"available","status_reasons":[],"volume_attachments":[{"delete_volume_on_instance_delete":true,"device":{"id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b-tjfj7"},"href":"https://us-east.iaas.cloud.ibm.com/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69/volume_attachments/0757-83905f2c-9df0-46b2-98c2-f60c7093276b","id":"0757-83905f2c-9df0-46b2-98c2-f60c7093276b","instance":{"crn":"crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::instance:0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","href":"https://us-east.iaas.cloud.ibm.com/instances/0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","id":"0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69","name":"jm--test-2"},"name":"volume-attachment","type":"boot"}],"zone":{"href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1","name":"us-east-1"}}'
  recorded_at: Tue, 04 May 2021 16:31:19 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/images/99edcc54-c513-4d46-9f5b-36243a1e50e2?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=list_images
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"99edcc54-c513-4d46-9f5b-36243a1e50e2","crn":"crn:v1:bluemix:public:is:us-east:::image:99edcc54-c513-4d46-9f5b-36243a1e50e2","href":"https://us-east.iaas.cloud.ibm.com/v1/images/99edcc54-c513-4d46-9f5b-36243a1e50e2","name":"ibm-centos-7-0-64","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2019-06-27T00:00:00Z","file":{"size":2},"operating_system":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/centos-7-amd64","name":"centos-7-amd64","architecture":"amd64","display_name":"CentOS
        7.x - Minimal Install (amd64)","family":"CentOS","vendor":"CentOS","version":"7.x
        - Minimal Install","dedicated_host_only":false},"status":"deprecated","visibility":"public","encryption":"none","status_reasons":[],"type":"provider_managed"}'
  recorded_at: Tue, 04 May 2021 16:31:17 GMT
- request:
    method: get
    uri: https://tags.global-search-tagging.cloud.ibm.com/v3/tags?attached_to=crn:v1:bluemix:public:is:us-east-1:a/c56c9a268d23e1b339ac14774358133c::instance:0757_81687d4a-4676-4eeb-9fd7-55f9c7fffb69&offset=0&providers=ghost
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=global_tagging;service_version=V1;operation_id=list_tags
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Global-Transaction-Id:
      - gst-8a762227-87b5-4c4d-ae93-0e90a5518691
      Ghost-Endpoint:
      - ibm:yp:us-south:Kubernetes
      Ghost-Instance:
      - Kubernetes_545cfb764c-jmg4f
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total_count":0,"offset":0,"limit":100,"items":[]}'
  recorded_at: Tue, 04 May 2021 16:31:24 GMT
recorded_with: VCR 5.1.0
