---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBM_CLOUD_VPC_API_KEY&response_type=cloud_iam
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.05697c68.1635273668.27c5267a
      X-Proxy-Upstream-Service-Time:
      - '135'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMTAxODA4MTkiLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC02NjQwMDIyWU5RIiwiaWQiOiJJQk1pZC02NjQwMDIyWU5RIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiNTcwNjFlNzEtYjcwYy00NzE3LWJjNTgtYzNmZmI2ZmNkMmU2IiwiaWRlbnRpZmllciI6IjY2NDAwMjJZTlEiLCJnaXZlbl9uYW1lIjoiTmFzYXIiLCJmYW1pbHlfbmFtZSI6IktoYW4iLCJuYW1lIjoiTmFzYXIgS2hhbiIsImVtYWlsIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwic3ViIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwiYXV0aG4iOnsic3ViIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwiaWFtX2lkIjoiSUJNaWQtNjY0MDAyMllOUSIsIm5hbWUiOiJOYXNhciBLaGFuIiwiZ2l2ZW5fbmFtZSI6Ik5hc2FyIiwiZmFtaWx5X25hbWUiOiJLaGFuIiwiZW1haWwiOiJOYXNhci5LaGFuQGlibS5jb20ifSwiYWNjb3VudCI6eyJib3VuZGFyeSI6Imdsb2JhbCIsInZhbGlkIjp0cnVlLCJic3MiOiJjNTZjOWEyNjhkMjNlMWIzMzlhYzE0Nzc0MzU4MTMzYyIsImltc191c2VyX2lkIjoiOTEyMjA0NiIsImZyb3plbiI6dHJ1ZSwiaW1zIjoiMTE2MDQ0NyJ9LCJpYXQiOjE2MzUyNzM2NjUsImV4cCI6MTYzNTI3NzI2NSwiaXNzIjoiaHR0cHM6Ly9pYW0uY2xvdWQuaWJtLmNvbS9pZGVudGl0eSIsImdyYW50X3R5cGUiOiJ1cm46aWJtOnBhcmFtczpvYXV0aDpncmFudC10eXBlOmFwaWtleSIsInNjb3BlIjoiaWJtIG9wZW5pZCIsImNsaWVudF9pZCI6ImRlZmF1bHQiLCJhY3IiOjEsImFtciI6WyJwd2QiXX0.TDgoroqLVgwnTuEY1LWTijur_99ryCWHQfQ-8p9VdJ6rEnOSzJH0I6tQ8PQyz65YGpHN3mn2nF1NcpEt7HMiUqPX-I39oALwXdbTVytCmfDkuTtgq42LA3Mn0y2jGXjm2oDT2G8kWiEz734nH57Rnt__wYVe0kVULHEggttDt6oONUJakp2fx99b0Pei1nfd74vFvo2C3YMNfiGi2byg2jec0FdXREu51PfUp0A9BwbJUBzTcpINQeA6BUhx4wMMyAEkcote1p2BfitlV2PCN-2fkKMaPR97r5EZobTtZUQrWoVsOSdIDYG4XelYwtkxkKX_ERSSxarsjJ8u9HUKXQ","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102462800,"scope":"ibm
        openid"}'
  recorded_at: Tue, 26 Oct 2021 18:41:08 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904-dpkf4"},"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91/volume_attachments/02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904","id":"02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904","name":"discern-bossiness-pension-sketch","volume":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::volume:r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","href":"https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","id":"r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","name":"rake-instance-boot"}},"created_at":"2021-10-26T18:30:37Z","crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::instance:02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91","disks":[],"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91","id":"02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91","image":{"crn":"crn:v1:bluemix:public:is:ca-tor:::image:r038-ea70cf5b-93f0-4871-a31e-f0030484149e","href":"https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e","id":"r038-ea70cf5b-93f0-4871-a31e-f0030484149e","name":"ibm-debian-9-12-minimal-amd64-1"},"memory":8,"name":"rake-instance","network_interfaces":[{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91/network_interfaces/02q7-5a2cd1b8-9da8-48d4-b3ca-958d92f4c398","id":"02q7-5a2cd1b8-9da8-48d4-b3ca-958d92f4c398","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::subnet:02q7-4264166f-2eb6-4e95-b1b2-7691e1811544","href":"https://ca-tor.iaas.cloud.ibm.com/v1/subnets/02q7-4264166f-2eb6-4e95-b1b2-7691e1811544","id":"02q7-4264166f-2eb6-4e95-b1b2-7691e1811544","name":"rake-subnet","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91/network_interfaces/02q7-5a2cd1b8-9da8-48d4-b3ca-958d92f4c398","id":"02q7-5a2cd1b8-9da8-48d4-b3ca-958d92f4c398","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::subnet:02q7-4264166f-2eb6-4e95-b1b2-7691e1811544","href":"https://ca-tor.iaas.cloud.ibm.com/v1/subnets/02q7-4264166f-2eb6-4e95-b1b2-7691e1811544","id":"02q7-4264166f-2eb6-4e95-b1b2-7691e1811544","name":"rake-subnet","resource_type":"subnet"}},"profile":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","name":"bx2-2x8"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","startable":true,"status":"running","status_reasons":[],"total_network_bandwidth":3000,"total_volume_bandwidth":1000,"vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904-dpkf4"},"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91/volume_attachments/02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904","id":"02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904","name":"discern-bossiness-pension-sketch","volume":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::volume:r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","href":"https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","id":"r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","name":"rake-instance-boot"}}],"vpc":{"crn":"crn:v1:bluemix:public:is:ca-tor:a/c56c9a268d23e1b339ac14774358133c::vpc:r038-e364a5ec-9ab7-4288-9237-6e3526361224","href":"https://ca-tor.iaas.cloud.ibm.com/v1/vpcs/r038-e364a5ec-9ab7-4288-9237-6e3526361224","id":"r038-e364a5ec-9ab7-4288-9237-6e3526361224","name":"rake-network","resource_type":"vpc"},"zone":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/regions/ca-tor/zones/ca-tor-1","name":"ca-tor-1"}}'
  recorded_at: Tue, 26 Oct 2021 18:41:09 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91/initialization?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance_initialization
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"crn":"crn:v1:bluemix:public:is:ca-tor:a/c56c9a268d23e1b339ac14774358133c::key:r038-633970ea-831e-45d3-adfa-64c6cbd87202","fingerprint":"SHA256:xxxxxxx","href":"https://ca-tor.iaas.cloud.ibm.com/v1/keys/r038-633970ea-831e-45d3-adfa-64c6cbd87202","id":"r038-633970ea-831e-45d3-adfa-64c6cbd87202","name":"random_key_0","public_key":"RSA:
        VVVVVV"}]}'
  recorded_at: Tue, 26 Oct 2021 18:41:09 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_volume
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"active":true,"bandwidth":393,"busy":false,"capacity":100,"created_at":"2021-10-26T18:30:38.000Z","crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::volume:r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","encryption":"provider_managed","href":"https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","id":"r038-f1788dc8-1b50-4685-93ac-6e45f8fe7246","iops":3000,"name":"rake-instance-boot","operating_system":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64"},"profile":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","name":"general-purpose"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"source_image":{"crn":"crn:v1:bluemix:public:is:ca-tor:::image:r038-ea70cf5b-93f0-4871-a31e-f0030484149e","href":"https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e","id":"r038-ea70cf5b-93f0-4871-a31e-f0030484149e","name":"ibm-debian-9-12-minimal-amd64-1"},"status":"available","status_reasons":[],"volume_attachments":[{"delete_volume_on_instance_delete":true,"device":{"id":"02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904-dpkf4"},"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91/volume_attachments/02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904","id":"02q7-e105cff7-4dfa-45be-8eb3-dfd7c6c40904","instance":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::instance:02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91","href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91","id":"02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91","name":"rake-instance"},"name":"discern-bossiness-pension-sketch","type":"boot"}],"zone":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/regions/ca-tor/zones/ca-tor-1","name":"ca-tor-1"}}'
  recorded_at: Tue, 26 Oct 2021 18:41:11 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_image
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"r038-ea70cf5b-93f0-4871-a31e-f0030484149e","crn":"crn:v1:bluemix:public:is:ca-tor:::image:r038-ea70cf5b-93f0-4871-a31e-f0030484149e","href":"https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e","name":"ibm-debian-9-12-minimal-amd64-1","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-03-25T14:47:03Z","file":{"size":4},"operating_system":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64","architecture":"amd64","display_name":"Debian
        GNU/Linux 9.x Stretch/Stable - Minimal Install (amd64)","family":"Debian GNU/Linux","vendor":"Debian","version":"9.x
        Stretch/Stable - Minimal Install","dedicated_host_only":false},"status":"deprecated","visibility":"public","encryption":"none","status_reasons":[],"owner_type":"provider"}'
  recorded_at: Tue, 26 Oct 2021 18:41:11 GMT
- request:
    method: get
    uri: https://tags.global-search-tagging.cloud.ibm.com/v3/tags?attached_to=crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::instance:02q7_3cec27d7-193f-4ca6-81e5-c8cf243bbe91&offset=0&providers=ghost
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=global_tagging;service_version=V1;operation_id=list_tags
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Global-Transaction-Id:
      - gst-aec44f67-89f5-4d64-a6b8-d9033b320c29
      Ghost-Endpoint:
      - ibm:yp:us-south:Kubernetes
      Ghost-Instance:
      - Kubernetes_567884cd66-zgn97
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total_count":0,"offset":0,"limit":100,"items":[]}'
  recorded_at: Tue, 26 Oct 2021 18:41:12 GMT
recorded_with: VCR 5.1.0
