---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBM_CLOUD_VPC_API_KEY&response_type=cloud_iam
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.dd2ae8ac.1633467410.71e7f726
      X-Proxy-Upstream-Service-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDkxODA4MTgiLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC02NjQwMDIyWU5RIiwiaWQiOiJJQk1pZC02NjQwMDIyWU5RIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiYzRmZDBmZmUtMDNiOC00MTY0LWFmOGUtYmY1MDQ5NDkzN2YwIiwiaWRlbnRpZmllciI6IjY2NDAwMjJZTlEiLCJnaXZlbl9uYW1lIjoiTmFzYXIiLCJmYW1pbHlfbmFtZSI6IktoYW4iLCJuYW1lIjoiTmFzYXIgS2hhbiIsImVtYWlsIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwic3ViIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwiYXV0aG4iOnsic3ViIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwiaWFtX2lkIjoiSUJNaWQtNjY0MDAyMllOUSIsIm5hbWUiOiJOYXNhciBLaGFuIiwiZ2l2ZW5fbmFtZSI6Ik5hc2FyIiwiZmFtaWx5X25hbWUiOiJLaGFuIiwiZW1haWwiOiJOYXNhci5LaGFuQGlibS5jb20ifSwiYWNjb3VudCI6eyJib3VuZGFyeSI6Imdsb2JhbCIsInZhbGlkIjp0cnVlLCJic3MiOiJjNTZjOWEyNjhkMjNlMWIzMzlhYzE0Nzc0MzU4MTMzYyIsImltc191c2VyX2lkIjoiOTEyMjA0NiIsImZyb3plbiI6dHJ1ZSwiaW1zIjoiMTE2MDQ0NyJ9LCJpYXQiOjE2MzM0Njc0MDcsImV4cCI6MTYzMzQ3MTAwNywiaXNzIjoiaHR0cHM6Ly9pYW0uY2xvdWQuaWJtLmNvbS9pZGVudGl0eSIsImdyYW50X3R5cGUiOiJ1cm46aWJtOnBhcmFtczpvYXV0aDpncmFudC10eXBlOmFwaWtleSIsInNjb3BlIjoiaWJtIG9wZW5pZCIsImNsaWVudF9pZCI6ImRlZmF1bHQiLCJhY3IiOjEsImFtciI6WyJwd2QiXX0.YPOF9DkyN1MNLZsHSyhsMfbP1f-Jz1I0nRlTkfM3c4PXnUGTLjFIhSXGCyavFAUBAOe6i7B_74EizZwRvODd5LXoMhxZr4QhDsMiaLohKm5p55GT00zJSwC_kD_O9WSVx51PVdhpt7K3QKMdNAqHtishXvYvO3hU2sO1oCbQiP2_nhmfx3PnqpJRZksXnW9w7uNzgsO4ph0vGk-YcTZEdwxAaocEJTWpMtZ5cR60NRQ5A6Kbj8r55_JBAocLZgJlMUS8N4gh1hddDstnrxRYeMqgvIqeJZfZsFIHL1LeEPQZwvthu43fQPZuf1NIzYaY4nRGXkjvtWLzIP0Zfa6toQ","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102462800,"scope":"ibm
        openid"}'
  recorded_at: Tue, 05 Oct 2021 20:56:50 GMT
- request:
    method: get
    uri: https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"0717-0b749438-ef52-499a-9f23-f3b8c6a4f860-76ktv"},"href":"https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909/volume_attachments/0717-0b749438-ef52-499a-9f23-f3b8c6a4f860","id":"0717-0b749438-ef52-499a-9f23-f3b8c6a4f860","name":"gullible-distal-liftoff-strategic","volume":{"crn":"crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::volume:r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","href":"https://us-south.iaas.cloud.ibm.com/v1/volumes/r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","id":"r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","name":"rake-instance-boot"}},"created_at":"2021-10-05T20:51:51Z","crn":"crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::instance:0717_c45f46bc-21da-40ab-8376-52861c3ee909","disks":[],"href":"https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909","id":"0717_c45f46bc-21da-40ab-8376-52861c3ee909","image":{"crn":"crn:v1:bluemix:public:is:us-south:::image:r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","href":"https://us-south.iaas.cloud.ibm.com/v1/images/r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","id":"r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","name":"ibm-debian-9-12-minimal-amd64-2"},"memory":8,"name":"rake-instance","network_interfaces":[{"href":"https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909/network_interfaces/0717-4c15fbfb-5778-4940-ab91-1fd9eb471073","id":"0717-4c15fbfb-5778-4940-ab91-1fd9eb471073","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0717-ef4f051a-2615-49b9-89c7-4c7067632a6f","href":"https://us-south.iaas.cloud.ibm.com/v1/subnets/0717-ef4f051a-2615-49b9-89c7-4c7067632a6f","id":"0717-ef4f051a-2615-49b9-89c7-4c7067632a6f","name":"rake-subnet","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909/network_interfaces/0717-4c15fbfb-5778-4940-ab91-1fd9eb471073","id":"0717-4c15fbfb-5778-4940-ab91-1fd9eb471073","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::subnet:0717-ef4f051a-2615-49b9-89c7-4c7067632a6f","href":"https://us-south.iaas.cloud.ibm.com/v1/subnets/0717-ef4f051a-2615-49b9-89c7-4c7067632a6f","id":"0717-ef4f051a-2615-49b9-89c7-4c7067632a6f","name":"rake-subnet","resource_type":"subnet"}},"profile":{"href":"https://us-south.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","name":"bx2-2x8"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","startable":true,"status":"running","status_reasons":[],"total_network_bandwidth":3000,"total_volume_bandwidth":1000,"vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"0717-0b749438-ef52-499a-9f23-f3b8c6a4f860-76ktv"},"href":"https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909/volume_attachments/0717-0b749438-ef52-499a-9f23-f3b8c6a4f860","id":"0717-0b749438-ef52-499a-9f23-f3b8c6a4f860","name":"gullible-distal-liftoff-strategic","volume":{"crn":"crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::volume:r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","href":"https://us-south.iaas.cloud.ibm.com/v1/volumes/r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","id":"r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","name":"rake-instance-boot"}}],"vpc":{"crn":"crn:v1:bluemix:public:is:us-south:a/c56c9a268d23e1b339ac14774358133c::vpc:r006-871c3dfe-fb6e-40d8-9a0d-c0b053078e39","href":"https://us-south.iaas.cloud.ibm.com/v1/vpcs/r006-871c3dfe-fb6e-40d8-9a0d-c0b053078e39","id":"r006-871c3dfe-fb6e-40d8-9a0d-c0b053078e39","name":"rake-network","resource_type":"vpc"},"zone":{"href":"https://us-south.iaas.cloud.ibm.com/v1/regions/us-south/zones/us-south-1","name":"us-south-1"}}'
  recorded_at: Tue, 05 Oct 2021 20:56:51 GMT
- request:
    method: get
    uri: https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909/initialization?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance_initialization
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"crn":"crn:v1:bluemix:public:is:us-south:a/c56c9a268d23e1b339ac14774358133c::key:r006-7bc9d701-4fac-49fe-a7cc-e53efe8ec2e0","fingerprint":"SHA256:xxxxxxx","href":"https://us-south.iaas.cloud.ibm.com/v1/keys/r006-7bc9d701-4fac-49fe-a7cc-e53efe8ec2e0","id":"r006-7bc9d701-4fac-49fe-a7cc-e53efe8ec2e0","name":"random_key_0","public_key":"RSA:
        VVVVVV"}]}'
  recorded_at: Tue, 05 Oct 2021 20:56:51 GMT
- request:
    method: get
    uri: https://us-south.iaas.cloud.ibm.com/v1/volumes/r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_volume
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"active":true,"bandwidth":393,"busy":false,"capacity":100,"created_at":"2021-10-05T20:51:52.000Z","crn":"crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::volume:r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","encryption":"provider_managed","href":"https://us-south.iaas.cloud.ibm.com/v1/volumes/r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","id":"r006-f4c5ea6c-018e-4d5d-a6d6-534e00442628","iops":3000,"name":"rake-instance-boot","operating_system":{"href":"https://us-south.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64"},"profile":{"href":"https://us-south.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","name":"general-purpose"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"source_image":{"crn":"crn:v1:bluemix:public:is:us-south:::image:r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","href":"https://us-south.iaas.cloud.ibm.com/v1/images/r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","id":"r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","name":"ibm-debian-9-12-minimal-amd64-2"},"status":"available","status_reasons":[],"volume_attachments":[{"delete_volume_on_instance_delete":true,"device":{"id":"0717-0b749438-ef52-499a-9f23-f3b8c6a4f860-76ktv"},"href":"https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909/volume_attachments/0717-0b749438-ef52-499a-9f23-f3b8c6a4f860","id":"0717-0b749438-ef52-499a-9f23-f3b8c6a4f860","instance":{"crn":"crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::instance:0717_c45f46bc-21da-40ab-8376-52861c3ee909","href":"https://us-south.iaas.cloud.ibm.com/v1/instances/0717_c45f46bc-21da-40ab-8376-52861c3ee909","id":"0717_c45f46bc-21da-40ab-8376-52861c3ee909","name":"rake-instance"},"name":"gullible-distal-liftoff-strategic","type":"boot"}],"zone":{"href":"https://us-south.iaas.cloud.ibm.com/v1/regions/us-south/zones/us-south-1","name":"us-south-1"}}'
  recorded_at: Tue, 05 Oct 2021 20:57:04 GMT
- request:
    method: get
    uri: https://us-south.iaas.cloud.ibm.com/v1/images/r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_image
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","crn":"crn:v1:bluemix:public:is:us-south:::image:r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","href":"https://us-south.iaas.cloud.ibm.com/v1/images/r006-5e390f7b-0469-4ac1-b589-2fea307c1c5a","name":"ibm-debian-9-12-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-05-12T14:47:03Z","file":{"size":2},"operating_system":{"href":"https://us-south.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64","architecture":"amd64","display_name":"Debian
        GNU/Linux 9.x Stretch/Stable - Minimal Install (amd64)","family":"Debian GNU/Linux","vendor":"Debian","version":"9.x
        Stretch/Stable - Minimal Install","dedicated_host_only":false},"status":"deprecated","visibility":"public","encryption":"none","status_reasons":[],"owner_type":"provider"}'
  recorded_at: Tue, 05 Oct 2021 20:57:05 GMT
- request:
    method: get
    uri: https://tags.global-search-tagging.cloud.ibm.com/v3/tags?attached_to=crn:v1:bluemix:public:is:us-south-1:a/c56c9a268d23e1b339ac14774358133c::instance:0717_c45f46bc-21da-40ab-8376-52861c3ee909&offset=0&providers=ghost
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=global_tagging;service_version=V1;operation_id=list_tags
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Global-Transaction-Id:
      - gst-4cba2873-fc07-41dd-8ffb-a914570eae1c
      Ghost-Endpoint:
      - ibm:yp:us-south:Kubernetes
      Ghost-Instance:
      - Kubernetes_67c49bcf47-z9629
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total_count":0,"offset":0,"limit":100,"items":[]}'
  recorded_at: Tue, 05 Oct 2021 20:57:06 GMT
recorded_with: VCR 5.1.0
