---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBM_CLOUD_VPC_API_KEY&response_type=cloud_iam
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.640fd017.1634141333.102cc5ff
      X-Proxy-Upstream-Service-Time:
      - '112'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDkxODA4MTgiLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC02NjQwMDIyWU5RIiwiaWQiOiJJQk1pZC02NjQwMDIyWU5RIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiZjg0Mjg4MjAtMTRlMC00NTlhLWIxZDMtYWRkMTVjNTBjOTczIiwiaWRlbnRpZmllciI6IjY2NDAwMjJZTlEiLCJnaXZlbl9uYW1lIjoiTmFzYXIiLCJmYW1pbHlfbmFtZSI6IktoYW4iLCJuYW1lIjoiTmFzYXIgS2hhbiIsImVtYWlsIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwic3ViIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwiYXV0aG4iOnsic3ViIjoiTmFzYXIuS2hhbkBpYm0uY29tIiwiaWFtX2lkIjoiSUJNaWQtNjY0MDAyMllOUSIsIm5hbWUiOiJOYXNhciBLaGFuIiwiZ2l2ZW5fbmFtZSI6Ik5hc2FyIiwiZmFtaWx5X25hbWUiOiJLaGFuIiwiZW1haWwiOiJOYXNhci5LaGFuQGlibS5jb20ifSwiYWNjb3VudCI6eyJib3VuZGFyeSI6Imdsb2JhbCIsInZhbGlkIjp0cnVlLCJic3MiOiJjNTZjOWEyNjhkMjNlMWIzMzlhYzE0Nzc0MzU4MTMzYyIsImltc191c2VyX2lkIjoiOTEyMjA0NiIsImZyb3plbiI6dHJ1ZSwiaW1zIjoiMTE2MDQ0NyJ9LCJpYXQiOjE2MzQxNDEzMzEsImV4cCI6MTYzNDE0NDkzMSwiaXNzIjoiaHR0cHM6Ly9pYW0uY2xvdWQuaWJtLmNvbS9pZGVudGl0eSIsImdyYW50X3R5cGUiOiJ1cm46aWJtOnBhcmFtczpvYXV0aDpncmFudC10eXBlOmFwaWtleSIsInNjb3BlIjoiaWJtIG9wZW5pZCIsImNsaWVudF9pZCI6ImRlZmF1bHQiLCJhY3IiOjEsImFtciI6WyJwd2QiXX0.e6FkXZ1DchwrvVfsednUOmDhkw6TZUiKKeHNkUPeMKz18Fe5diOnRdFCxM1IK56F0FCZu2dynzz3CtsTZ2mwryC9ld3SzGR_vd0ly3MbeyWYYFFZgWuKAOdsX7RkxfkABNegMxrD61orFSAys6TXSuS6Wzyf8NsZKVAL7CUvGDwe8PD990iHX8Wh8C04sBXYXw2qYAF3neKj0hZVLBAXpySJT3YVQBDgQ0k6RLlRoAun9pWxkvo1iodY-AgtN_KrC5m1QKaGOclM6y8kmDnigA-Ly2ntGBxQ_6yxyMQq15hTu3Y5TgsamqMSfQkDXf3axRvr4LN5zBxxYSLi5v5QvQ","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102462800,"scope":"ibm
        openid"}'
  recorded_at: Wed, 13 Oct 2021 16:08:54 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09-v554f"},"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8/volume_attachments/02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09","id":"02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09","name":"blatancy-luminance-oblivious-monorail","volume":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::volume:r038-142d7e33-c230-4df5-9add-2c300b0ce651","href":"https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-142d7e33-c230-4df5-9add-2c300b0ce651","id":"r038-142d7e33-c230-4df5-9add-2c300b0ce651","name":"rake-instance-boot"}},"created_at":"2021-10-13T16:03:00Z","crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::instance:02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8","disks":[],"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8","id":"02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8","image":{"crn":"crn:v1:bluemix:public:is:ca-tor:::image:r038-ea70cf5b-93f0-4871-a31e-f0030484149e","href":"https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e","id":"r038-ea70cf5b-93f0-4871-a31e-f0030484149e","name":"ibm-debian-9-12-minimal-amd64-1"},"memory":8,"name":"rake-instance","network_interfaces":[{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8/network_interfaces/02q7-153af9a5-e23b-42ba-8467-193a45ab29c4","id":"02q7-153af9a5-e23b-42ba-8467-193a45ab29c4","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::subnet:02q7-306433e5-6a0d-4015-88b6-dc718089bba9","href":"https://ca-tor.iaas.cloud.ibm.com/v1/subnets/02q7-306433e5-6a0d-4015-88b6-dc718089bba9","id":"02q7-306433e5-6a0d-4015-88b6-dc718089bba9","name":"rake-subnet","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8/network_interfaces/02q7-153af9a5-e23b-42ba-8467-193a45ab29c4","id":"02q7-153af9a5-e23b-42ba-8467-193a45ab29c4","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::subnet:02q7-306433e5-6a0d-4015-88b6-dc718089bba9","href":"https://ca-tor.iaas.cloud.ibm.com/v1/subnets/02q7-306433e5-6a0d-4015-88b6-dc718089bba9","id":"02q7-306433e5-6a0d-4015-88b6-dc718089bba9","name":"rake-subnet","resource_type":"subnet"}},"profile":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","name":"bx2-2x8"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","startable":true,"status":"running","status_reasons":[],"total_network_bandwidth":3000,"total_volume_bandwidth":1000,"vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09-v554f"},"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8/volume_attachments/02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09","id":"02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09","name":"blatancy-luminance-oblivious-monorail","volume":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::volume:r038-142d7e33-c230-4df5-9add-2c300b0ce651","href":"https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-142d7e33-c230-4df5-9add-2c300b0ce651","id":"r038-142d7e33-c230-4df5-9add-2c300b0ce651","name":"rake-instance-boot"}}],"vpc":{"crn":"crn:v1:bluemix:public:is:ca-tor:a/c56c9a268d23e1b339ac14774358133c::vpc:r038-ac80312e-5533-4886-9392-51d9c4d3a021","href":"https://ca-tor.iaas.cloud.ibm.com/v1/vpcs/r038-ac80312e-5533-4886-9392-51d9c4d3a021","id":"r038-ac80312e-5533-4886-9392-51d9c4d3a021","name":"rake-network","resource_type":"vpc"},"zone":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/regions/ca-tor/zones/ca-tor-1","name":"ca-tor-1"}}'
  recorded_at: Wed, 13 Oct 2021 16:08:55 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8/initialization?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_instance_initialization
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"crn":"crn:v1:bluemix:public:is:ca-tor:a/c56c9a268d23e1b339ac14774358133c::key:r038-a27f8d7f-5830-4c50-9193-e7c2f0adcc47","fingerprint":"SHA256:xxxxxxx","href":"https://ca-tor.iaas.cloud.ibm.com/v1/keys/r038-a27f8d7f-5830-4c50-9193-e7c2f0adcc47","id":"r038-a27f8d7f-5830-4c50-9193-e7c2f0adcc47","name":"random_key_0","public_key":"RSA:
        VVVVVV"}]}'
  recorded_at: Wed, 13 Oct 2021 16:08:55 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-142d7e33-c230-4df5-9add-2c300b0ce651?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_volume
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"active":true,"bandwidth":393,"busy":false,"capacity":100,"created_at":"2021-10-13T16:03:02.000Z","crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::volume:r038-142d7e33-c230-4df5-9add-2c300b0ce651","encryption":"provider_managed","href":"https://ca-tor.iaas.cloud.ibm.com/v1/volumes/r038-142d7e33-c230-4df5-9add-2c300b0ce651","id":"r038-142d7e33-c230-4df5-9add-2c300b0ce651","iops":3000,"name":"rake-instance-boot","operating_system":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64"},"profile":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","name":"general-purpose"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"source_image":{"crn":"crn:v1:bluemix:public:is:ca-tor:::image:r038-ea70cf5b-93f0-4871-a31e-f0030484149e","href":"https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e","id":"r038-ea70cf5b-93f0-4871-a31e-f0030484149e","name":"ibm-debian-9-12-minimal-amd64-1"},"status":"available","status_reasons":[],"volume_attachments":[{"delete_volume_on_instance_delete":true,"device":{"id":"02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09-v554f"},"href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8/volume_attachments/02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09","id":"02q7-873a4fc7-f578-46bc-a7b2-82e3e68d4b09","instance":{"crn":"crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::instance:02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8","href":"https://ca-tor.iaas.cloud.ibm.com/v1/instances/02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8","id":"02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8","name":"rake-instance"},"name":"blatancy-luminance-oblivious-monorail","type":"boot"}],"zone":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/regions/ca-tor/zones/ca-tor-1","name":"ca-tor-1"}}'
  recorded_at: Wed, 13 Oct 2021 16:08:58 GMT
- request:
    method: get
    uri: https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e?generation=2&version=2021-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=vpc;service_version=V1;operation_id=get_image
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"r038-ea70cf5b-93f0-4871-a31e-f0030484149e","crn":"crn:v1:bluemix:public:is:ca-tor:::image:r038-ea70cf5b-93f0-4871-a31e-f0030484149e","href":"https://ca-tor.iaas.cloud.ibm.com/v1/images/r038-ea70cf5b-93f0-4871-a31e-f0030484149e","name":"ibm-debian-9-12-minimal-amd64-1","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-03-25T14:47:03Z","file":{"size":4},"operating_system":{"href":"https://ca-tor.iaas.cloud.ibm.com/v1/operating_systems/debian-9-amd64","name":"debian-9-amd64","architecture":"amd64","display_name":"Debian
        GNU/Linux 9.x Stretch/Stable - Minimal Install (amd64)","family":"Debian GNU/Linux","vendor":"Debian","version":"9.x
        Stretch/Stable - Minimal Install","dedicated_host_only":false},"status":"deprecated","visibility":"public","encryption":"none","status_reasons":[],"owner_type":"provider"}'
  recorded_at: Wed, 13 Oct 2021 16:08:58 GMT
- request:
    method: get
    uri: https://tags.global-search-tagging.cloud.ibm.com/v3/tags?attached_to=crn:v1:bluemix:public:is:ca-tor-1:a/c56c9a268d23e1b339ac14774358133c::instance:02q7_b7a87426-7568-45b2-89c1-bbd0776c2ce8&offset=0&providers=ghost
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=global_tagging;service_version=V1;operation_id=list_tags
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Global-Transaction-Id:
      - gst-450ee9c8-9a51-45aa-883c-75a3928913f9
      Ghost-Endpoint:
      - ibm:yp:us-south:Kubernetes
      Ghost-Instance:
      - Kubernetes_6c89595c5d-fwwl9
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total_count":0,"offset":0,"limit":100,"items":[]}'
  recorded_at: Wed, 13 Oct 2021 16:08:59 GMT
recorded_with: VCR 5.1.0
