---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token#apikey
    body:
      encoding: UTF-8
      string: apikey=IBM_CLOUD_POWERVS_API_KEY&grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - aWFtaWQtNi43LTExMjIzLWY0YTBjNDgtNWI4Zjg1NjU3OC00c2Q2ZA-b180a334949b40ffb6e5f5062ef6d380
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.ae6019b8.1626961932.c36281d
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDcxOTE4MzciLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC01NTAwMDJZWDVOIiwiaWQiOiJJQk1pZC01NTAwMDJZWDVOIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiNWZmYjAwYjAtZDhhMC00YWVkLWI2MjUtMTRiNmQwNmMwNTZjIiwiaWRlbnRpZmllciI6IjU1MDAwMllYNU4iLCJnaXZlbl9uYW1lIjoiS3VsZGlwIiwiZmFtaWx5X25hbWUiOiJOYW5kYSIsIm5hbWUiOiJLdWxkaXAgTmFuZGEiLCJlbWFpbCI6Ikt1bGRpcC5OYW5kYUBpYm0uY29tIiwic3ViIjoiS3VsZGlwLk5hbmRhQGlibS5jb20iLCJhdXRobiI6eyJzdWIiOiJLdWxkaXAuTmFuZGFAaWJtLmNvbSIsImlhbV9pZCI6IklCTWlkLTU1MDAwMllYNU4iLCJuYW1lIjoiS3VsZGlwIE5hbmRhIiwiZ2l2ZW5fbmFtZSI6Ikt1bGRpcCIsImZhbWlseV9uYW1lIjoiTmFuZGEiLCJlbWFpbCI6Ikt1bGRpcC5OYW5kYUBpYm0uY29tIn0sImFjY291bnQiOnsiYm91bmRhcnkiOiJnbG9iYWwiLCJ2YWxpZCI6dHJ1ZSwiYnNzIjoiNjViNjRjMWYxYzI5NDYwZThjMmU0YmJmYmQ4OTNjMmMiLCJpbXNfdXNlcl9pZCI6Ijg1Mzg4MDgiLCJmcm96ZW4iOnRydWUsImltcyI6IjIwNTMwMTIifSwiaWF0IjoxNjI2OTYxOTI5LCJleHAiOjE2MjY5NjU1MjksImlzcyI6Imh0dHBzOi8vaWFtLmNsb3VkLmlibS5jb20vaWRlbnRpdHkiLCJncmFudF90eXBlIjoidXJuOmlibTpwYXJhbXM6b2F1dGg6Z3JhbnQtdHlwZTphcGlrZXkiLCJzY29wZSI6ImlibSBvcGVuaWQiLCJjbGllbnRfaWQiOiJkZWZhdWx0IiwiYWNyIjoxLCJhbXIiOlsicHdkIl19.a38km95jWWuP3PfQNIHr_InOyY6SUafhYlPORusIcMavRMLYYd2iLaQtOFtTEpEp6hwQepCcQLY0s3dhDOPVXb04ADhgPcWNT4LHyRgDzvBF8SBqmUolGB0Ggg8ALF0jqHbd63LBM7W_mj-EB_cNulHGdcHuSVsHxY9lX9HynTYGrRgk6Oek5BUIXlepqRyLFYRMq5ZDliz31ukhZRuiLIsnv37Jc9a_lmYGF48Q66UpiXgwaMOqPpGZfggWjD-wftQIiX1Om250ZvypmhGXDX3an6qrpuNWkAalxXEVsxLo33BeTxSIvv1c8KwLP1VV8WsAl4ISOd91xi2x-ukEoQ","refresh_token":"not_supported","ims_user_id":8538808,"token_type":"Bearer","expires_in":3600,"expiration":1626965529,"scope":"ibm
        openid"}'
  recorded_at: Thu, 22 Jul 2021 13:52:12 GMT
- request:
    method: get
    uri: https://resource-controller.cloud.ibm.com/v2/resource_instances/3ea904f1-67df-4ae0-960f-e13ffa469f12
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=resource_controller;service_version=V2;operation_id=get_resource_instance
      Authorization:
      - Bearer eyJraWQiOiIyMDIxMDcxOTE4MzciLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC01NTAwMDJZWDVOIiwiaWQiOiJJQk1pZC01NTAwMDJZWDVOIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiNWZmYjAwYjAtZDhhMC00YWVkLWI2MjUtMTRiNmQwNmMwNTZjIiwiaWRlbnRpZmllciI6IjU1MDAwMllYNU4iLCJnaXZlbl9uYW1lIjoiS3VsZGlwIiwiZmFtaWx5X25hbWUiOiJOYW5kYSIsIm5hbWUiOiJLdWxkaXAgTmFuZGEiLCJlbWFpbCI6Ikt1bGRpcC5OYW5kYUBpYm0uY29tIiwic3ViIjoiS3VsZGlwLk5hbmRhQGlibS5jb20iLCJhdXRobiI6eyJzdWIiOiJLdWxkaXAuTmFuZGFAaWJtLmNvbSIsImlhbV9pZCI6IklCTWlkLTU1MDA[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"images":[{"creationDate":"2021-05-14T13:11:08.000Z","description":"","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/images/0dbe9ca3-a65a-432e-adf4-71115b479414","imageID":"0dbe9ca3-a65a-432e-adf4-71115b479414","lastUpdateDate":"2021-06-07T15:37:12.000Z","name":"7100-05-05","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storagePool":"Tier3-Flash-1","storageType":"tier3"},{"creationDate":"2021-05-14T13:12:22.000Z","description":"","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/images/53fb57f3-5d6f-4033-a1c1-1c74d5e21560","imageID":"53fb57f3-5d6f-4033-a1c1-1c74d5e21560","lastUpdateDate":"2021-06-07T15:37:12.000Z","name":"7200-04-01","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storage[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/system-pools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"e980":{"capacity":{"cores":143,"memory":22723},"coreMemoryRatio":64,"maxAvailable":{"cores":28.5,"memory":16093},"maxCoresAvailable":{"cores":28.5,"memory":16093},"maxMemoryAvailable":{"cores":28.5,"memory":16093},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":28.5,"id":2,"memory":16093},{"cores":23.25,"id":1,"memory":7875}],"type":"e980"},"s922":{"capacity":{"cores":15,"memory":926},"coreMemoryRatio":64,"maxAvailable":{"cores":8.75,"memory":847},"maxCoresAvailable":{"cores":8.75,"memory":617},"maxMemoryAvailable":{"cores":1.5,"memory":847},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":8.75,"id":7,"memory":617},{"cores":8.75,"id":16,"memory":501},{"cores":8.25,"id":19,"memory":665},{"cores":8.25,"id":12,"memory":732},{"cores":8,"id":13,"memory":635},{"cores":7.5,"id":3,"memory":603},{"cores":7.5,"id":8,"memory":651},{"cores":7.25,"id":10,"memory":637},{"cores":7,"id":18,"memory":605},{"cores":6.75,"id":4,"memory":649},{"cores":6,"id":24,"memory":600},{"cores":6,"id":6,"memory":683},{"cores":5.75,"id":9,"memory":617},{"cores":5.75,"id":25,"memory":511},{"cores":5.75,"id":21,"memory":576},{"cores":5.25,"id":17,"memory":583},{"cores":5.25,"id":20,"memory":432},{"cores":4.25,"id":5,"memory":614},{"cores":4.25,"id":14,"memory":500},{"cores":3.5,"id":26,"memory":618},{"cores":3.25,"id":22,"memory":551},{"cores":1.5,"id":11,"memory":847}],"type":"s922"}}

'
  recorded_at: Thu, 22 Jul 2021 13:52:22 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"capabilities":["pinning","ibmi-software-licenses","snapshots","volume-clone","linux","sap","rhel-sap"],"cloudInstanceID":"5818fde64f5d409b906226c5c0c27654","enabled":true,"initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"3ea904f1-67df-4ae0-960f-e13ffa469f12","openstackID":"5572ef76-016f-454e-894c-a553265bc8e1","pvmInstances":[],"region":"sao01","tenantID":"1fdf5effc3f945688c021cd0a8b45c4d","usage":{"instances":0,"memory":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0,"storageStandard":0}}

'
  recorded_at: Thu, 22 Jul 2021 13:52:25 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/sap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profiles":[{"certified":true,"cores":16,"memory":1600,"profileID":"bh1-16x1600","type":"balanced"},{"certified":true,"cores":20,"memory":2000,"profileID":"bh1-20x2000","type":"balanced"},{"certified":true,"cores":22,"memory":2200,"profileID":"bh1-22x2200","type":"balanced"},{"certified":true,"cores":25,"memory":2500,"profileID":"bh1-25x2500","type":"balanced"},{"certified":true,"cores":30,"memory":3000,"profileID":"bh1-30x3000","type":"balanced"},{"certified":true,"cores":35,"memory":3500,"profileID":"bh1-35x3500","type":"balanced"},{"certified":true,"cores":4[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/storage-capacity/storage-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maximumStorageAllocation":{"maxAllocationSize":318922,"storagePool":"Tier1-Flash-2","storageType":"tier1"},"storageTypesCapacity":[{"maximumStorageAllocation":{"maxAllocationSize":318922,"storagePool":"Tier1-Flash-2","storageType":"tier1"},"storagePoolsCapacity":[{"maxAllocationSize":305251,"poolName":"Tier1-Flash-1","storageType":"tier1","totalCapacity":390092},{"maxAllocationSize":318922,"poolName":"Tier1-Flash-2","storageType":"tier1","totalCapacity":390092}],"storageType":"tier1"},{"maximumStorageAllocation":{"maxAllocationSize":314928,"storagePool":"Tier3-Flash-1","storageType":"tier3"},"storagePoolsCapacity":[{"maxAllocationSize":275146,"poolName":"Tier3-Flash-2","storageType":"tier3","totalCapacity":390092},{"maxAllocationSize":314928,"poolName":"Tier3-Flash-1","storageType":"tier3","totalCapacity":390092}],"storageType":"tier3"}]}

'
  recorded_at: Thu, 22 Jul 2021 13:52:28 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"volumes":[{"bootVolume":false,"bootable":true,"creationDate":"2021-07-20T20:02:29.000Z","diskType":"tier3","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/volumes/3b23f64b-b4d6-4168-b9e3-ccc240b3581b","lastUpdateDate":"2021-07-20T20:02:50.000Z","name":"rdr-powervs-i-bbd84fd0-00003c51-boot-0","pvmInstanceIDs":["bbd84fd0-e5b6-4f56-a268-897bd7ad32fa"],"shareable":false,"size":80,"state":"in-use","volumeID":"3b23f64b-b4d6-4168-b9e3-ccc240b3581b","volumePool":"Tier3-Flash-1","volumeType":"Tier3-Flash-1","wwn":"6005076810810261D000000000001307"},{"bootVolume":false,"bootable":true,"creationDate":"2021-07-07T03:15:46.000Z","diskType":"tier1","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/volumes/56627cc4-9e5b-4508-9f93-657efbbb8daf","lastUpdateDate":"2021-07-07T03:16:11.000Z","name":"powervs-cento-ee3b7290-00003612-boot-0","pvmInstanceIDs":["ee3b7290-0a1d-4107-851b-e879e3a15ad0"],"shareable":false,"size":250,"state":"in-use","volumeID":"56627cc4-9e5b-4508-9f93-657efbbb8daf","volume[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/pvm-instances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pvmInstances":[{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/bbd84fd0-e5b6-4f56-a268-897bd7ad32fa/networks/private-network-1","ip":"127.0.0.147","ipAddress":"127.0.0.147","macAddress":"fa:af:40:db:cc:20","networkName":"private-network-1","type":"fixed","version":4}],"creationDate":"2021-07-20T20:02:19.000Z","diskSize":80,"health":{"lastUpdate":"2021-07-22T13:52:35.408804","status":"OK"},"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/bbd84fd0-e5b6-4f56-a268-897bd7ad32fa","imageID":"9c17436d-2c00-418e-b552-a1d6880a6d9b","maxmem":16,"maxproc":2,"memory":2,"minmem":2,"minproc":0.25,"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/bbd84fd0-e5b6-4f56-a268-897bd7ad32fa/networks/private-network-1","ip":"127.0.0.147","ipAddress":"127.0.0.147","macAddress":"fa:af:40:db:cc:20","networkName":"private-network-1","type":"fixed","version":4}],"operatingSystem":"V7R2M0
        410 9","osType":"ibmi","pinPolicy":"hard","procType":"shared","processors":0.25,"pvmInstanceID":"bbd84fd0-e5b6-4f56-a268-897bd7ad32fa","serverName":"rdr-powervs-ibmi","softwareLicenses":{"ibmiCSS":true,"ibmiDBQ":true,"ibmiPHA":true,"ibmiRDS":true,"ibmiRDSUsers":1},"srcs":[[{"src":"00000000","timestamp":"2021-07-20T20:08:40Z"}]],"status":"ACTIVE","sysType":"e980","updatedDate":"2021-07-20T20:02:19.000Z","virtualCores":{"assigned":1,"max":5,"min":1}},{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/private-network-2","ip":"127.0.0.66","ipAddress":"127.0.0.66","macAddress":"fa:4e:9d:f1:5a:21","networkName":"private-network-2","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/public-192_168_172_72-29-VLAN_2037","ip":"127.0.0.7[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/pvm-instances/bbd84fd0-e5b6-4f56-a268-897bd7ad32fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/bbd84fd0-e5b6-4f56-a268-897bd7ad32fa/networks/caf12e74-8b75-46db-8bd0-4aded9fcfbc5","ip":"127.0.0.147","ipAddress":"127.0.0.147","macAddress":"fa:af:40:db:cc:20","networkID":"caf12e74-8b75-46db-8bd0-4aded9fcfbc5","networkName":"private-network-1","type":"fixed","version":4}],"creationDate":"2021-07-20T20:02:19.000Z","diskSize":80,"health":{"lastUpdate":"2021-07-22T13:52:37.889391","status":"OK"},"imageID":"9c17436d-2c00-418e-b552-a1d6880a6d9b","maxmem":16,"maxproc":2,"memory":2,"migratable":false,"minmem":2,"minproc":0.25,"networkIDs":["caf12e74-8b75-46db-8bd0-4aded9fcfbc5"],"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/bbd84fd0-e5b6-4f56-a268-897bd7ad32fa/networks/caf12e74-8b75-46db-8bd0-4aded9fcfbc5","ip":"127.0.0.147","ipAddress":"127.0.0.147","macAddress":"fa:af:40:db:cc:20","networkID":"caf12e74-8b75-46db-8bd0-4aded9fcfbc5","networkName":"private-network-1","type":"fixed","version":4}],"operatingSystem":"V7R2M0
        410 9","osType":"ibmi","pinPolicy":"hard","placementGroup":"none","procType":"shared","processors":0.25,"pvmInstanceID":"bbd84fd0-e5b6-4f56-a268-897bd7ad32fa","serverName":"rdr-powervs-ibmi","softwareLicenses":{"ibmiCSS":true,"ibmiDBQ":true,"ibmiPHA":true,"ibmiRDS":true,"ibmiRDSUsers":1},"srcs":[[{"src":"00000000","timestamp":"2021-07-20T20:08:40Z"}]],"status":"ACTIVE","storageType":"tier3","sysType":"e980","updatedDate":"2021-07-20T20:02:19.000Z","virtualCores":{"assigned":1,"max":5,"min":1},"volumeIDs":["3b23f64b-b4d6-4168-b9e3-ccc240b3581b"]}

'
  recorded_at: Thu, 22 Jul 2021 13:52:42 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/images/9c17436d-2c00-418e-b552-a1d6880a6d9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"creationDate":"2020-11-24T18:58:17.000Z","imageID":"9c17436d-2c00-418e-b552-a1d6880a6d9b","lastUpdateDate":"2021-06-07T15:37:22.000Z","name":"IBMi-72-09-003","servers":[],"size":80,"specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","operatingSystem":"ibmi"},"state":"active","storagePool":"Tier3-Flash-1","storageType":"tier3","volumes":[{"bootable":true,"name":"Imported
        image volume","size":80,"volumeID":"47e8633f-3214-41e9-a171-29d95b635c63"}]}

'
  recorded_at: Thu, 22 Jul 2021 13:52:47 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/dd93ecbf-f680-4478-b7a2-80b9f482a647","ip":"127.0.0.66","ipAddress":"127.0.0.66","macAddress":"fa:4e:9d:f1:5a:21","networkID":"dd93ecbf-f680-4478-b7a2-80b9f482a647","networkName":"private-network-2","type":"fixed","version":4},{"externalIP":"127.0.0.74","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","ip":"127.0.0.74","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"creationDate":"2021-07-07T03:15:37.000Z","diskSize":250,"health":{"lastUpdate":"2021-07-22T13:52:48.739552","stat[...]
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","jumbo":true,"name":"public-192_168_172_72-29-VLAN_2037","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","type":"pub-vlan","vlanID":2037},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/caf12e74-8b75-46db-8bd0-4aded9fcfbc5","jumbo":true,"name":"private-network-1","networkID":"caf12e74-8b75-46db-8bd0-4aded9fcfbc5","type":"vlan","vlanID":329},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/dd93ecbf-f680-4478-b7a2-80b9f482a647","jumbo":true,"name":"private-network-2","networkID":"dd93ecbf-f680-4478-b7a2-80b9f482a647","type":"vlan","vlanID":330}]}

'
  recorded_at: Thu, 22 Jul 2021 13:53:03 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks/2126f163-ab11-471a-95a5-7003f23ae9e2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cidr":"127.0.0.72/29","dnsServers":["127.0.0.9"],"gateway":"127.0.0.73","ipAddressMetrics":{"available":3,"total":5,"used":2,"utilization":40},"ipAddressRanges":[{"endingIPAddress":"127.0.0.78","startingIPAddress":"127.0.0.74"}],"jumbo":true,"name":"public-192_168_172_72-29-VLAN_2037","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","publicIPAddressRanges":[{"endingIPAddress":"127.0.0.78","startingIPAddress":"127.0.0.74"}],"type":"pub-vlan","vlanID":2037}

'
  recorded_at: Thu, 22 Jul 2021 13:53:04 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ports":[{"description":"","externalIP":"127.0.0.74","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports/031b4aa3-7d29-4ee2-bac3-96d6b9893d16","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","portID":"031b4aa3-7d29-4ee2-bac3-96d6b9893d16","pvmInstance":{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0","pvmInstanceID":"ee3b7290-0a1d-4107-851b-e879e3a15ad0"},"status":"ACTIVE"},{"description":"","externalIP":"127.0.0.77","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports/7c276396-b967-4228-846c-c7b1b6b17858","ipAddress":"127.0.0.77","macAddress":"fa:d9:90:05:76:20","portID":"7c276396-b967-4228-846c-c7b1b6b17858","pvmInstance":{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/b898b0cd-463b-4b05-90d3-b98f73234e8f","pvmInstanceID":"b898b0cd-463b-4b05-90d3-b98f73234e8f"},"status":"ACTIVE"}]}

'
  recorded_at: Thu, 22 Jul 2021 13:53:05 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/tenants/1fdf5effc3f945688c021cd0a8b45c4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cloudInstances":[{"capabilities":[],"cloudInstanceID":"17aee7cc372344588ce43315fc30d75f","enabled":true,"href":"/pcloud/v1/cloud-instances/17aee7cc372344588ce43315fc30d75f","initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"3f5def3c-0641-4dd4-8033-294e7a0f8fb4","region":"eu-de-2"},{"capabilities":[],"cloudInstanceID":"1e2141a3a00f4ea09cb29ed55d090421","enabled":t[...]
