---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token#apikey
    body:
      encoding: UTF-8
      string: apikey=IBM_CLOUD_POWERVS_API_KEY&grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ibm-Cloud-Service-Name:
      - iam-identity
      X-Correlation-Id:
      - YnNzOGw-5a3b6067b977457795be3debcfda6740
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.cb17dd17.1750863186.c79fb207
      X-Proxy-Upstream-Service-Time:
      - '239'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ACCESS_TOKEN","refresh_token":"REFRESH_TOKEN","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":4102466400,"scope":"ibm
        openid"}'
  recorded_at: Wed, 25 Jun 2025 14:53:06 GMT
- request:
    method: get
    uri: https://resource-controller.cloud.ibm.com/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=resource_controller;service_version=V2;operation_id=get_resource_instance
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '0'
      X-Correlation-Id:
      - 626c-6cb7c8ec7df16d7e
      X-Op-Completion-Time:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::","guid":"IBM_CLOUD_POWERVS_INSTANCE_ID","url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID","created_at":"2025-05-22T13:44:28.57250562Z","updated_at":"2025-05-22T13:45:11.597828983Z","deleted_at":null,"created_by":"IBMid-2700063YVN","updated_by":"","deleted_by":"","scheduled_reclaim_at":null,"restored_at":null,"scheduled_reclaim_by":"","restored_by":"","name":"rdr-power.control.plane.test-hcm-miq-specs","region_id":"us-east10","account_id":"1fdf5effc3f945688c021cd0a8b45c4d","reseller_channel_id":"","resource_plan_id":"f165dd34-3a40-423b-9d95-e90a23f724dd","resource_group_id":"2f9167fcfa9c4e2a951c5d8fa22bd01f","resource_group_crn":"crn:v1:bluemix:public:resource-controller::a/1fdf5effc3f945688c021cd0a8b45c4d::resource-group:2f9167fcfa9c4e2a951c5d8fa22bd01f","target_crn":"crn:v1:bluemix:public:globalcatalog::::deployment:f165dd34-3a40-423b-9d95-e90a23f724dd%3Aus-east1084023","allow_cleanup":false,"crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::","state":"active","type":"composite_instance","resource_id":"abd259f0-9990-11e8-acc8-b9f54a8f1661","dashboard_url":null,"last_operation":{"type":"create","state":"succeeded","async":true,"description":"service
        instance IBM_CLOUD_POWERVS_INSTANCE_ID was provisioned successfully for account
        1fdf5effc3f945688c021cd0a8b45c4d in region us-east10","cancelable":false,"poll":true},"resource_aliases_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_aliases","resource_bindings_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_bindings","resource_keys_url":"/v2/resource_instances/IBM_CLOUD_POWERVS_INSTANCE_ID/resource_keys","plan_history":[{"resource_plan_id":"f165dd34-3a40-423b-9d95-e90a23f724dd","start_date":"2025-05-22T13:44:28.57250562Z","requestor_id":"IBMid-2700063YVN"}],"migrated":false,"extensions":{"resourceCRNs":true},"controlled_by":"","locked":false,"onetime_credentials":false}

        '
  recorded_at: Wed, 25 Jun 2025 14:53:07 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a3669c5f-9610-4fc4-afb0-f0d8593ab8de
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"images":[{"creationDate":"2025-06-12T13:30:49.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:image:05e43ffe-bf8e-4f4a-8dd8-2ebc747e9b33","description":"","href":"/pcloud/v1/cloud-instances/9089686c4d6143a4bdcc72b197c7655d/images/05e43ffe-bf8e-4f4a-8dd8-2ebc747e9b33","imageID":"05e43ffe-bf8e-4f4a-8dd8-2ebc747e9b33","lastUpdateDate":"2025-06-12T13:30:49.000Z","name":"7300-03-00","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storagePool":"","storageType":""},{"creationDate":"2025-06-12T13:34:00.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:image:be0864af-8dda-465f-80e0-695715fb40f0","description":"","href":"/pcloud/v1/cloud-instances/9089686c4d6143a4bdcc72b197c7655d/images/be0864af-8dda-465f-80e0-695715fb40f0","imageID":"be0864af-8dda-465f-80e0-695715fb40f0","lastUpdateDate":"2025-06-12T13:34:00.000Z","name":"CentOS-Stream-9","specifications":{"architecture":"ppc64","cont[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/v1/datacenters/us-east10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - fc1a66d4-3838-41f9-b21b-13bb19142737
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"capabilities":{"cloud-connections":false,"dedicated-hosts":true,"disaster-recovery-site":true,"metrics":true,"network-security-groups":true,"power-edge-router":true,"power-vpn-connections":false},"capabilitiesDetails":{"disasterRecovery":{"asynchronousReplication":{"enabled":true,"targetLocations":[{"region":"wdc07","status":"active"}]}},"supportedSystems":{"dedicated":["s1022","s922"],"general":["e1080","s1022","e980","s922"]}},"location":{"region":"us-east10","regionDisplayName":"Dallas
        10","type":"data-center","url":"https://us-south.power-iaas.cloud.ibm.com"},"status":"active","type":"off-premises"}

        '
  recorded_at: Wed, 25 Jun 2025 14:57:45 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - f51ff3a9-534f-4abb-8ac2-4ab426c375d0
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"capabilities":["ibmi-software-licenses","linux","pinning","rhel-sap","sap","snapshots","volume-clone","shared-processor-pools"],"cloudInstanceID":"9089686c4d6143a4bdcc72b197c7655d","enabled":true,"initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"IBM_CLOUD_POWERVS_INSTANCE_ID","openstackID":"d4c477222576b7395a58a51fbee2937a","pvmInstances":[],"region":"us-east10","tenantID":"1fdf5effc3f945688c021cd0a8b45c4d","usage":{"instances":0,"memory":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0,"storageStandard":0}}

        '
  recorded_at: Wed, 25 Jun 2025 14:57:45 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/sap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 9c197f0a-f72d-42e4-8bfc-dd8a896ec6be
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"profiles":[{"certified":true,"cores":16,"defaultSystem":"e980","fullSystemProfile":false,"memory":1600,"profileID":"bh1-16x1600","saps":96000,"smtMode":8,"supportedSystems":["e880","e980"],"type":"balanced","workloadTypes":["OLAP/OLTP"]},{"certified":true,"cores":20,"defaultSystem":"e980","fullSystemProfile":false,"memory":2000,"profileID":"bh1-20x2000","saps":120000,"smtMode":8,"supportedSystems":["e880","e980"],"type":"balanced","workloadTypes":["OLAP"]},{"certified":true,"cores":22,"defaultSystem":"e980","fullSystemProfile":false,"memory":2200,"profileID":"bh1-22x2200","saps":132000,"smtMode":8,"supportedSystems":["e880","e980"],"type":"balanced","workloadTypes":["OLAP"]},{"certified":true,"cores":25,"defaultSy[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/storage-capacity/storage-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8d9ca5df-f827-4876-8f5f-ff1752752dca
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"maximumStorageAllocation":{"maxAllocationSize":184740,"storagePool":"General-Flash-53","storageType":"any"},"storageTypesCapacity":[{"maximumStorageAllocation":{"maxAllocationSize":184740,"storagePool":"General-Flash-53","storageType":"tier0"},"storagePoolsCapacity":[{"maxAllocationSize":184740,"poolName":"General-Flash-53","replicationEnabled":true,"storageHost":"ius-east10_tier3_1","storageType":"tier0","totalCapacity":512000},{"maxAllocationSize":150354,"poolName":"General-Flash-59","replicationEnabled":true,"storageHost":"ius-east10_tier3_2","storageType":"tier0","totalCapacity":512000},{"maxAllocationSize":148173,"poolName":"General-Flash-56","replicationEnabled":true,"storageHost":"ius-east10_tier1_2","storageType":"tier0","totalCapacity":512000},{"maxAllocationSize":106374,"poolName":"General-Flash-50","replicationEnabled":true,"storageHost":"ius-east10_tier1_1","storageType":"tier0","totalCapacity":51200[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8d737787-a21d-4d5a-9277-b52b66f7d9a1
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"volumes":[{"auxiliary":false,"bootable":true,"creationDate":"2025-06-25T14:44:07.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:volume:55eeb86d-80d4-4ef2-9267-0075bac0378d","diskType":"tier3","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes/55eeb86d-80d4-4ef2-9267-0075bac0378d","ioThrottleRate":"360
        iops","lastUpdateDate":"2025-06-25T14:44:25.000Z","name":"test-instance-9317b826-0002edc3-boot-0","pvmInstanceIDs":["9317b826-3660-4cf9-aa93-6d42a4643ba9"],"replicationEnabled":false,"replicationStatus":"not-capable","shareable":false,"size":120,"state":"in-use","volumeID":"55eeb86d-80d4-4ef2-9267-0075bac0378d","volumePool":"General-Flash-53","volumeType":"Tier3-General-Flash-53","wwn":"6005076813810212980000000000A9C4"},{"auxiliary":false,"bootable":true,"creationDate":"2025-06-25T14:41:27.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:volume:2b3477a2-5e5c-46fc-8906-bc2ef9166c37","diskType":"tier3","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/volumes/2b3477a2-5e5c-46fc-8906-bc2ef9166c37","ioThrottleRate":"300
        iops","lastUpdateDate":"2025-06-25T14:42:00.000Z","name":"test-inst[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a1b88bf4-6fa4-4bdf-8c67-745c5cef8006
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"pvmInstances":[{"addresses":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/test-network-pub-vlan-dns","ip":"127.0.0.171","ipAddress":"127.0.0.171","macAddress":"fa:16:3e:fd:c2:38","networkName":"test-network-pub-vlan-dns","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/test-network-vlan-jumbo","ip":"127.0.0.8","ipAddress":"127.0.0.8","macAddress":"fa:16:3e:c9:9f:58","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"creationDate":"2025-06-25T14:43:52.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:pvm-instance:9317b826-3660-4cf9-aa93-6d42a4643ba9","diskSize":120,"health":{"lastUpdate":"2025-06-25T14:57:50.080306","reason":"rmc_state
        - inactive","status":"WARNING"},"hostID":22,"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9","imageID":"e6b94e6c-8c6a-4a05-9718-afef367b4af9","maxmem":48,"maxproc":10,"memory":6,"minmem":2,"minproc":0.25,"networks":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/test-network-pub-vlan-dns","ip":"127.0.0.171","ipAddress":"127.0.0.171","macAddress":"fa:16:3e:fd:c2:38","networkName":"test-network-pub-vlan-dns","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/test-network-vlan-jumbo","ip":"127.0.0.8","ipAddress":"127.0.0.8","macAddress":"fa:16:3e:c9:9f:58","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"operatingSystem":"Unknown","osType":"rhel","pinPolicy":"none","placementGroup":"b52c11cb-b6bf-45a0-a376-242f4217ca6f","procType":"shared","processors":1.25,"pvmInstanceID":"9317b826-3660-4cf9-aa93-6d42a4643ba9","serverName":"test-instance-rhcos-s922-shared-tier3","srcs":[],"status":"ACTIVE","storagePool":"General-Flash-53","storagePoolAffinity":true,"storageType":"any","sysType":"s922","updatedDate":"2025-06-25T14:43:52.000Z","virtualCores":{"assigned":2,"max":16,"min":1}},{"addresses":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/c717671d-baae-4955-879f-0588ef5171bb/networks/test-network-pub-vlan","ip":"127.0.0.51","ipAddress":"127.0.0.51","macAddress":"fa:16:3e:54:22:62","networkName":"test-network-pub-vlan","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/c717671d-baae-4955-879f-0588ef5171bb/networks/test-network-vlan","ip":"127.0.0.222","ipAddress":"127.0.0.222","[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 0cf9a007-8b2c-42ad-af40-d87f19708bd7
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"addresses":[{"externalIP":"127.0.0.203","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/fbace7a8-4fa7-48b9-a21f-3bee8f9ac1e7","ip":"127.0.0.171","ipAddress":"127.0.0.171","macAddress":"fa:16:3e:fd:c2:38","networkID":"fbace7a8-4fa7-48b9-a21f-3bee8f9ac1e7","networkInterfaceID":"ef882de7-3959-4217-89c4-89db3edb6eff","networkName":"test-network-pub-vlan-dns","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/75a55a9f-1038-4495-9c3f-f7c113670c2e","ip":"127.0.0.8","ipAddress":"127.0.0.8","macAddress":"fa:16:3e:c9:9f:58","networkID":"75a55a9f-1038-4495-9c3f-f7c113670c2e","networkInterfaceID":"1c3e5c91-3c61-49f2-a55f-082958467a67","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"creationDate":"2025-06-25T14:43:52.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:pvm-instance:9317b826-3660-4cf9-aa93-6d42a4643ba9","diskSize":120,"health":{"lastUpdate":"2025-06-25T14:57:54.903478","reason":"rmc_state
        - inactive","status":"WARNING"},"hostID":22,"imageID":"e6b94e6c-8c6a-4a05-9718-afef367b4af9","maxmem":48,"maxproc":10,"memory":6,"migratable":false,"minmem":2,"minproc":0.25,"networkIDs":["fbace7a8-4fa7-48b9-a21f-3bee8f9ac1e7","75a55a9f-1038-4495-9c3f-f7c113670c2e"],"networks":[{"externalIP":"127.0.0.203","href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/fbace7a8-4fa7-48b9-a21f-3bee8f9ac1e7","ip":"127.0.0.171","ipAddress":"127.0.0.171","macAddress":"fa:16:3e:fd:c2:38","networkID":"fbace7a8-4fa7-48b9-a21f-3bee8f9ac1e7","networkInterfaceID":"ef882de7-3959-4217-89c4-89db3edb6eff","networkName":"test-network-pub-vlan-dns","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/9317b826-3660-4cf9-aa93-6d42a4643ba9/networks/75a55a9f-1038-4495-9c3f-f7c113670c2e","ip":"127.0.0.8","ipAddress":"127.0.0.8","macAddress":"fa:16:3e:c9:9f:58","networkID":"75a55a9f-1038-4495-9c3f-f7c113670c2e","networkInterfaceID":"1c3e5c91-3c61-49f2-a55f-082958467a67","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"operatingSystem":"Unknown","osType":"rhel","pinPolicy":"none","placementGroup":"b52c11cb-b6bf-45a0-a376-242f4217ca6f","procType":"shared","processors":1.25,"pvmInstanceID":"9317b826-3660-4cf9-aa93-6d42a4643ba9","serverName":"test-instance-rhcos-s922-shared-tier3","srcs":[],"status":"ACTIVE","storagePool":"General-Flash-53","storagePoolAffinity":true,"storageType":"any","sysType":"s922","updatedDate":"2025-06-25T14:43:52.000Z","virtualCores":{"assigned":2,"max":16,"min":1},"volumeIDs":["55eeb86d-80d4-4ef2-9267-0075bac0378d"]}

        '
  recorded_at: Wed, 25 Jun 2025 14:57:56 GMT
[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/images/52ff78a6-d303-42e3-9704-9c0693aed0b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 1338055b-7dc2-4031-ba02-8486d6aca5d5
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"description":"image does not exist. ID: 52ff78a6-d303-42e3-9704-9c0693aed0b0","error":"image
        not found"}

        '
  recorded_at: Wed, 25 Jun 2025 14:58:02 GMT
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/stock-images/52ff78a6-d303-42e3-9704-9c0693aed0b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 3a348478-3752-4c4c-8df7-9a58a48cb944
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"creationDate":"2024-12-05T01:08:52.000Z","imageID":"52ff78a6-d303-42e3-9704-9c0693aed0b0","lastUpdateDate":"2025-06-18T17:05:49.000Z","maxImageVolumeSize":100,"name":"SLES15-SP6-BYOL","servers":[],"size":100,"specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"little-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"sles"},"state":"active","storagePool":"General-Flash-53","storageType":"tier3","volumes":[{"bootable":true,"name":"Imported
        image volume","size":100,"volumeID":"08717c07-f68c-4473-9dc4-69cb5dd5933d"}]}

        '
  recorded_at: Wed, 25 Jun 2025 14:58:13 GMT
[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/04c9a30d-c8d5-46cb-849b-0f7fa5004b70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a44450a3-c2e5-4d81-856d-7d5acca27556
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
      - crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::|
        -> private.us-south.power-iaas.cloud.ibm.com
      X-Debug-Host-Header:
      - private.us-south.power-iaas.cloud.ibm.com
    body:
      encoding: ASCII-8BIT
      string: '{"addresses":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/04c9a30d-c8d5-46cb-849b-0f7fa5004b70/networks/75a55a9f-1038-4495-9c3f-f7c113670c2e","ip":"127.0.0.1","ipAddress":"127.0.0.1","macAddress":"fa:16:3e:a1:4d:23","networkID":"75a55a9f-1038-4495-9c3f-f7c113670c2e","networkInterfaceID":"3ba26bdf-adea-4fae-a99b-4dfbfadac1f1","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"consoleLanguage":{"code":"037","language":"037
        English"},"creationDate":"2025-06-25T14:33:31.000Z","crn":"crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID:pvm-instance:04c9a30d-c8d5-46cb-849b-0f7fa5004b70","diskSize":100,"health":{"lastUpdate":"2025-06-25T14:58:49.785616","status":"OK"},"hostID":79,"imageID":"0e09362f-08dd-4fff-ae7b-c389b81ab7bd","maxmem":16,"maxproc":2,"memory":2,"migratable":false,"minmem":2,"minproc":0.25,"networkIDs":["75a55a9f-1038-4495-9c3f-f7c113670c2e"],"networks":[{"href":"/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/pvm-instances/04c9a30d-c8d5-46cb-849b-0f7fa5004b70/networks/75a55a9f-1038-4495-9c3f-f7c113670c2e","ip":"127.0.0.1","ipAddress":"127.0.0.1","macAddress":"fa:16:3e:a1:4d:23","networkID":"75a55a9f-1038-4495-9c3f-f7c113670c2e","networkInterfaceID":"3ba26bdf-adea-4fae-a99b-4dfbfadac1f1","networkName":"test-network-vlan-jumbo","type":"fixed","version":4}],"operatingSystem":"V7R5M0
        410 5","osType":"ibmi","pinPolicy":"soft","placementGroup":"69ac6b47-912e-4346-8804-da768f4aa789","procType":"capped","processors":0.25,"pvmInstanceID":"04c9a30d-c8d5-46cb-849b-0f7fa5004b70","serverName":"test-instance-ibmi-s922-capped-tier1","softwareLicenses":{"ibmiCSS":false,"ibmiDBQ":false,"ibmiPHA":false,"ibmiRDS":false},"srcs":[[{"src":"A6005008","timestamp":"2025-06-25T15:25:10Z"},{"src":"03B00061","timestamp":"2025-06-25T15:25:10Z"},{"src":"FFFF0000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"50070404","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"},{"src":"00000000","timestamp":"2025-06-25T15:25:10Z"}]],"status":"ACTIVE","storagePool":"General-Flash-53","storagePoolAffinity":true,"storageType":"any","sysType":"s922","updatedDate":"2025-06-25T14:33:31.000Z","virtualCores":{"assigned":1,"max":4,"min":1},"volumeIDs":["b6a90aec-fce5-4640-9a99-140e8af2b103"]}

        '
  recorded_at: Wed, 25 Jun 2025 14:59:00 GMT
[...]
- request:
    method: get
    uri: https://us-east.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/IBM_CLOUD_POWERVS_INSTANCE_ID/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:us-east10:a/1fdf5effc3f945688c021cd0a8b45c4d:IBM_CLOUD_POWERVS_INSTANCE_ID::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - ce8838ad-b883-44a7-a5ec-53ba9bdfeebb
      X-Debug-Num:
      - '221'
      X-Debug-Downstream:
[...]
