---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token#apikey
    body:
      encoding: UTF-8
      string: apikey=IBM_CLOUD_POWERVS_API_KEY&grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - aWFtaWQtNi42LTEwOTg4LWZmMDhhMWUtNjRmNmZiZmM2Ni14cDVubA-1d6b4a34ebcc453ba26696524c4b31c3
      Content-Type:
      - application/json
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDYxOTE4MzciLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC0yNzAwMDYzWVZOIiwiaWQiOiJJQk1pZC0yNzAwMDYzWVZOIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiOGUzOGQwZmYtZjFjOC00ZjliLTkwYTMtZWI0MjExZDEyOWU3IiwiaWRlbnRpZmllciI6IjI3MDAwNjNZVk4iLCJnaXZlbl9uYW1lIjoiSkFZIiwiZmFtaWx5X25hbWUiOiJDQVJNQU4iLCJuYW1lIjoiSkFZIENBUk1BTiIsImVtYWlsIjoiandjYXJtYW5AdXMuaWJtLmNvbSIsInN1YiI6Imp3Y2FybWFuQHVzLmlibS5jb20iLCJhdXRobiI6eyJzdWIiOiJqd2Nhcm1hbkB1cy5pYm0uY29tIiwiaWFtX2lkIjoiaWFtLTI3MDAwNjNZVk4iLCJuYW1lIjoiSkFZIENBUk1BTiIsImdpdmVuX25hbWUiOiJKQVkiLCJmYW1pbHlfbmFtZSI6IkNBUk1BTiIsImVtYWlsIjoiandjYXJtYW5AdXMuaWJtLmNvbSJ9LCJhY2NvdW50Ijp7ImJvdW5kYXJ5IjoiZ2xvYmFsIiwidmFsaWQiOnRydWUsImJzcyI6IjFmZGY1ZWZmYzNmOTQ1Njg4YzAyMWNkMGE4YjQ1YzRkIiwiaW1zX3VzZXJfaWQiOiI3NzcxNDIwIiwiZnJvemVuIjp0cnVlLCJpbXMiOiIxODMwMTA5In0sImlhdCI6MTYyNTY2MTAxOCwiZXhwIjoxNjI1NjY0NjE4LCJpc3MiOiJodHRwczovL2lhbS5jbG91ZC5pYm0uY29tL2lkZW50aXR5IiwiZ3JhbnRfdHlwZSI6InVybjppYm06cGFyYW1zOm9hdXRoOmdyYW50LXR5cGU6YXBpa2V5Iiwic2NvcGUiOiJpYm0gb3BlbmlkIiwiY2xpZW50X2lkIjoiZGVmYXVsdCIsImFjciI6MSwiYW1yIjpbInB3ZCJdfQ.bTcCxE5ZiOHRKinm9xBQbC8lU5YOv3VG0eOkRf7nod6pLS09_7jIy_e5sAtdzbos-w7r5_NfLbApzCerHqnFM2m9AWquZxrujqWULccqG4zR6zciK53LNHIEZTz8EC0gqGi6GypOwhVRnIt2vNZ8RZMhv8ErC7LueD9QTU90sEkKucuPEtEw7MsStfr0lqU5NhTiq39R3ZucbO4hrYaR1yHB5YTPmtktKWpHXZnX7dKyQWRSrIRIaOE_mZwBMy4_IBaoO9YgDMUGTLsogSj33yovOAmQm7ex4HhbiAj6dT3A3lHuPjQelB0oLnLtsXdKyfUnNb9q6fcuq9Ey32kk2w","refresh_token":"not_supported","ims_user_id":7771420,"token_type":"Bearer","expires_in":3600,"expiration":1625664618,"scope":"ibm
        openid"}'
  recorded_at: Wed, 07 Jul 2021 12:30:21 GMT
- request:
    method: get
    uri: https://resource-controller.cloud.ibm.com/v2/resource_instances/3ea904f1-67df-4ae0-960f-e13ffa469f12
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=resource_controller;service_version=V2;operation_id=get_resource_instance
      Authorization:
      - Bearer eyJraWQiOiIyMDIxMDYxOTE4MzciLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC0yNzAwMDYzWVZOIiwiaWQiOiJJQk1pZC0yNzAwMDYzWVZOIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiOGUzOGQwZmYtZjFjOC00ZjliLTkwYTMtZWI0MjExZDEyOWU3IiwiaWRlbnRpZmllciI6IjI3MDAwNjNZVk4iLCJnaXZlbl9uYW1lIjoiSkFZIiwiZmFtaWx5X25hbWUiOiJDQVJNQU4iLCJuYW1lIjoiSkFZIENBUk1BTiIsImVtYWlsIjoiandjYXJtYW5AdXMuaWJtLmNvbSIsInN1YiI6Imp3Y2FybWFuQHVzLmlibS5jb20iLCJhdXRobiI6eyJzdWIiOiJqd2Nhcm1hbkB1cy5pYm0uY29tIiwiaWFtX2lkIjoiaWFtLTI3MDAwNjNZVk4iLCJ[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"images":[{"creationDate":"2021-05-14T13:11:08.000Z","description":"","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/images/0dbe9ca3-a65a-432e-adf4-71115b479414","imageID":"0dbe9ca3-a65a-432e-adf4-71115b479414","lastUpdateDate":"2021-06-07T15:37:12.000Z","name":"7100-05-05","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storagePool":"Tier3-Flash-1","storageType":"tier3"},{"creationDate":"2021-05-14T13:12:22.000Z","description":"","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/images/53fb57f3-5d6f-4033-a1c1-1c74d5e21560","imageID":"53fb57f3-5d6f-4033-a1c1-1c74d5e21560","lastUpdateDate":"2021-06-07T15:37:12.000Z","name":"7200-04-01","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storage[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/images/0dbe9ca3-a65a-432e-adf4-71115b479414
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"creationDate":"2021-05-14T13:11:08.000Z","imageID":"0dbe9ca3-a65a-432e-adf4-71115b479414","lastUpdateDate":"2021-06-07T15:37:12.000Z","name":"7100-05-05","servers":["powervs-aix"],"size":20,"specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storagePool":"Tier3-Flash-1","storageType":"tier3","volumes":[{"bootable":true,"name":"volume-5818fde64f5d-77101--52c683d6-22f7","size":20,"volumeID":"5c036750-c88e-460a-a0a5-585048c07b07"}]}

        '
  recorded_at: Wed, 07 Jul 2021 12:30:25 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/system-pools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"e980":{"capacity":{"cores":143,"memory":22705},"coreMemoryRatio":64,"maxAvailable":{"cores":26.75,"memory":16496},"maxCoresAvailable":{"cores":26.75,"memory":16496},"maxMemoryAvailable":{"cores":26.75,"memory":16496},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":26.75,"id":1,"memory":16496},{"cores":25.5,"id":2,"memory":15984}],"type":"e980"},"s922":{"capacity":{"cores":15,"memory":927},"coreMemoryRatio":64,"maxAvailable":{"cores":6.5,"memory":864},"maxCoresAvailable":{"cores":6.5,"memory":586},"maxMemoryAvailable":{"cores":2,"memory":864},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":6.5,"id":26,"memory":586},{"cores":5.75,"id":20,"memory":448},{"cores":5.75,"id":25,"memory":615},{"cores":5.75,"id":8,"memory":631},{"cores":5.75,"id":13,"memory":501},{"cores":5.5,"id":3,"memory":686},{"cores":5.5,"id":10,"memory":569},{"cores":5.5,"id":24,"memory":516},{"cores":5.25,"id":7,"memory":601},{"cores":5.25,"id":12,"memory":715},{"cores":5.25,"id":17,"memory":583},{"cores":5,"id":6,"memory":666},{"cores":5,"id":5,"memory":532},{"cores":5,"id":19,"memory":664},{"cores":4.75,"id":21,"memory":698},{"cores":4.75,"id":22,"memory":601},{"cores":4.75,"id":18,"memory":535},{"cores":4.5,"id":9,"memory":550},{"cores":4.5,"id":23,"memory":513},{"cores":3.75,"id":14,"memory":698},{"cores":3.5,"id":4,"memory":635},{"cores":3,"id":16,"memory":431},{"cores":2,"id":11,"memory":864}],"type":"s922"}}

        '
  recorded_at: Wed, 07 Jul 2021 12:30:42 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"capabilities":["pinning","ibmi-software-licenses","snapshots","volume-clone","linux","sap","rhel-sap"],"cloudInstanceID":"5818fde64f5d409b906226c5c0c27654","enabled":true,"initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"3ea904f1-67df-4ae0-960f-e13ffa469f12","openstackID":"5572ef76-016f-454e-894c-a553265bc8e1","pvmInstances":[],"region":"sao01","tenantID":"1fdf5effc3f945688c021cd0a8b45c4d","usage":{"instances":0,"memory":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0,"storageStandard":0}}

        '
  recorded_at: Wed, 07 Jul 2021 12:30:44 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/sap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profiles":[{"certified":true,"cores":16,"memory":1600,"profileID":"bh1-16x1600","type":"balanced"},{"certified":true,"cores":20,"memory":2000,"profileID":"bh1-20x2000","type":"balanced"},{"certified":true,"cores":22,"memory":2200,"profileID":"bh1-22x2200","type":"balanced"},{"certified":true,"cores":25,"memory":2500,"profileID":"bh1-25x2500","type":"balanced"},{"certified":true,"cores":30,"memory":3000,"profileID":"bh1-30x3000","type":"balanced"},{"certified":true,"cores":35,"memory":3500,"profileID":"bh1-35x3500","type":"balanced"},{"certified":true,"cores":4[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/storage-capacity/storage-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maximumStorageAllocation":{"maxAllocationSize":317253,"storagePool":"Tier3-Flash-1","storageType":"tier3"},"storageTypesCapacity":[{"maximumStorageAllocation":{"maxAllocationSize":315092,"storagePool":"Tier1-Flash-2","storageType":"tier1"},"storagePoolsCapacity":[{"maxAllocationSize":306654,"poolName":"Tier1-Flash-1","storageType":"tier1","totalCapacity":390092},{"maxAllocationSize":315092,"poolName":"Tier1-Flash-2","storageType":"tier1","totalCapacity":390092}],"storageType":"tier1"},{"maximumStorageAllocation":{"maxAllocationSize":317253,"storagePool":"Tier3-Flash-1","storageType":"tier3"},"storagePoolsCapacity":[{"maxAllocationSize":296896,"poolName":"Tier3-Flash-2","storageType":"tier3","totalCapacity":390092},{"maxAllocationSize":317253,"poolName":"Tier3-Flash-1","storageType":"tier3","totalCapacity":390092}],"storageType":"tier3"}]}

        '
  recorded_at: Wed, 07 Jul 2021 12:30:47 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"volumes":[{"bootVolume":false,"bootable":true,"creationDate":"2021-07-07T03:15:46.000Z","diskType":"tier1","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/volumes/56627cc4-9e5b-4508-9f93-657efbbb8daf","lastUpdateDate":"2021-07-07T03:16:11.000Z","name":"powervs-cento-ee3b7290-00003612-boot-0","pvmInstanceIDs":["ee3b7290-0a1d-4107-851b-e879e3a15ad0"],"shareable":false,"size":250,"state":"in-use","volumeID":"56627cc4-9e5b-4508-9f93-657efbbb8daf","volumePool":"Tier1-Flash-2","volumeType":"Tier1-Flash-2","wwn":"6005076810810261F800000000001334"},{"bootVolume":false,"bootable":true,"creationDate":"2021-07-07T03:15:03.000Z","diskType":"tier3","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/volumes/0f8535b9-5c45-4154-a89e-e458b41551f7","lastUpdateDate":"2021-07-07T03:15:20.000Z","name":"powervs-aix-b898b0cd-00003611-boot-0","pvmInstanceIDs":["b898b0cd-463b-4b05-90d3-b98f73234e8f"],"shareable":false,"size":20,"state":"in-use","volumeID":"0f8535b9-5c45-4154-a89e-e458b41551f7","volumePoo[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/volumes/56627cc4-9e5b-4508-9f93-657efbbb8daf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"bootable":true,"creationDate":"2021-07-07T03:15:46.000Z","diskType":"tier1","lastUpdateDate":"2021-07-07T03:16:11.000Z","name":"powervs-cento-ee3b7290-00003612-boot-0","pvmInstanceIDs":["ee3b7290-0a1d-4107-851b-e879e3a15ad0"],"shareable":false,"size":250,"state":"in-use","volumeID":"56627cc4-9e5b-4508-9f93-657efbbb8daf","volumePool":"Tier1-Flash-2","volumeType":"Tier1-Flash-2","wwn":"6005076810810261F800000000001334"}

        '
  recorded_at: Wed, 07 Jul 2021 12:30:50 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/pvm-instances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pvmInstances":[{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/private-network-2","ip":"127.0.0.66","ipAddress":"127.0.0.66","macAddress":"fa:4e:9d:f1:5a:21","networkName":"private-network-2","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/public-192_168_172_72-29-VLAN_2037","ip":"127.0.0.74","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"creationDate":"2021-07-07T03:15:37.000Z","diskSize":250,"health":{"lastUpdate":"2021-07-07T12:30:56.394587","status":"OK"},"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0","imageID":"69ba10f9-4784-4e47-b377-55b60b975def","maxmem":16,"maxproc":2,"memory":2,"minmem":2,"minproc":0.25,"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/private-network-2","ip":"127.0.0.66","ipAddress":"127.0.0.66","macAddress":"fa:4e:9d:f1:5a:21","networkName":"private-network-2","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/public-192_168_172_72-29-VLAN_2037","ip":"127.0.0.74","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"operatingSystem":"Linux/CentOS
        Linux 4.18.0-127.0.0.el8_3.ppc8, 8","osType":"rhel","pinPolicy":"none","procType":"shared","processors":0.25,"pvmInstanceID":"ee3b7290-0a1d-4107-851b-e879e3a15ad0","serverName":"powervs-centos","srcs":[],"status":"ACTIVE","sysType":"s922","updatedDate":"2021-07-07T03:15:37.000Z","virtualCores":{"assigned":1,"max":5,"min":1}},{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/b898b0cd-463b-4b05-90d3-b98f73234e8f/networks/private-network-1","ip":"127.0.0.145","ipAddress":"127.0.0.145","macAddress":"fa:d9:90:05:76:21","networkName":"private-network-1","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/b898b0cd-463b-4b05-90d3-b98f73234e8f/networks/public-192_168_172_72-29-VLAN_2037","ip":"127.0.0[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/dd93ecbf-f680-4478-b7a2-80b9f482a647","ip":"127.0.0.66","ipAddress":"127.0.0.66","macAddress":"fa:4e:9d:f1:5a:21","networkID":"dd93ecbf-f680-4478-b7a2-80b9f482a647","networkName":"private-network-2","type":"fixed","version":4},{"externalIP":"127.0.0.74","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","ip":"127.0.0.74","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"creationDate":"2021-07-07T03:15:37.000Z","diskSize":250,"health":{"lastUpdate":"2021-07-07T12:30:57.239520","status":"OK"},"imageID":"69ba10f9-4784-4e47-b377-55b60b975def","maxmem":16,"maxproc":2,"memory":2,"migratable":false,"minmem":2,"minproc":0.25,"networkIDs":["dd93ecbf-f680-4478-b7a2-80b9f482a647","2126f163-ab11-471a-95a5-7003f23ae9e2"],"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/dd93ecbf-f680-4478-b7a2-80b9f482a647","ip":"127.0.0.66","ipAddress":"127.0.0.66","macAddress":"fa:4e:9d:f1:5a:21","networkID":"dd93ecbf-f680-4478-b7a2-80b9f482a647","networkName":"private-network-2","type":"fixed","version":4},{"externalIP":"127.0.0.74","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","ip":"127.0.0.74","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"operatingSystem":"Linux/CentOS
        Linux 4.18.0-127.0.0.el8_3.ppc8, 8","osType":"rhel","pinPolicy":"none","placementGroup":"none","procType":"shared","processors":0.25,"pvmInstanceID":"ee3b7290-0a1d-4107-851b-e879e3a15ad0","serverName":"powervs-centos","srcs":[],"status":"ACTIVE","storageType":"tier1","sysType":"s922","updatedDate":"2021-07-07T03:15:37.000Z","virtualCores":{"assigned":1,"max":5,"min":1},"volumeIDs":["56627cc4-9e5b-4508-9f93-657efbbb8daf"]}

        '
  recorded_at: Wed, 07 Jul 2021 12:30:58 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","jumbo":true,"name":"public-192_168_172_72-29-VLAN_2037","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","type":"pub-vlan","vlanID":2037},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/caf12e74-8b75-46db-8bd0-4aded9fcfbc5","jumbo":true,"name":"private-network-1","networkID":"caf12e74-8b75-46db-8bd0-4aded9fcfbc5","type":"vlan","vlanID":329},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/dd93ecbf-f680-4478-b7a2-80b9f482a647","jumbo":true,"name":"private-network-2","networkID":"dd93ecbf-f680-4478-b7a2-80b9f482a647","type":"vlan","vlanID":330}]}

        '
  recorded_at: Wed, 07 Jul 2021 12:31:15 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks/2126f163-ab11-471a-95a5-7003f23ae9e2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cidr":"127.0.0.72/29","dnsServers":["127.0.0.9"],"gateway":"127.0.0.73","ipAddressMetrics":{"available":3,"total":5,"used":2,"utilization":40},"ipAddressRanges":[{"endingIPAddress":"127.0.0.78","startingIPAddress":"127.0.0.74"}],"jumbo":true,"name":"public-192_168_172_72-29-VLAN_2037","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","publicIPAddressRanges":[{"endingIPAddress":"127.0.0.78","startingIPAddress":"127.0.0.74"}],"type":"pub-vlan","vlanID":2037}

        '
  recorded_at: Wed, 07 Jul 2021 12:31:16 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ports":[{"description":"","externalIP":"127.0.0.74","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports/031b4aa3-7d29-4ee2-bac3-96d6b9893d16","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","portID":"031b4aa3-7d29-4ee2-bac3-96d6b9893d16","pvmInstance":{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0","pvmInstanceID":"ee3b7290-0a1d-4107-851b-e879e3a15ad0"},"status":"ACTIVE"},{"description":"","externalIP":"127.0.0.77","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports/7c276396-b967-4228-846c-c7b1b6b17858","ipAddress":"127.0.0.77","macAddress":"fa:d9:90:05:76:20","portID":"7c276396-b967-4228-846c-c7b1b6b17858","pvmInstance":{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/b898b0cd-463b-4b05-90d3-b98f73234e8f","pvmInstanceID":"b898b0cd-463b-4b05-90d3-b98f73234e8f"},"status":"ACTIVE"}]}

        '
  recorded_at: Wed, 07 Jul 2021 12:31:16 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/tenants/1fdf5effc3f945688c021cd0a8b45c4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cloudInstances":[{"capabilities":[],"cloudInstanceID":"17aee7cc372344588ce43315fc30d75f","enabled":true,"href":"/pcloud/v1/cloud-instances/17aee7cc372344588ce43315fc30d75f","initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"3f5def3c-0641-4dd4-8033-294e7a0f8fb4","region":"eu-de-2"},{"capabilities":[],"cloudInstanceID":"1e2141a3a00f4ea09cb29ed55d090421","enabled":t[...]
