---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token#apikey
    body:
      encoding: UTF-8
      string: apikey=IBM_CLOUD_POWERVS_API_KEY&grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - aWFtaWQtNi44LTExNjA1LWVlZGM5NzAtNmM0OWRkNDU5Ny12eGc1dA-bfde2f3df20241808efbfca0f9a331b5
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      Akamai-Grn:
      - 0.ad5dda17.1630520817.5ab03
      X-Proxy-Upstream-Service-Time:
      - '1284'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJraWQiOiIyMDIxMDgxOTA4MTciLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC01NTAwMDJZWDVOIiwiaWQiOiJJQk1pZC01NTAwMDJZWDVOIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiOWNkZmJhMGYtMTljZi00MDRkLWFmNzUtZjkyYTU2NWFmYmM2IiwiaWRlbnRpZmllciI6IjU1MDAwMllYNU4iLCJnaXZlbl9uYW1lIjoiS3VsZGlwIiwiZmFtaWx5X25hbWUiOiJOYW5kYSIsIm5hbWUiOiJLdWxkaXAgTmFuZGEiLCJlbWFpbCI6Ikt1bGRpcC5OYW5kYUBpYm0uY29tIiwic3ViIjoiS3VsZGlwLk5hbmRhQGlibS5jb20iLCJhdXRobiI6eyJzdWIiOiJLdWxkaXAuTmFuZGFAaWJtLmNvbSIsImlhbV9pZCI6IklCTWlkLTU1MDAwMllYNU4iLCJuYW1lIjoiS3VsZGlwIE5hbmRhIiwiZ2l2ZW5fbmFtZSI6Ikt1bGRpcCIsImZhbWlseV9uYW1lIjoiTmFuZGEiLCJlbWFpbCI6Ikt1bGRpcC5OYW5kYUBpYm0uY29tIn0sImFjY291bnQiOnsiYm91bmRhcnkiOiJnbG9iYWwiLCJ2YWxpZCI6dHJ1ZSwiYnNzIjoiMWZkZjVlZmZjM2Y5NDU2ODhjMDIxY2QwYThiNDVjNGQiLCJpbXNfdXNlcl9pZCI6IjgwMzEzODgiLCJmcm96ZW4iOnRydWUsImltcyI6IjE4MzAxMDkifSwiaWF0IjoxNjMwNTIwODE1LCJleHAiOjE2MzA1MjQ0MTUsImlzcyI6Imh0dHBzOi8vaWFtLmNsb3VkLmlibS5jb20vaWRlbnRpdHkiLCJncmFudF90eXBlIjoidXJuOmlibTpwYXJhbXM6b2F1dGg6Z3JhbnQtdHlwZTphcGlrZXkiLCJzY29wZSI6ImlibSBvcGVuaWQiLCJjbGllbnRfaWQiOiJkZWZhdWx0IiwiYWNyIjoxLCJhbXIiOlsicHdkIl19.RZXgk8a1N5kcu6z1WlLmiToymd9KfRd1Fm3D7nE90BXonZDqW6xg_voIvP1expoWchBPx_wL65cXgiLvS01mrSleuwGULLmhxDRZtPCeD0UWsMNKNHvfGO-uFF_CqCocglSo9zBLrhdfrUAsSPG2NKXVrRGM8m_2Ge62mXMJydCe-OvqK_2GdvXnTyBaGApfQnAE8AtZvH43nsD7_AZcwdEk0fIKtd72-wF41GCwuznw6hUUPTQvPX3GCpdMmn0jJSWo2WVI2r43-8TVPi5E0RjmgFh4ruy3B1k5xtLMPAlbcU--_uw72UYDbG3jPUt9ANSiMCv3OIHYdQh_rM-HvQ","refresh_token":"not_supported","ims_user_id":8031388,"token_type":"Bearer","expires_in":3600,"expiration":1630524415,"scope":"ibm
        openid"}'
  recorded_at: Wed, 01 Sep 2021 18:26:58 GMT
- request:
    method: get
    uri: https://resource-controller.cloud.ibm.com/v2/resource_instances/3ea904f1-67df-4ae0-960f-e13ffa469f12
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Ibmcloud-Sdk-Analytics:
      - service_name=resource_controller;service_version=V2;operation_id=get_resource_instance
      Authorization:
      - Bearer eyJraWQiOiIyMDIxMDgxOTA4MTciLCJhbGciOiJSUzI1NiJ9.eyJpYW1faWQiOiJJQk1pZC01NTAwMDJZWDVOIiwiaWQiOiJJQk1pZC01NTAwMDJZWDVOIiwicmVhbG1pZCI6IklCTWlkIiwianRpIjoiOWNkZmJhMGYtMTljZi00MDRkLWFmNzUtZjkyYTU2NWFmYmM2IiwiaWRlbnRpZmllciI6IjU1MDAwMllYNU4iLCJnaXZlbl9uYW1lIjoiS3VsZGlwIiwiZmFtaWx5X25hbWUiOiJOYW5kYSIsIm5hbWUiOiJLdWxkaXAgTmFuZGEiLCJlbWFpbCI6Ikt1bGRpcC5OYW5kYUBpYm0uY29tIiwic3ViIjoiS3VsZGlwLk5hbmRhQGlibS5jb20iLCJhdXRobiI6eyJzdWIiOiJLdWxkaXAuTmFuZGFAaWJtLmNvbSIsImlhbV9pZCI6IklCTWlkLTU1MDA[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"images":[{"creationDate":"2021-05-14T13:11:08.000Z","description":"","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/images/0dbe9ca3-a65a-432e-adf4-71115b479414","imageID":"0dbe9ca3-a65a-432e-adf4-71115b479414","lastUpdateDate":"2021-06-07T15:37:12.000Z","name":"7100-05-05","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storagePool":"Tier3-Flash-1","storageType":"tier3"},{"creationDate":"2021-05-14T13:12:22.000Z","description":"","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/images/53fb57f3-5d6f-4033-a1c1-1c74d5e21560","imageID":"53fb57f3-5d6f-4033-a1c1-1c74d5e21560","lastUpdateDate":"2021-06-07T15:37:12.000Z","name":"7200-04-01","specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","imageType":"stock","operatingSystem":"aix"},"state":"active","storage[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/system-pools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"e980":{"capacity":{"cores":143,"memory":22918},"coreMemoryRatio":64,"maxAvailable":{"cores":108,"memory":18594},"maxCoresAvailable":{"cores":108,"memory":18594},"maxMemoryAvailable":{"cores":108,"memory":18594},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":108,"id":2,"memory":18594},{"cores":35.5,"id":1,"memory":13734}],"type":"e980"},"s922":{"capacity":{"cores":15,"memory":926},"coreMemoryRatio":64,"maxAvailable":{"cores":7.75,"memory":702},"maxCoresAvailable":{"cores":7.75,"memory":621},"maxMemoryAvailable":{"cores":7,"memory":702},"sharedCoreRatio":{"default":0.25,"max":1,"min":0.05},"systems":[{"cores":7.75,"id":26,"memory":621},{"cores":7.25,"id":18,"memory":634},{"cores":7.25,"id":21,"memory":570},{"cores":7,"id":10,"memory":588},{"cores":7,"id":13,"memory":621},{"cores":7,"id":3,"memory":702},{"cores":6.5,"id":24,"memory":551},{"cores":6,"id":17,"memory":589},{"cores":5.75,"id":12,"memory":576},{"cores":5.75,"id":23,"memory":625},{"cores":5.75,"id":16,"memory":359},{"cores":5.75,"id":5,"memory":636},{"cores":5.75,"id":6,"memory":500},{"cores":5.75,"id":4,"memory":551},{"cores":5.75,"id":8,"memory":621},{"cores":5.5,"id":25,"memory":618},{"cores":5.5,"id":7,"memory":568},{"cores":5.25,"id":9,"memory":587},{"cores":4.75,"id":11,"memory":513},{"cores":4.75,"id":20,"memory":465},{"cores":3.5,"id":14,"memory":610},{"cores":2.25,"id":19,"memory":483},{"cores":2,"id":22,"memory":535}],"type":"s922"}}

'
  recorded_at: Wed, 01 Sep 2021 18:27:14 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"capabilities":["pinning","ibmi-software-licenses","snapshots","volume-clone","linux","sap","rhel-sap"],"cloudInstanceID":"5818fde64f5d409b906226c5c0c27654","enabled":true,"initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"3ea904f1-67df-4ae0-960f-e13ffa469f12","openstackID":"5572ef76-016f-454e-894c-a553265bc8e1","pvmInstances":[],"region":"sao01","tenantID":"1fdf5effc3f945688c021cd0a8b45c4d","usage":{"instances":0,"memory":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0,"storageStandard":0}}

'
  recorded_at: Wed, 01 Sep 2021 18:27:17 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/sap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profiles":[{"certified":true,"cores":16,"memory":1600,"profileID":"bh1-16x1600","type":"balanced"},{"certified":true,"cores":20,"memory":2000,"profileID":"bh1-20x2000","type":"balanced"},{"certified":true,"cores":22,"memory":2200,"profileID":"bh1-22x2200","type":"balanced"},{"certified":true,"cores":25,"memory":2500,"profileID":"bh1-25x2500","type":"balanced"},{"certified":true,"cores":30,"memory":3000,"profileID":"bh1-30x3000","type":"balanced"},{"certified":true,"cores":35,"memory":3500,"profileID":"bh1-35x3500","type":"balanced"},{"certified":true,"cores":4[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/storage-capacity/storage-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maximumStorageAllocation":{"maxAllocationSize":315000,"storagePool":"Tier1-Flash-2","storageType":"tier1"},"storageTypesCapacity":[{"maximumStorageAllocation":{"maxAllocationSize":313771,"storagePool":"Tier3-Flash-1","storageType":"tier3"},"storagePoolsCapacity":[{"maxAllocationSize":274316,"poolName":"Tier3-Flash-2","storageType":"tier3","totalCapacity":390092},{"maxAllocationSize":313771,"poolName":"Tier3-Flash-1","storageType":"tier3","totalCapacity":390092}],"storageType":"tier3"},{"maximumStorageAllocation":{"maxAllocationSize":315000,"storagePool":"Tier1-Flash-2","storageType":"tier1"},"storagePoolsCapacity":[{"maxAllocationSize":304770,"poolName":"Tier1-Flash-1","storageType":"tier1","totalCapacity":390092},{"maxAllocationSize":315000,"poolName":"Tier1-Flash-2","storageType":"tier1","totalCapacity":390092}],"storageType":"tier1"}]}

'
  recorded_at: Wed, 01 Sep 2021 18:27:21 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"volumes":[{"bootVolume":false,"bootable":true,"creationDate":"2021-08-26T12:45:09.000Z","diskType":"tier3","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/volumes/f39ff7b9-ea8d-41ea-b324-fb984333a260","lastUpdateDate":"2021-08-26T12:45:30.000Z","name":"placementgrou-9a4992ea-00004658-boot-0","pvmInstanceIDs":["9a4992ea-9aa9-4777-a18d-faffdb85939b"],"shareable":false,"size":20,"state":"in-use","volumeID":"f39ff7b9-ea8d-41ea-b324-fb984333a260","volumePool":"Tier3-Flash-1","volumeType":"Tier3-Flash-1","wwn":"6005076810810261D0000000000018B2"},{"bootVolume":false,"bootable":true,"creationDate":"2021-07-07T03:15:46.000Z","diskType":"tier1","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/volumes/56627cc4-9e5b-4508-9f93-657efbbb8daf","lastUpdateDate":"2021-07-07T03:16:11.000Z","name":"powervs-cento-ee3b7290-00003612-boot-0","pvmInstanceIDs":["ee3b7290-0a1d-4107-851b-e879e3a15ad0"],"shareable":false,"size":250,"state":"in-use","volumeID":"56627cc4-9e5b-4508-9f93-657efbbb8daf","volume[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/placement-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"placementGroups":[{"id":"7d452473-2852-4956-b22c-e77d8ae2c0fe","members":["9a4992ea-9aa9-4777-a18d-faffdb85939b"],"name":"MyAffinity-servergroup-1620150831","policy":"affinity"}]}

'
  recorded_at: Wed, 01 Sep 2021 18:27:23 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/pvm-instances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pvmInstances":[{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/9a4992ea-9aa9-4777-a18d-faffdb85939b/networks/public-192_168_172_72-29-VLAN_2037","ip":"127.0.0.76","ipAddress":"127.0.0.76","macAddress":"fa:be:1c:f5:23:20","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"creationDate":"2021-08-26T12:45:03.000Z","diskSize":20,"health":{"lastUpdate":"2021-09-01T18:27:24.754141","status":"OK"},"hostID":11,"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/9a4992ea-9aa9-4777-a18d-faffdb85939b","imageID":"f4c7fa1b-c410-48fe-91c0-196000fdabe3","maxmem":16,"maxproc":2,"memory":2,"minmem":2,"minproc":0.25,"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/9a4992ea-9aa9-4777-a18d-faffdb85939b/networks/public-192_168_172_72-29-VLAN_2037","ip":"127.0.0.76","ipAddress":"127.0.0.76","macAddress":"fa:be:1c:f5:23:20","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"operatingSystem":"AIX
        7.1, 7100-05-05-1939","osType":"aix","pinPolicy":"none","placementGroup":"7d452473-2852-4956-b22c-e77d8ae2c0fe","procType":"shared","processors":0.25,"pvmInstanceID":"9a4992ea-9aa9-4777-a18d-faffdb85939b","serverName":"placementgroupserver","srcs":[[{"src":"00000000","timestamp":"2021-08-26T12:46:57Z"}]],"status":"ACTIVE","sysType":"s922","updatedDate":"2021-08-26T12:45:03.000Z","virtualCores":{"assigned":1,"max":5,"min":1}},{"addresses":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/private-network-2","ip":"127.0.0.66","ipAddress":"127.0.0.66","macAddress":"fa:4e:9d:f1:5a:21","networkName":"private-network-2","type":"fixed","version":4},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0/networks/public-192_168_172_72-29-VLAN_2037","ip":"127.0.0.7[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/pvm-instances/9a4992ea-9aa9-4777-a18d-faffdb85939b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"addresses":[{"externalIP":"127.0.0.76","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/9a4992ea-9aa9-4777-a18d-faffdb85939b/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","ip":"127.0.0.76","ipAddress":"127.0.0.76","macAddress":"fa:be:1c:f5:23:20","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"creationDate":"2021-08-26T12:45:03.000Z","diskSize":20,"health":{"lastUpdate":"2021-09-01T18:27:25.806061","status":"OK"},"hostID":11,"imageID":"f4c7fa1b-c410-48fe-91c0-196000fdabe3","maxmem":16,"maxproc":2,"memory":2,"migratable":false,"minmem":2,"minproc":0.25,"networkIDs":["2126f163-ab11-471a-95a5-7003f23ae9e2"],"networks":[{"externalIP":"127.0.0.76","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/9a4992ea-9aa9-4777-a18d-faffdb85939b/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","ip":"127.0.0.76","ipAddress":"127.0.0.76","macAddress":"fa:be:1c:f5:23:20","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","networkName":"public-192_168_172_72-29-VLAN_2037","type":"fixed","version":4}],"operatingSystem":"AIX
        7.1, 7100-05-05-1939","osType":"aix","pinPolicy":"none","placementGroup":"7d452473-2852-4956-b22c-e77d8ae2c0fe","procType":"shared","processors":0.25,"pvmInstanceID":"9a4992ea-9aa9-4777-a18d-faffdb85939b","serverName":"placementgroupserver","srcs":[[{"src":"00000000","timestamp":"2021-08-26T12:46:57Z"}]],"status":"ACTIVE","storageType":"tier3","sysType":"s922","updatedDate":"2021-08-26T12:45:03.000Z","virtualCores":{"assigned":1,"max":5,"min":1},"volumeIDs":["f39ff7b9-ea8d-41ea-b324-fb984333a260"]}

'
  recorded_at: Wed, 01 Sep 2021 18:27:26 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/images/f4c7fa1b-c410-48fe-91c0-196000fdabe3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"bad request: cloud instance 5818fde64f5d409b906226c5c0c27654
        does not have access to image f4c7fa1b-c410-48fe-91c0-196000fdabe3","error":"bad
        request"}

'
  recorded_at: Wed, 01 Sep 2021 18:27:27 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/stock-images/f4c7fa1b-c410-48fe-91c0-196000fdabe3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"creationDate":"2020-11-24T15:59:36.000Z","imageID":"f4c7fa1b-c410-48fe-91c0-196000fdabe3","lastUpdateDate":"2021-06-07T15:38:58.000Z","name":"7100-05-05","servers":[],"size":20,"specifications":{"architecture":"ppc64","containerFormat":"bare","diskFormat":"raw","endianness":"big-endian","hypervisorType":"phyp","operatingSystem":"aix"},"state":"active","storagePool":"Tier3-Flash-1","storageType":"tier3","volumes":[{"bootable":true,"name":"Imported
        image volume","size":20,"volumeID":"7172a993-51bf-4488-a0d9-3214d8cc86f7"}]}

'
  recorded_at: Wed, 01 Sep 2021 18:27:28 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/placement-groups/none
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"placement-group does not exist, id: none","error":"placement-group
        not found"}

'
  recorded_at: Wed, 01 Sep 2021 18:27:31 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"networks":[{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2","jumbo":true,"name":"public-192_168_172_72-29-VLAN_2037","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","type":"pub-vlan","vlanID":2037},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/caf12e74-8b75-46db-8bd0-4aded9fcfbc5","jumbo":true,"name":"private-network-1","networkID":"caf12e74-8b75-46db-8bd0-4aded9fcfbc5","type":"vlan","vlanID":329},{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/dd93ecbf-f680-4478-b7a2-80b9f482a647","jumbo":true,"name":"private-network-2","networkID":"dd93ecbf-f680-4478-b7a2-80b9f482a647","type":"vlan","vlanID":330}]}

'
  recorded_at: Wed, 01 Sep 2021 18:27:35 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks/2126f163-ab11-471a-95a5-7003f23ae9e2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cidr":"127.0.0.72/29","dnsServers":["127.0.0.9"],"gateway":"127.0.0.73","ipAddressMetrics":{"available":2,"total":5,"used":3,"utilization":60},"ipAddressRanges":[{"endingIPAddress":"127.0.0.78","startingIPAddress":"127.0.0.74"}],"jumbo":true,"name":"public-192_168_172_72-29-VLAN_2037","networkID":"2126f163-ab11-471a-95a5-7003f23ae9e2","publicIPAddressRanges":[{"endingIPAddress":"127.0.0.78","startingIPAddress":"127.0.0.74"}],"type":"pub-vlan","vlanID":2037}

'
  recorded_at: Wed, 01 Sep 2021 18:27:36 GMT
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/3ea904f1-67df-4ae0-960f-e13ffa469f12/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ports":[{"description":"","externalIP":"127.0.0.74","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports/031b4aa3-7d29-4ee2-bac3-96d6b9893d16","ipAddress":"127.0.0.74","macAddress":"fa:4e:9d:f1:5a:20","portID":"031b4aa3-7d29-4ee2-bac3-96d6b9893d16","pvmInstance":{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/ee3b7290-0a1d-4107-851b-e879e3a15ad0","pvmInstanceID":"ee3b7290-0a1d-4107-851b-e879e3a15ad0"},"status":"DOWN"},{"description":"","externalIP":"127.0.0.76","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports/14927d3c-a52a-4a26-81b7-71f40519e518","ipAddress":"127.0.0.76","macAddress":"fa:be:1c:f5:23:20","portID":"14927d3c-a52a-4a26-81b7-71f40519e518","pvmInstance":{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/9a4992ea-9aa9-4777-a18d-faffdb85939b","pvmInstanceID":"9a4992ea-9aa9-4777-a18d-faffdb85939b"},"status":"ACTIVE"},{"description":"","externalIP":"127.0.0.77","href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/networks/2126f163-ab11-471a-95a5-7003f23ae9e2/ports/7c276396-b967-4228-846c-c7b1b6b17858","ipAddress":"127.0.0.77","macAddress":"fa:d9:90:05:76:20","portID":"7c276396-b967-4228-846c-c7b1b6b17858","pvmInstance":{"href":"/pcloud/v1/cloud-instances/5818fde64f5d409b906226c5c0c27654/pvm-instances/b898b0cd-463b-4b05-90d3-b98f73234e8f","pvmInstanceID":"b898b0cd-463b-4b05-90d3-b98f73234e8f"},"status":"DOWN"}]}

'
  recorded_at: Wed, 01 Sep 2021 18:27:37 GMT
[...]
- request:
    method: get
    uri: https://sao.power-iaas.cloud.ibm.com/pcloud/v1/tenants/1fdf5effc3f945688c021cd0a8b45c4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Crn:
      - 'crn:v1:bluemix:public:power-iaas:sao01:a/1fdf5effc3f945688c021cd0a8b45c4d:3ea904f1-67df-4ae0-960f-e13ffa469f12::'
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cloudInstances":[{"capabilities":[],"cloudInstanceID":"17aee7cc372344588ce43315fc30d75f","enabled":true,"href":"/pcloud/v1/cloud-instances/17aee7cc372344588ce43315fc30d75f","initialized":false,"limits":{"instanceMemory":0,"instanceProcUnits":0,"instances":0,"memory":0,"peeringBandwidth":0,"peeringNetworks":0,"procUnits":0,"processors":0,"storage":0,"storageSSD":0},"name":"3f5def3c-0641-4dd4-8033-294e7a0f8fb4","region":"eu-de-2"},{"capabilities":[],"cloudInstanceID":"1e2141a3a00f4ea09cb29ed55d090421","enabled":t[...]
